openapi: 3.2.0
info:
  title: qTest Explorer | Sessions V2 Project API
  version: 1.0.0
  description: "These APIs are for internal reference by Tricentis development team only. They are not intended to be used publicly by any qTest or non-qTest users and so there is no support provided by Tricentis at any level. If you want to access these APIs, please send a support ticket to \tsupport@tricentis.com."
servers:
- url: https://session-js.qtestnet.com/
tags:
- name: v2-project
  description: Project V2 APIs
paths:
  /permissions:
    get:
      tags:
      - v2-project
      summary: Get projects permissions
      parameters:
      - name: projectIds
        in: query
        description: list project ids
        required: true
        schema:
          type: string
      - name: system
        in: query
        schema:
          type: string
          enum:
          - qtest
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  links:
                    $ref: '#/components/schemas/Links'
                  total_record:
                    type: integer
                  total:
                    type: integer
                  permission:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectPermission'
        400:
          description: Bad Request
        401:
          description: Unauthorized
        500:
          description: Server error
      security:
      - v2_auth: []
      x-swagger-router-controller: api.project
  /projects/{projectId}/reset:
    get:
      tags:
      - v2-project
      summary: Reset Sample project data
      parameters:
      - name: projectId
        in: path
        description: Sample project's id
        required: true
        schema:
          type: integer
      - name: oldId
        in: query
        description: Old Sample project's id
        required: true
        schema:
          type: integer
      responses:
        200:
          description: OK
        400:
          description: Bad Request
        401:
          description: Unauthorized
        406:
          description: Not Acceptable
        500:
          description: Server error
      security:
      - v2_auth: []
      x-swagger-router-controller: api.project
components:
  schemas:
    Links:
      type: array
      items:
        $ref: '#/components/schemas/Link'
    Link:
      type: object
      properties:
        rel:
          type: string
        href:
          type: string
    ProjectPermission:
      type: object
      properties:
        links:
          $ref: '#/components/schemas/Links'
        system_id:
          type: string
        project_id:
          type: string
        client_id:
          type: string
        session:
          type: object
          properties:
            can_create:
              type: boolean
            can_view:
              type: boolean
            can_delete:
              type: boolean
            can_edit:
              type: boolean
  securitySchemes:
    v2_auth:
      type: apiKey
      name: Authorization
      in: header
    v3_auth:
      type: apiKey
      name: Authorization
      in: header
