openapi: 3.2.0
info:
  title: Tricentis Analytics (Tech Review) Defecttestrunlogs API
  description: Tricentis Analytics OData APIs
  version: ''
servers:
- url: https://u8.analytics.api.tricentis.com/odata/v4/38549
security:
- ApiKeyAuth: []
- BasicAuth: []
tags:
- name: defecttestrunlogs
paths:
  /defecttestrunlogs:
    get:
      summary: Get entities from defecttestrunlogs
      tags:
      - defecttestrunlogs
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - name: $filter
        description: Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/count'
      - name: $orderby
        description: Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)
        in: query
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - id
            - id desc
            - defectid
            - defectid desc
            - defectmasterid
            - defectmasterid desc
            - clientid
            - clientid desc
            - projectid
            - projectid desc
            - releaseid
            - releaseid desc
            - buildid
            - buildid desc
            - testcaseid
            - testcaseid desc
            - testcasefolderid
            - testcasefolderid desc
            - testcasemasterid
            - testcasemasterid desc
            - testrunid
            - testrunid desc
            - testcyclefolderid
            - testcyclefolderid desc
            - testsuiteid
            - testsuiteid desc
            - executionlistid
            - executionlistid desc
            - executionlistfolderid
            - executionlistfolderid desc
            - defectstatus
            - defectstatus desc
            - testlogstatus
            - testlogstatus desc
            - executiontype
            - executiontype desc
            - executionstarttimestamp
            - executionstarttimestamp desc
            - executionendtimestamp
            - executionendtimestamp desc
            - plannedstarttimestamp
            - plannedstarttimestamp desc
            - plannedendtimestamp
            - plannedendtimestamp desc
            - ismandate
            - ismandate desc
            - tester
            - tester desc
            - ssor
            - ssor desc
            - extrainfo
            - extrainfo desc
            - defectcustomfields
            - defectcustomfields desc
            - testlogcustomfields
            - testlogcustomfields desc
      - name: $select
        description: Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
        in: query
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - id
            - defectid
            - defectmasterid
            - clientid
            - projectid
            - releaseid
            - buildid
            - testcaseid
            - testcasefolderid
            - testcasemasterid
            - testrunid
            - testcyclefolderid
            - testsuiteid
            - executionlistid
            - executionlistfolderid
            - defectstatus
            - testlogstatus
            - executiontype
            - executionstarttimestamp
            - executionendtimestamp
            - plannedstarttimestamp
            - plannedendtimestamp
            - ismandate
            - tester
            - ssor
            - extrainfo
            - defectcustomfields
            - testlogcustomfields
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                type: object
                title: Collection of defecttestrunlog
                properties:
                  '@odata.count':
                    $ref: '#/components/schemas/count'
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.defecttestrunlog'
        4XX:
          $ref: '#/components/responses/error'
  /defecttestrunlogs('{id}'):
    parameters:
    - description: 'key: id'
      in: path
      name: id
      required: true
      schema:
        type:
        - string
        - 'null'
        maxLength: 32768
    get:
      summary: Get entity from defecttestrunlogs by key
      tags:
      - defecttestrunlogs
      parameters:
      - name: $select
        description: Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
        in: query
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - id
            - defectid
            - defectmasterid
            - clientid
            - projectid
            - releaseid
            - buildid
            - testcaseid
            - testcasefolderid
            - testcasemasterid
            - testrunid
            - testcyclefolderid
            - testsuiteid
            - executionlistid
            - executionlistfolderid
            - defectstatus
            - testlogstatus
            - executiontype
            - executionstarttimestamp
            - executionendtimestamp
            - plannedstarttimestamp
            - plannedendtimestamp
            - ismandate
            - tester
            - ssor
            - extrainfo
            - defectcustomfields
            - testlogcustomfields
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.defecttestrunlog'
        4XX:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items, see [Paging - Top](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)
      schema:
        type: integer
        minimum: 0
      example: 50
    count:
      name: $count
      in: query
      description: Include count of items, see [Count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items, see [Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)
      schema:
        type: integer
        minimum: 0
    search:
      name: $search
      in: query
      description: Search items by search phrases, see [Searching](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionsearch)
      schema:
        type: string
  schemas:
    error:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - code
          - message
          properties:
            code:
              type: string
            message:
              type: string
            target:
              type: string
            details:
              type: array
              items:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
            innererror:
              type: object
              description: The structure of this object is service-specific
    count:
      anyOf:
      - type: number
      - type: string
      description: The number of entities in the collection. Available when using the [$count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount) query option.
    x26997ea37814ba1b9a423c590887c7a7c1262datasource.defecttestrunlog:
      title: defecttestrunlog
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          maxLength: 32768
        defectid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        defectmasterid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        clientid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        projectid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        releaseid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        buildid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        testcaseid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        testcasefolderid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        testcasemasterid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        testrunid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        testcyclefolderid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        testsuiteid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        executionlistid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        executionlistfolderid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        defectstatus:
          type:
          - string
          - 'null'
          maxLength: 32768
        testlogstatus:
          type:
          - string
          - 'null'
          maxLength: 32768
        executiontype:
          type:
          - string
          - 'null'
          maxLength: 32768
        executionstarttimestamp:
          type:
          - string
          - 'null'
          format: date-time
          example: '2017-04-13T15:51:04.000000Z'
        executionendtimestamp:
          type:
          - string
          - 'null'
          format: date-time
          example: '2017-04-13T15:51:04.000000Z'
        plannedstarttimestamp:
          type:
          - string
          - 'null'
          format: date-time
          example: '2017-04-13T15:51:04.000000Z'
        plannedendtimestamp:
          type:
          - string
          - 'null'
          format: date-time
          example: '2017-04-13T15:51:04.000000Z'
        ismandate:
          type:
          - boolean
          - 'null'
        tester:
          type:
          - string
          - 'null'
          maxLength: 32768
        ssor:
          type:
          - string
          - 'null'
          maxLength: 32768
        extrainfo:
          type:
          - string
          - 'null'
          maxLength: 32768
        defectcustomfields:
          type:
          - string
          - 'null'
          maxLength: 32768
        testlogcustomfields:
          type:
          - string
          - 'null'
          maxLength: 32768
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
