openapi: 3.2.0
info:
  version: 2025.2.0
  title: qTest Pulse Action API
  description: Action API
servers:
- url: https://pulse-us-east-1.qtestnet.com/api
security:
- qtestToken: []
  qtestUrl: []
tags:
- name: Action
  description: Action API
paths:
  /actions:
    get:
      tags:
      - Action
      summary: Get all actions of a project
      description: To get all actions of a project
      parameters:
      - $ref: '#/components/parameters/ProjectIdQuery'
      - $ref: '#/components/parameters/FirstQuery'
      - $ref: '#/components/parameters/OffsetQuery'
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Action'
      operationId: getActions
      x-operation-id-source: derived
    post:
      tags:
      - Action
      summary: Create an action
      description: To create an action
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ActionInput'
        required: true
      operationId: postActions
      x-operation-id-source: derived
  /actions/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      tags:
      - Action
      summary: Get an action
      description: To get an action by id
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
      operationId: getActionsById
      x-operation-id-source: derived
    put:
      tags:
      - Action
      summary: Update an action
      description: To update an action
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ActionInput'
        required: true
      operationId: putActionsById
      x-operation-id-source: derived
    patch:
      tags:
      - Action
      summary: Update an action
      description: To update an action
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ActionInput'
        required: true
      operationId: patchActionsById
      x-operation-id-source: derived
    delete:
      tags:
      - Action
      summary: Delete an action
      description: To delete an action
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
      operationId: deleteActionsById
      x-operation-id-source: derived
components:
  responses:
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Default:
      description: Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Action:
      allOf:
      - $ref: '#/components/schemas/Doc'
      - $ref: '#/components/schemas/ActionInput'
    Doc:
      required:
      - id
      properties:
        id:
          type: string
    ActionInput:
      allOf:
      - $ref: '#/components/schemas/ProjectDoc'
      - required:
        - name
        properties:
          name:
            type: string
          description:
            type: string
          code:
            type: string
    Error:
      required:
      - message
      properties:
        message:
          type: string
    ProjectDoc:
      required:
      - projectId
      properties:
        projectId:
          type: string
  parameters:
    OffsetQuery:
      name: offset
      in: query
      description: Skip the first N results
      schema:
        type: integer
        format: int64
    FirstQuery:
      name: first
      in: query
      description: Return only the first N results
      schema:
        type: integer
        format: int64
    ProjectIdQuery:
      name: projectId
      in: query
      required: true
      description: ID of the project
      schema:
        type: string
    IdPath:
      name: id
      in: path
      required: true
      description: ID of the project
      schema:
        type: string
  securitySchemes:
    qtestToken:
      type: apiKey
      in: header
      name: Authorization
    qtestUrl:
      type: apiKey
      in: header
      name: x-qtest-url
externalDocs:
  description: Introduction to qTest Pulse API
  url: https://documentation.tricentis.com/qtest/od/en/content/apis/apis/common_apis.htm
