openapi: 3.2.0
info:
  title: Tricentis Project API
  version: '1.0'
  description: 'Operations tagged project across 2 of this provider''s published API definitions: tricentis-qtest-manager-openapi.yaml, tricentis-qtest-pulse-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://apitryout.qtestnet.com/
- url: https://pulse-us-east-1.qtestnet.com/api
tags:
- name: Project
  description: Project API
paths:
  /api/v3/projects:
    get:
      tags:
      - Project
      summary: Gets multiple Projects
      description: 'To retrieve all Projects which the requested qTest Manager account can access to


        qTest Manager version: 4+'
      operationId: getProjects
      parameters:
      - name: expand
        in: query
        description: <em>expand=userprofile</em> - to include your profile and permissions in each project
        required: false
        schema:
          type: string
          enum:
          - userprofile
      - name: assigned
        in: query
        description: '<em>assigned=true</em> - default value. Only the projects which the requested user has access to


          <em>assigned=false</em> - Users with admin profile can use this value to retrieve all projects, regardless of having access'
        required: false
        schema:
          type: boolean
      - name: page
        in: query
        description: By default, all projects are returned; but you can specify any page number to retrieve objects
        required: false
        schema:
          type: integer
          format: int64
          default: 1
      - name: pageSize
        in: query
        description: The result is paginated. By the default, the number of objects in each page is 100 if this is omitted. You can specify your custom number (up to 999) in this parameter
        required: false
        schema:
          type: integer
          format: int64
          default: 100
      responses:
        200:
          description: ''
          headers:
            X-Item-Total:
              description: Total number of projects available
              schema:
                type: integer
                format: int32
            Link:
              description: Contain one or more hypermedia link relations
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectResource'
      security:
      - Authorization: []
    post:
      tags:
      - Project
      summary: Creates a Project
      description: 'To create a new Project


        qTest Manager version: 4+'
      operationId: createProject
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResource'
      security:
      - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectResource'
        description: "Project created properties \n\n<em>name:</em> name of project \n<em>description:</em> description of project \n<em>status_id:</em> status of project \n<em>start_date:</em> start date of project, eg: 2019-06-17T05:09:13.178Z \n<em>end_date:</em> end date of project, eg: 2019-06-27T05:09:13.178Z \n<em>admins:</em> list assigned admin of project \n<em>template_id (optional):</em> valid site template id of project. After creating a project, the valid site template filed will be applied for it \n<em>uuid (optional):</em> uuid of project. User can provide any string value for uuid, then they can used it for searching projects."
        required: true
    servers:
    - url: https://apitryout.qtestnet.com/
  /api/v3/projects/search:
    post:
      tags:
      - Project
      summary: Search for projects
      description: ''
      operationId: searchProjects
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectResource'
        403:
          description: Forbidden
      security:
      - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectQueryParams'
        description: "Project search condition properties \n\n<em>uuid:</em> list of uuid for searching"
        required: true
    servers:
    - url: https://apitryout.qtestnet.com/
  /api/v3/projects/{projectId}:
    get:
      tags:
      - Project
      summary: Gets a Project
      description: To retrieve a specific Project
      operationId: getProject
      parameters:
      - name: projectId
        in: path
        description: ID of the project
        required: true
        schema:
          type: integer
          format: int64
      - name: expand
        in: query
        description: <em>expand=userprofile</em> - include the your profile and permissions within the project in the response
        required: false
        schema:
          type: string
          enum:
          - userprofile
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResource'
      security:
      - Authorization: []
    put:
      tags:
      - Project
      summary: Updates a Project
      description: ''
      operationId: updateProject
      parameters:
      - name: projectId
        in: path
        description: ID of the project
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResource'
      security:
      - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdateResource'
        description: "Project updated properties \n\n<em>name (optional):</em> name of project \n<em>description (optional):</em> description of project \n<em>start_date (optional):</em> Start date of project, eg: 2019-06-17T05:09:13.178Z \n<em>end_date (optional):</em> End date of project, eg: 2019-06-27T05:09:13.178Z \n<em>admin_ids (optional):</em> list assigned admin ids of project \n<em>uuid (optional):</em> uuid of project. User can provide any string value for uuid, then they can used it for searching projects. \n<em>template_id (optional):</em> site template id of project. When changing site template id, the project will be removed from old site template id and the new site template will be applied to it."
        required: true
    servers:
    - url: https://apitryout.qtestnet.com/
  /api/v3/projects/{projectId}/user-profiles/current:
    get:
      tags:
      - Project
      summary: Gets current user Permissions in a Project
      description: 'To retrieve your Permissions in a Project


        qTest Manager version: 4+'
      operationId: getCurrentProfile
      parameters:
      - name: projectId
        in: path
        description: ID of the project
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
      security:
      - Authorization: []
    servers:
    - url: https://apitryout.qtestnet.com/
  /api/v3/projects/{projectId}/users:
    get:
      tags:
      - Project
      summary: Gets all Users in a Project
      description: 'To retrieve all members in a qTest Manager Project


        qTest Manager version: 8.4.2+'
      operationId: getUsers
      parameters:
      - name: projectId
        in: path
        description: ID of the project
        required: true
        schema:
          type: integer
          format: int64
      - name: inactive
        in: query
        description: '<em>inactive=false</em> - default value. Inactive users are excluded from the response


          <em>inactive=true</em> - inactive users are included in the response'
        required: false
        schema:
          type: boolean
          default: true
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserResource'
      security:
      - Authorization: []
    servers:
    - url: https://apitryout.qtestnet.com/
  /projects:
    get:
      tags:
      - Project
      summary: Get all projects
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
      security:
      - qtestToken: []
        qtestUrl: []
      operationId: getProjects
      x-operation-id-source: derived
    servers:
    - url: https://pulse-us-east-1.qtestnet.com/api
  /projects/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      tags:
      - Project
      summary: Get a project
      description: To get a project by id
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
      security:
      - qtestToken: []
        qtestUrl: []
      operationId: getProjectsById
      x-operation-id-source: derived
    servers:
    - url: https://pulse-us-east-1.qtestnet.com/api
components:
  schemas:
    ProjectAdminPermission:
      type: object
      properties:
        admin:
          type: boolean
          example: true
          description: Is project admin or not
    BuildPermission:
      type: object
      properties:
        create:
          type: boolean
          example: true
          description: Can create Build
        edit:
          type: boolean
          example: true
          description: Can edit Build
        delete:
          type: boolean
          example: false
          description: Can delete Build
        view:
          type: boolean
          example: true
          description: Can view Build
    ProjectQueryParams:
      type: object
      properties:
        uuid:
          type: array
          description: UUID of the Project
          items:
            type: string
    TestConfigurationPermission:
      type: object
      properties:
        create:
          type: boolean
        edit:
          type: boolean
        delete:
          type: boolean
        view:
          type: boolean
        link_unlink:
          type: boolean
    ReleasePermission:
      type: object
      properties:
        create:
          type: boolean
          example: true
          description: Can create Release
        edit:
          type: boolean
          example: true
          description: Can edit Release
        delete:
          type: boolean
          example: true
          description: Can delete Release
        view:
          type: boolean
          example: true
          description: Can view Release
    ProjectResource:
      type: object
      properties:
        links:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Link'
        id:
          type: integer
          format: int64
          example: 1
          description: ID of the Project
        name:
          type: string
          example: qConnect Sample Project
          description: Name of the Project
        description:
          type: string
          example: Description of qConnect Sample Project
          description: Description of the Project
        status_id:
          type: integer
          format: int64
          example: 101
          description: Status of the Project
        start_date:
          type: string
          format: date-time
          description: Start date of the Project
        end_date:
          type: string
          format: date-time
          description: End date of the Project
        admins:
          type: array
          description: Arrays of admin user
          items:
            type: string
        admin_ids:
          type: array
          items:
            type: integer
            format: int64
        sample:
          type: boolean
          example: true
          description: Is sample or not
        user_profile:
          $ref: '#/components/schemas/UserProfile'
        defect_tracking_systems:
          type: array
          description: Arrays of External Defect Tracking Connection
          items:
            $ref: '#/components/schemas/DefectTrackingSystem'
        x_explorer_access_level:
          type: integer
          format: int32
          example: 7
          description: Can access Explorer
        date_format:
          type: string
          example: yyyy/MM/dd
          description: Client date time format
        automation:
          type: boolean
          example: false
          description: Automation enabled or not
          readOnly: true
        template_id:
          type: integer
          format: int64
          example: 1
          description: Template id of this project
        uuid:
          type: string
          example: uuid
          description: UUID of the Project
    DefectFieldMapping:
      type: object
      properties:
        field:
          type: string
          example: Priority
          description: External tracker Defect's field
        qtest_fields:
          type: array
          description: qTest Defect's field
          items:
            type: string
            example: 101,102
    DefectMapping:
      type: object
      properties:
        type_id:
          type: integer
          format: int64
        type:
          type: string
        type_label:
          type: string
        project_id:
          type: integer
          format: int64
        project:
          type: string
        project_label:
          type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/DefectFieldMapping'
    DefectTrackingSystem:
      type: object
      properties:
        defect_mappings:
          type: array
          items:
            $ref: '#/components/schemas/DefectMapping'
        connection_name:
          type: string
          example: Jira Cloud
          description: Name of Integration Connection
        url:
          type: string
          example: https://example.jira.com
          description: URL to Integration Connection
        system_name:
          type: string
          example: JIRA
          description: System name of Integration Connection
        active:
          type: boolean
          example: true
          description: Status of Integration Connection
        id:
          type: integer
          format: int64
          example: 1
          description: ID of Integration Connection
    SchedulePermission:
      type: object
      properties:
        create:
          type: boolean
          example: true
          description: Can create schedule
        edit:
          type: boolean
          example: true
          description: Can edit schedule
        delete:
          type: boolean
          example: true
          description: Can delete schedule
        view:
          type: boolean
          example: true
          description: Can views= schedule
    TestSuitePermission:
      type: object
      properties:
        create:
          type: boolean
          example: true
          description: Can create Test Suite
        edit:
          type: boolean
          example: true
          description: Can edit Test Suite
        delete:
          type: boolean
          example: true
          description: Can delete Test Suite
        view:
          type: boolean
          example: true
          description: Can view Test Suite
    RequirementPermission:
      type: object
      properties:
        create:
          type: boolean
          example: true
          description: Can create Requirement
        edit:
          type: boolean
          example: true
          description: Can edit Requirement
        delete:
          type: boolean
          example: true
          description: Can delete Requirement
        view:
          type: boolean
          example: true
          description: Can view Requirement
        edit_assignment:
          type: boolean
          example: true
          description: Can assign user to Requirement
        export:
          type: boolean
          example: true
          description: Can export Requirement
        import:
          type: boolean
          example: true
          description: Can import Requirement
    TestCyclePermission:
      type: object
      properties:
        create:
          type: boolean
          example: true
          description: Can create Test Cycle
        edit:
          type: boolean
          example: true
          description: Can edit Test Cycle
        delete:
          type: boolean
          example: true
          description: Can edit Test Cycle
        view:
          type: boolean
          example: true
          description: Can view Test Cycle
    DefectPermission:
      type: object
      properties:
        create:
          type: boolean
          example: true
          description: Can create Defect
        edit:
          type: boolean
          example: true
          description: Can edit Defect
        delete:
          type: boolean
        view:
          type: boolean
          example: true
          description: Can view Defect
        export:
          type: boolean
          example: true
          description: Can export Defect
    TestCasePermission:
      type: object
      properties:
        create:
          type: boolean
          example: true
          description: Can create Test Case
        edit:
          type: boolean
          example: true
          description: Can edit Test Case
        delete:
          type: boolean
          example: true
          description: Can delete Test Case
        view:
          type: boolean
          example: true
          description: Can view Test Case
        edit_assignment:
          type: boolean
          example: true
          description: Can assign Test Case
        export:
          type: boolean
          example: true
          description: Can export Test Case
        import:
          type: boolean
          example: true
          description: Can import Test Case
        approve:
          type: boolean
          example: true
          description: Can approve Test Case
    ModulePermission:
      type: object
      properties:
        create:
          type: boolean
          example: true
          description: Can create Module
        edit:
          type: boolean
          example: true
          description: Can edit Module
        delete:
          type: boolean
          example: true
          description: Can delete Module
        view:
          type: boolean
          example: true
          description: Can view Module
    UserProfile:
      type: object
      properties:
        user_id:
          type: integer
          format: int64
          example: 1
          description: ID of the User
        project_id:
          type: integer
          format: int64
          example: 1
          description: ID of the Project
        release:
          $ref: '#/components/schemas/ReleasePermission'
        build:
          $ref: '#/components/schemas/BuildPermission'
        test_configuration:
          $ref: '#/components/schemas/TestConfigurationPermission'
        test_configuration_variables:
          $ref: '#/components/schemas/TestConfigurationVariablesPermission'
        module:
          $ref: '#/components/schemas/ModulePermission'
        requirement:
          $ref: '#/components/schemas/RequirementPermission'
        test_case:
          $ref: '#/components/schemas/TestCasePermission'
        test_cycle:
          $ref: '#/components/schemas/TestCyclePermission'
        test_suite:
          $ref: '#/components/schemas/TestSuitePermission'
        test_run:
          $ref: '#/components/schemas/TestRunPermission'
        defect:
          $ref: '#/components/schemas/DefectPermission'
        project_setting:
          $ref: '#/components/schemas/ProjectSettingPermission'
        session:
          $ref: '#/components/schemas/SessionManagerPermission'
        project:
          $ref: '#/components/schemas/ProjectAdminPermission'
        schedule:
          $ref: '#/components/schemas/SchedulePermission'
    ProjectUpdateResource:
      type: object
      properties:
        links:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Link'
        id:
          type: integer
          format: int64
        name:
          type: string
          example: qConnect Sample Project
          description: Name of the Project
        description:
          type: string
          example: Description of qConnect Sample Project
          description: Description of the Project
        start_date:
          type: string
          example: '2019-06-17T05:09:13.178Z'
          description: Start date of the Project
        end_date:
          type: string
          example: '2019-06-27T05:09:13.178Z'
          description: End date of the Project
        admin_ids:
          type: array
          description: Array of Assigned Admin user id
          items:
            type: integer
            format: int64
        uuid:
          type: string
          example: uuid
          description: UUID of the Project
        template_id:
          type: integer
          format: int64
          example: 1
          description: Template id of this project
    ProjectSettingPermission:
      type: object
      properties:
        manage:
          type: boolean
          example: true
          description: Can manage project setting or not
    TestConfigurationVariablesPermission:
      type: object
      properties:
        create:
          type: boolean
        edit:
          type: boolean
        delete:
          type: boolean
        view:
          type: boolean
    UserResource:
      type: object
      properties:
        links:
          type: array
          description: Link to resource
          readOnly: true
          items:
            $ref: '#/components/schemas/Link'
        id:
          type: integer
          format: int64
          example: 1
          description: ID of the User
        username:
          type: string
          example: example.user@qtest.com
          description: Login username of the User
        email:
          type: string
          example: example.user@qtest.com
          description: Contact email of the User
        password:
          type: string
          description: Password of the User
        first_name:
          type: string
          example: Example
          description: First name of the User
        last_name:
          type: string
          example: User
          description: Last name of the User
        status:
          type: integer
          format: int32
          example: 0
          description: Status of the User
        avatar:
          type: string
          example: https://apitryout.qtestnet.com/api/v3/users/1/avatar
        ldap_username:
          type: string
          description: LDAP username of the User
        user_group_ids:
          type: array
          items:
            type: integer
            format: int64
        external_auth_config_id:
          type: integer
          format: int64
          description: External authentication system id
        external_user_name:
          type: string
          description: External authentication username
    TestRunPermission:
      type: object
      properties:
        create:
          type: boolean
          example: true
          description: Can create Test Run
        edit:
          type: boolean
          example: true
          description: Can edit Test Run
        delete:
          type: boolean
          example: true
          description: Can delete Test Run
        view:
          type: boolean
          example: true
          description: Can view Test Run
        execute:
          type: boolean
          example: true
          description: Can execute Test Run
        export:
          type: boolean
          example: true
          description: Can export Test Run
        edit_assignment:
          type: boolean
          example: true
          description: Can assign user to Test Run
        modify_test_logs_by_self:
          type: boolean
        modify_test_logs_by_others:
          type: boolean
    Link:
      type: object
      properties:
        rel:
          type: string
          example: self
          description: Relationship of link to object
        href:
          type: string
          example: <link to object>
          description: URL to the resource
    SessionManagerPermission:
      type: object
      properties:
        create:
          type: boolean
          example: true
          description: Can create Session
        edit:
          type: boolean
          example: true
          description: Can edit Session
        delete:
          type: boolean
          example: true
          description: Can delete Session
        view:
          type: boolean
          example: true
          description: Can view Session
    Project:
      allOf:
      - $ref: '#/components/schemas/Doc'
      - required:
        - qtestProjectId
        - name
        properties:
          qtestProjectId:
            type: integer
            format: int64
          name:
            type: string
    Doc:
      required:
      - id
      properties:
        id:
          type: string
    Error:
      required:
      - message
      properties:
        message:
          type: string
  responses:
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Default:
      description: Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    IdPath:
      name: id
      in: path
      required: true
      description: ID of the project
      schema:
        type: string
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
    qtestToken:
      type: apiKey
      in: header
      name: Authorization
    qtestUrl:
      type: apiKey
      in: header
      name: x-qtest-url
externalDocs:
  description: Introduction to qTest Pulse API
  url: https://documentation.tricentis.com/qtest/od/en/content/apis/apis/common_apis.htm
x-refined-from:
- tricentis-qtest-manager-openapi.yaml
- tricentis-qtest-pulse-openapi.yaml
