---
swagger: "2.0"
info:
  description: "[Introduction to qTest API Specification](https://documentation.tricentis.com/qtest/od/en/content/apis/overview/qtest_api_specification.htm)\
    \ \n[How to use interactive API Doc](https://documentation.tricentis.com/qtest/od/en/content/apis/overview/how_to_use_interactive_api_documentation.htm)\n\
    \ The bearer token can be found at `[qtestUrl/p/{projectId}/portal/project#tab=resource]`\
    \ under the API & SDK tab."
  version: "v3.0"
  title: "qTest Manager API Version 3.0"
host: "apitryout.qtestnet.com"
basePath: "/"
tags:
- name: "attachment"
  description: "Attachment API"
- name: "auth-systems"
  description: "Authentication Systems API"
- name: "automation-job"
  description: "Automation Job API"
- name: "build"
  description: "Build API"
- name: "common"
  description: "Common API"
- name: "defect"
  description: "Defect API"
- name: "field"
  description: "Field API"
- name: "groups"
  description: "User Group API"
- name: "integration-settings"
  description: "Integration Settings"
- name: "login"
  description: "Login API"
- name: "module"
  description: "Module API"
- name: "object-link"
  description: "Object Link API"
- name: "project"
  description: "Project API"
- name: "release"
  description: "Release API"
- name: "requirement"
  description: "Requirement API"
- name: "search"
  description: "Search API"
- name: "site-templates"
  description: "Site Templates API"
- name: "test-case"
  description: "Test Case API"
- name: "test-cycle"
  description: "Test Cycle API"
- name: "test-log"
  description: "Test Log API"
- name: "test-run"
  description: "Test Run API"
- name: "test-suite"
  description: "Test Suite API"
- name: "tosca"
  description: "Tosca Integration API"
- name: "user"
  description: "User API"
- name: "user-profile"
  description: "User Profile API"
- name: "webhook"
  description: "Webhook"
schemes:
- "https"
paths:
  /api/v3.1/projects/{projectId}/test-runs/{testRunId}/auto-test-logs:
    post:
      tags:
      - "test-log"
      summary: "Submits multiple test results"
      description: "To submit Automation Test Logs of multiple Test Runs\n\n<strong>qTest\
        \ Manager version:</strong> 8.0.2+"
      operationId: "submitAutomationTestLogs"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "<em>test_suite:</em> ID of the Test Suite where the submitted\
          \ Test Runs will be located\n\n<em>parent_module:</em> In case there has\
          \ been no Test Case associated with the submitted Test Run, a new automation\
          \ Test Case will be created. The new Test Cases are located under a module\
          \ named <em>Automation</em>. If you specify an ID for parent_module, the\
          \ <em>Automation</em> module will be located under the specified module.\
          \ Otherwise, the <em>Automation</em> module is located directly under root\n\
          \n<em>execution_date (required):</em> Execution date in <em>YYYY-mm-dd</em>\
          \ format\n\n<em>test_logs (required):</em> The array of TestLog objects.\
          \ The below are TestLog attributes\n\n<em>status (required):</em> The automation\
          \ result values that were mapped with Test Run Result in qTest automation\
          \ settings\n\n<em>exe_start_date (required):</em> Execution start time\n\
          \n<em>exe_end_date (required):</em> Execution end time\n\n<em>name (required):</em>\
          \ Test Run name\n\n<em>automation_content (required):</em> An XML formatted\
          \ string that contains the class test/ group test/ package test\n\n<em>attachments:</em>\
          \ An array of the Attachment objects\n\n<em>note:</em> Test Log note\n\n\
          <em>test_step_logs:</em> An of TestStepLog objects. You can specify Test\
          \ Steps' order in the request. It must be continous series of numbers, starting\
          \ from zero, or it will throw an error. The order will be used when the\
          \ Test Case is created or updated in qTest. If the order is omitted, Test\
          \ Steps will be alphabetically sorted when creating or updating Test Case\n\
          \n<em>testcase_properties:</em> An of Testcase properties objects. You can\
          \ specify Test case properties' order in the request. \n\n<em>tosca_guid</em>:\
          \ GUID of Tosca test case. Use for creating Tosca Test Case\n\n<em>tosca_node_path</em>:\
          \ Node Path of Tosca test case. Use for creating Tosca Test Case\n\n<em>tosca_guid</em>\
          \ and <em>tosca_node_path</em> are optional but must be specified in pair"
        required: true
        schema:
          $ref: "#/definitions/AutomationRequest"
      - name: "type"
        in: "query"
        description: "Always input <em>automation</em> for this parameter"
        required: true
        type: "string"
        enum:
        - "automation"
      - name: "testRunId"
        in: "path"
        description: "This should always be <strong>0 (zero)</strong> or else it will\
          \ throw an exception"
        required: true
        type: "integer"
        format: "int64"
      - name: "escapeXml"
        in: "query"
        description: "<em>escapeXml=true</em> - default value. &gt and &lt in <em>Automation\
          \ Content</em> field are encoded\n\n<em>escapeXml=false</em> - the Automation\
          \ Content field is not encoded"
        required: false
        type: "boolean"
        default: false
      - name: "userId"
        in: "query"
        required: false
        type: "string"
      responses:
        201:
          description: "Test results are submitted successfully to qTest Manager\n\
            \n<em>id:</em> ID of the submission job. You will need this Id to check\
            \ the job status using <strong>GET /api/v3/projects/queue-processing/{jobId}</strong>\n\
            \n<em>state:</em> Status of the job. Its value includes IN_WAITING, IN_PROCESSING,\
            \ FAILED, PENDING, and SUCCESS"
          schema:
            $ref: "#/definitions/QueueProcessingResponse"
        400:
          description: "It failed to submit test results to qTest Manager. Failure\
            \ reasons may be: i) invalid project ID; ii) <em>testRunId</em> is not\
            \ 0 (zero) iii) the value of parameter <em>type</em> is not <em>Automation</em>"
        413:
          description: ""
      security:
      - Authorization: []
  /api/v3/admin-profiles/current:
    get:
      tags:
      - "user-profile"
      summary: "Gets current User's Admin Profile"
      description: "To retrieve your Admin Profile\n\n<strong>qTest Manager version:</strong>\
        \ 4+"
      operationId: "getCurrent"
      parameters: []
      responses:
        200:
          description: "Return authorities list of current admin"
          schema:
            $ref: "#/definitions/AdminProfile"
      security:
      - Authorization: []
  /api/v3/auth-systems:
    get:
      tags:
      - "auth-systems"
      summary: "Get multiple Authentication Systems"
      description: "To get multiple Authentication Systems"
      operationId: "getAll"
      parameters: []
      responses:
        200:
          description: "Return list of Authentication Systems"
          schema:
            $ref: "#/definitions/AuthSystemResponse"
      security:
      - Authorization: []
  /api/v3/auth-systems/ldap/{ldapAuthConfigId}/import:
    post:
      tags:
      - "auth-systems"
      summary: "Associate Manager users with LDAP users"
      description: "Associate Manager users with LDAP users authentication LDAP config"
      operationId: "importLDapUsers"
      parameters:
      - name: "ldapAuthConfigId"
        in: "path"
        description: "Id of the Authentication config"
        required: true
        type: "integer"
        format: "int64"
      - name: "mergeUser"
        in: "query"
        description: "Option to merge LDAP account to qTest account if qTest email\
          \ already exists in qTest (support true/false value, <strong>default = false</strong>)"
        required: false
        type: "boolean"
      - in: "body"
        name: "body"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/LdapUserResource"
      responses:
        200:
          description: "Return list of success users and errors if had."
          schema:
            $ref: "#/definitions/ResponseWrapper"
      security:
      - Authorization: []
  /api/v3/auth-systems/ldap/{ldapAuthConfigId}/users:
    get:
      tags:
      - "auth-systems"
      summary: "Get all LDAP users of an authentication LDAP config"
      description: "Get all LDAP users of an authentication LDAP config with pagination\
        \ supported. Users are mapped with qTest users won't be returned.\n\nIf <strong>pageSize</strong>\
        \ and <strong>page</strong> is omitted, all users will be returned without\
        \ any default paging data."
      operationId: "getAllLdapUsers"
      parameters:
      - name: "ldapAuthConfigId"
        in: "path"
        description: "Id of the Authentication config"
        required: true
        type: "integer"
        format: "int64"
      - name: "pageSize"
        in: "query"
        description: "Number of of item count per page. If this <strong>pageSize</strong>\
          \ and <strong>page</strong> is omitted, all users will be returned without\
          \ any default paging data."
        required: false
        type: "integer"
        default: 100
        format: "int64"
      - name: "page"
        in: "query"
        description: "Page number that you want to get the result. If this <strong>pageSize</strong>\
          \ and <strong>page</strong> is omitted, all users will be returned without\
          \ any default paging data."
        required: false
        type: "integer"
        default: 1
        format: "int64"
      responses:
        200:
          description: "Return list of LDAP users"
          schema:
            $ref: "#/definitions/LDAPUsersResponse"
      security:
      - Authorization: []
  /api/v3/automation/automation-agents:
    post:
      tags:
      - "automation-job"
      summary: "Search automation agents"
      description: "To search automation agents in projects that user is assigned\
        \ to \n\n<em>fields:</em> specify which property of Automation Agent you want\
        \ to include in the response. If you omit it or specify an asterisk (*), all\
        \ of following fields are included: id, name, project_id, host_id, framework,\
        \ active, configuration\n\n\n<em>query:</em> specify a structured query (criteria,\
        \ operator and value) with one or multiple clauses to search for Automation\
        \ Agents. Following are supporting criteria\n\n| Criteria | Operators | Value\
        \ |\n|-----|-----|-------|\n| name, framework   |  <>, ~, is empty, =, !~,\
        \ is not empty   | string     |\n |host_name | <>, ~, =, !~ | string | \n\
        | id, project_id, host_id | <>, >, <, <=, >=, =| id \n | active | = | active,\
        \ inactive\n\n"
      operationId: "searchAutomationAgents"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/AutomationArtifactSearchParams"
      - name: "pageSize"
        in: "query"
        description: "The result is paginated. By the default, the number of objects\
          \ in each page is 100 if this is omitted. You can specify your custom number\
          \ (up to 999) in this parameter"
        required: false
        type: "integer"
        default: 100
        format: "int64"
      - name: "page"
        in: "query"
        description: "By default the first page is returned but you can specify any\
          \ page number to retrieve objects"
        required: false
        type: "integer"
        default: 1
        format: "int64"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/AutomationAgentSearchResult"
      security:
      - Authorization: []
  /api/v3/automation/jobs/schedule/create:
    post:
      tags:
      - "automation-job"
      summary: "Create a Schedule"
      description: "To create a new Schedule which will be executed immediately\n\n\
        <strong>NOTE:</strong> Try It Out function will not work for this API\n\n\
        <strong>qTest Manager version:</strong> 6+\""
      operationId: "createSchedule"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/AutomationScheduleCreationAPI"
      responses:
        201:
          description: "Schedule is created"
          schema:
            type: "integer"
            format: "int64"
      security:
      - Authorization: []
  /api/v3/fields/{objectType}:
    get:
      tags:
      - "field"
      summary: "Gets all site field of an object type"
      description: "To get all fields (at site level) for Release, Build, Requirement,\
        \ Test Case, Test Step, Test Suite, Test Run, or Defect"
      operationId: "getAllSiteFields"
      parameters:
      - name: "objectType"
        in: "path"
        description: "Valid values include releases, builds, requirements, test-cases,\
          \ test-steps, defects, test-suites and test-runs"
        required: true
        type: "string"
        enum:
        - "requirements"
        - "test-cases"
        - "defects"
        - "test-runs"
        - "test-suites"
        - "releases"
        - "builds"
        - "test-steps"
      - name: "page"
        in: "query"
        description: "By default the first page is returned but you can specify any\
          \ page number to retrieve objects"
        required: false
        type: "integer"
        default: 1
        format: "int64"
      - name: "pageSize"
        in: "query"
        description: "The result is paginated. By the default, the number of objects\
          \ in each page is 100 if this is omitted. You can specify your custom number\
          \ (up to 999) in this parameter"
        required: false
        type: "integer"
        default: 100
        format: "int64"
      responses:
        200:
          description: "Successfully get a list of Site Fields"
          headers:
            X-Item-Total:
              type: "integer"
              format: "int32"
              description: "Total number of values available"
            Link:
              type: "string"
              format: "uri"
              description: "Contain one or more hypermedia link relations"
          schema:
            $ref: "#/definitions/FieldResourceSwagger"
        400:
          description: "Invalid data sent to get all Site Fields"
        403:
          description: "User does not have permission to get Site Fields"
      security:
      - Authorization: []
    post:
      tags:
      - "field"
      summary: "Creates a Custom Site Field of an Object Type"
      description: "To create a new Site Field for Release, Build, Requirement, Test\
        \ Case, Test Step, Test Suite, Test Run, or Defect"
      operationId: "createCustomSiteField"
      parameters:
      - name: "objectType"
        in: "path"
        description: "Valid values include releases, builds, requirements, test-cases,\
          \ test-steps, defects, test-suites and test-runs"
        required: true
        type: "string"
        enum:
        - "requirements"
        - "test-cases"
        - "defects"
        - "test-runs"
        - "test-suites"
        - "releases"
        - "builds"
        - "test-steps"
      - in: "body"
        name: "body"
        description: "The Site field's properties and values\n\n<strong>label (required)</strong>:\
          \ specify display name of the field\n\n<strong>data_type (required)</strong>:\
          \ specify the field type. Its valid values include\n\n- 1 - Text box\n\n\
          - 2 - Text area\n\n- 3 - Combo box\n\n- 4 - Date picker\n\n- 5 - User list\n\
          \n- 6 - Rich text editor\n\n- 7 - Number\n\n- 8 - Check box\n\n- 9 - Date\
          \ time picker\n\n- 12 - URL\n\n- 17 - Multiple selection combobox\n\nIn\
          \ case you are creating a multiple picklist typed field (data_type's value\
          \ is 8 or 17), you will need to specify <em>multiple=true</em>\n\nIn case\
          \ you are creating a picklist typed field, you can specify the field's values\
          \ in the <em>allowed_values array</em>\n\nOrder is not applicable when creating\
          \ new field\n\nFor Test Steps, \n- You can not create more than 2 custom\
          \ fields \n\n- You can not set field as required \n\n- Number of characters\
          \ in label should be less than or equal to 16 \n\n- You can only select\
          \ Rich text editor / Combo Box / User List as <em>data_type</em> "
        required: true
        schema:
          $ref: "#/definitions/FieldInputResource"
      responses:
        201:
          description: ""
          schema:
            $ref: "#/definitions/FieldResource"
        400:
          description: "Invalid data sent to create a Site Field"
        403:
          description: "User does not have permission to create a Site Field"
      security:
      - Authorization: []
  /api/v3/fields/{objectType}/{fieldId}:
    get:
      tags:
      - "field"
      summary: "Gets a Custom Site Field of an Object Type"
      description: "To get a custom field (at site level) for Release, Build, Requirement,\
        \ Test Case, Test Step, Test Suite, Test Run, or Defect"
      operationId: "getCustomSiteField"
      parameters:
      - name: "objectType"
        in: "path"
        description: "Valid values include releases, builds, requirements, test-cases,\
          \ test-steps, defects, test-suites and test-runs"
        required: true
        type: "string"
        enum:
        - "requirements"
        - "test-cases"
        - "defects"
        - "test-runs"
        - "test-suites"
        - "releases"
        - "builds"
        - "test-steps"
      - name: "fieldId"
        in: "path"
        description: "ID of the custom field"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Successfully get a Site Field"
          schema:
            $ref: "#/definitions/FieldResourceSwagger"
        400:
          description: "Invalid data sent to get a Site Field"
        403:
          description: "User does not have permission to get Site Field"
        404:
          description: "Field does not exist"
      security:
      - Authorization: []
    put:
      tags:
      - "field"
      summary: "Updates a Custom Site Field of an Object Type"
      description: "To update a custom field (at site level) for Release, Build, Requirement,\
        \ Test Case, Test Step, Test Suite, Test Run, or Defect"
      operationId: "updateCustomSiteField"
      parameters:
      - name: "objectType"
        in: "path"
        description: "Valid values include releases, builds, requirements, test-cases,\
          \ test-steps, defects, test-suites and test-runs"
        required: true
        type: "string"
        enum:
        - "requirements"
        - "test-cases"
        - "defects"
        - "test-runs"
        - "test-suites"
        - "releases"
        - "builds"
        - "test-steps"
      - name: "fieldId"
        in: "path"
        description: "ID of the custom field"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "The Site Field's updated properties & values\n\nNotes:\n\n-\
          \ Not allow to update <strong>data_type</strong>\n\n- To delete a value\
          \ of a Combo box/Checkbox or Multiple selection combo box, exclude that\
          \ value out of \"allowed_values\"\n\n- To add more allowed_values for Site\
          \ Field, refer [here](#/field/createSiteFieldAllowedValues)\n\n- To update\
          \ list allowed_values of Site Field, refer [here](#/field/updateSiteFieldAllowedValues)\n\
          \n- Can not set field as required for test steps\n\n- Number of characters\
          \ in label should be less than or equal to 16 for test steps"
        required: true
        schema:
          $ref: "#/definitions/FieldInputResource"
      responses:
        200:
          description: "Successfully updated a Site Field"
          schema:
            $ref: "#/definitions/FieldResource"
        400:
          description: "Invalid data sent to update a Site Field"
        403:
          description: "User does not have permission to update Site Field"
        404:
          description: "Field does not exist"
      security:
      - Authorization: []
    delete:
      tags:
      - "field"
      summary: "Deletes a Custom Site Field of an Object Type"
      description: "To delete a custom field (at site level) for Release, Build, Requirement,\
        \ Test Case, Test Step, Test Suite, Test Run, or Defect"
      operationId: "deleteCustomSiteField"
      parameters:
      - name: "objectType"
        in: "path"
        description: "Valid values include releases, builds, requirements, test-cases,\
          \ test-steps, defects, test-suites and test-runs"
        required: true
        type: "string"
        enum:
        - "requirements"
        - "test-cases"
        - "defects"
        - "test-runs"
        - "test-suites"
        - "releases"
        - "builds"
        - "test-steps"
      - name: "fieldId"
        in: "path"
        description: "ID of the custom field"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Successfully updated a Site Field"
          schema:
            type: "object"
        400:
          description: "Invalid data sent to update a Site Field"
        403:
          description: "User does not have permission to update Site Field"
        404:
          description: "Field does not exist"
      security:
      - Authorization: []
  /api/v3/fields/{objectType}/{fieldId}/allowed-values:
    get:
      tags:
      - "field"
      summary: "Gets all allowed values of a Site Field"
      description: "To get all allowed values of a Site Field with Combo box/Multi\
        \ selection combo box/Check box/User list data type"
      operationId: "getSiteFieldAllowedValues"
      parameters:
      - name: "objectType"
        in: "path"
        description: "Valid values include releases, builds, requirements, test-cases,\
          \ test-steps, defects, test-suites and test-runs"
        required: true
        type: "string"
        enum:
        - "requirements"
        - "test-cases"
        - "defects"
        - "test-runs"
        - "test-suites"
        - "releases"
        - "builds"
        - "test-steps"
      - name: "fieldId"
        in: "path"
        description: "ID of the field"
        required: true
        type: "integer"
        format: "int64"
      - name: "page"
        in: "query"
        description: "By default the first page is returned but you can specify any\
          \ page number to retrieve objects"
        required: false
        type: "integer"
        default: 1
        format: "int64"
      - name: "pageSize"
        in: "query"
        description: "The result is paginated. By the default, the number of objects\
          \ in each page is 100 if this is omitted. You can specify your custom number\
          \ (up to 999) in this parameter"
        required: false
        type: "integer"
        default: 100
        format: "int64"
      responses:
        200:
          description: "Successfully get allowed values"
          headers:
            X-Item-Total:
              type: "integer"
              format: "int32"
              description: "Total number of values available"
            Link:
              type: "string"
              format: "uri"
              description: "Contain one or more hypermedia link relations"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AllowedValueResource"
        400:
          description: "Invalid field"
        403:
          description: "User does not have permission to get Site Field"
        404:
          description: "Field does not exist"
      security:
      - Authorization: []
    post:
      tags:
      - "field"
      summary: "Creates allowed values of a Site Field"
      description: "Creates maximum 100 allowed values of a Site Field with Combo\
        \ box/Multi selection combo box/Check box data type"
      operationId: "createSiteFieldAllowedValues"
      parameters:
      - name: "objectType"
        in: "path"
        description: "Valid values include releases, builds, requirements, test-cases,\
          \ test-steps, defects, test-suites and test-runs"
        required: true
        type: "string"
        enum:
        - "requirements"
        - "test-cases"
        - "defects"
        - "test-runs"
        - "test-suites"
        - "releases"
        - "builds"
        - "test-steps"
      - name: "fieldId"
        in: "path"
        description: "ID of the field"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/AllowedValueResource"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AllowedValueResponseResource"
        201:
          description: "Successfully create allowed values"
        400:
          description: "Invalid field or value"
        403:
          description: "User does not have permission to create Site Field allowed\
            \ value"
        404:
          description: "Field does not exist"
      security:
      - Authorization: []
  /api/v3/fields/{objectType}/{fieldId}/allowed-values/{value}:
    put:
      tags:
      - "field"
      summary: "Updates an allowed value of a Site Field"
      description: "Update allowed values of a Site Field with Combo box/Multi selection\
        \ combo box/Check box data type"
      operationId: "updateSiteFieldAllowedValues"
      parameters:
      - name: "objectType"
        in: "path"
        description: "Valid values include releases, builds, requirements, test-cases,\
          \ test-steps, defects, test-suites and test-runs"
        required: true
        type: "string"
        enum:
        - "requirements"
        - "test-cases"
        - "defects"
        - "test-runs"
        - "test-suites"
        - "releases"
        - "builds"
        - "test-steps"
      - name: "fieldId"
        in: "path"
        description: "ID of the field"
        required: true
        type: "integer"
        format: "int64"
      - name: "value"
        in: "path"
        description: "ID (property \"value\") of allowed value"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/AllowedValueInputResource"
      responses:
        200:
          description: "Successfully update allowed values"
          schema:
            $ref: "#/definitions/CustomeResourceSupport"
        400:
          description: "Invalid field or value"
        403:
          description: "User does not have permission to update Site Field allowed\
            \ value"
        404:
          description: "Field or allowed value does not exist"
      security:
      - Authorization: []
    delete:
      tags:
      - "field"
      summary: "Deletes an allowed value of a Site Field"
      description: "To delete an allowed value of a Site Field with Combo box/Multi\
        \ selection combo box/Check box data type"
      operationId: "deleteSiteFieldValue"
      parameters:
      - name: "objectType"
        in: "path"
        description: "Valid values include releases, builds, requirements, test-cases,\
          \ test-steps, defects, test-suites and test-runs"
        required: true
        type: "string"
        enum:
        - "requirements"
        - "test-cases"
        - "defects"
        - "test-runs"
        - "test-suites"
        - "releases"
        - "builds"
        - "test-steps"
      - name: "fieldId"
        in: "path"
        description: "ID of the field"
        required: true
        type: "integer"
        format: "int64"
      - name: "value"
        in: "path"
        description: "ID (property \"value\") of allowed value"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Successfully delete an allowed value"
          schema:
            type: "object"
        400:
          description: "Invalid field or value"
        403:
          description: "User does not have permission to delete Site Field's value"
        404:
          description: "Field or value does not exist"
      security:
      - Authorization: []
  /api/v3/groups:
    get:
      tags:
      - "groups"
      summary: "Get multiple UserGroups"
      description: "To get multiple UserGroups"
      operationId: "getAllUserGroups"
      parameters: []
      responses:
        200:
          description: "Return list of UserGroups"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/UserGroupResource"
      security:
      - Authorization: []
    post:
      tags:
      - "groups"
      summary: "Create custom UserGroup"
      description: "To create new custom UserGroup"
      operationId: "createCustomUserGroup"
      parameters:
      - in: "body"
        name: "body"
        description: "<em>name (required):</em> Name of UserGroup\n\n<em>description:</em>\
          \ Description of UserGroup\n\n<em>is_default:</em> Set this UserGroup as\
          \ default group for new user\n\n<em>user_ids:</em> List of userId will be\
          \ assign to this group after created\n\n<em>authority_names:</em> List of\
          \ authorities for this UserGroup. Values can be: [ ROLE_ADMINCONFIGURATION,\
          \ ROLE_ADMININFORMATION, ROLE_INSIGHTSEDITOR, ROLE_INSIGHTSEDITOR, ROLE_LAUNCHACCESS,\
          \ ROLE_PROFILEADMIN, ROLE_PROFILEVIEWER, ROLE_PROJECTARCHIVER, ROLE_PROJECTCREATOR,\
          \ ROLE_PROJECTUPDATER, ROLE_PROJECTVIEWER, ROLE_PULSEACCESS, ROLE_SITELEVELFIELD,\
          \ ROLE_USERADMIN, ROLE_USERGROUPMANAGER, ROLE_ANALYTICSVIEWER ]"
        required: true
        schema:
          $ref: "#/definitions/UserGroupResource"
      responses:
        200:
          description: "Return newly created UserGroup"
          schema:
            $ref: "#/definitions/UserGroupResource"
      security:
      - Authorization: []
  /api/v3/projects:
    get:
      tags:
      - "project"
      summary: "Gets multiple Projects"
      description: "To retrieve all Projects which the requested qTest  Manager account\
        \ can access to\n\n<strong>qTest Manager version:</strong> 4+"
      operationId: "getProjects"
      parameters:
      - name: "expand"
        in: "query"
        description: "<em>expand=userprofile</em> - to include your profile and permissions\
          \ in each project"
        required: false
        type: "string"
        enum:
        - "userprofile"
      - name: "assigned"
        in: "query"
        description: "<em>assigned=true</em> - default value. Only the projects which\
          \ the requested user has access to\n\n<em>assigned=false</em> - Users with\
          \ admin profile can use this value to retrieve all projects, regardless\
          \ of having access"
        required: false
        type: "boolean"
      - name: "page"
        in: "query"
        description: "By default, all projects are returned; but you can specify any\
          \ page number to retrieve objects"
        required: false
        type: "integer"
        default: 1
        format: "int64"
      - name: "pageSize"
        in: "query"
        description: "The result is paginated. By the default, the number of objects\
          \ in each page is 100 if this is omitted. You can specify your custom number\
          \ (up to 999) in this parameter"
        required: false
        type: "integer"
        default: 100
        format: "int64"
      responses:
        200:
          description: ""
          headers:
            X-Item-Total:
              type: "integer"
              format: "int32"
              description: "Total number of projects available"
            Link:
              type: "string"
              format: "uri"
              description: "Contain one or more hypermedia link relations"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ProjectResource"
      security:
      - Authorization: []
    post:
      tags:
      - "project"
      summary: "Creates a Project"
      description: "To create a new Project\n\n<strong>qTest Manager version:</strong>\
        \ 4+"
      operationId: "createProject"
      parameters:
      - in: "body"
        name: "body"
        description: "Project created properties \n\n<em>name:</em> name of project\
          \ \n<em>description:</em> description of project \n<em>status_id:</em> status\
          \ of project \n<em>start_date:</em> start date of project, eg: 2019-06-17T05:09:13.178Z\
          \ \n<em>end_date:</em> end date of project, eg: 2019-06-27T05:09:13.178Z\
          \ \n<em>admins:</em> list assigned admin of project \n<em>template_id (optional):</em>\
          \ valid site template id of project. After creating a project, the valid\
          \ site template filed will be applied for it \n<em>uuid (optional):</em>\
          \ uuid of project. User can provide any string value for uuid, then they\
          \ can used it for searching projects."
        required: true
        schema:
          $ref: "#/definitions/ProjectResource"
      responses:
        201:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ProjectResource"
      security:
      - Authorization: []
  /api/v3/projects/queue-processing/{id}:
    get:
      tags:
      - "test-log"
      summary: "Gets a Batch Test Log Submission job's state"
      description: "To check the state of a Batch Test Log Submission job. \n\nWhen\
        \ you submit test results to qTest Manager using:\n\n<strong>POST /api/v3.1/projects/{projectId}/test-runs/{testRunId}/auto-test-logs?type=automation</strong>\n\
        \nor <strong>POST /api/v3/projects/{projectId}/auto-test-logs?type=automation</strong>,\
        \ their response include a job ID.\n\nYou will need to use this API and the\
        \ returned ID to check if the submission job has completed.\n\nJob states\
        \ include <i>IN_WAITING</i>, <i>IN_PROCESSING</i>, <i>FAILED</i>, <i>PENDING</i>\
        \ and <i>SUCCESS</i>"
      operationId: "track"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of the submission job. \n\nIt is included in the response\
          \ of these 2 APIs:\n\n<strong>POST /api/v3.1/projects/{projectId}/test-runs/{testRunId}/auto-test-logs?type=automation</strong>\
          \ \n\nor <strong>POST /api/v3/projects/{projectId}/auto-test-logs?type=automation</strong>"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/QueueProcessingResponse"
      security:
      - Authorization: []
  /api/v3/projects/search:
    post:
      tags:
      - "project"
      summary: "Search for projects"
      description: ""
      operationId: "searchProjects"
      parameters:
      - in: "body"
        name: "body"
        description: "Project search condition properties \n\n<em>uuid:</em> list\
          \ of uuid for searching"
        required: true
        schema:
          $ref: "#/definitions/ProjectQueryParams"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ProjectResource"
        403:
          description: "Forbidden"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}:
    get:
      tags:
      - "project"
      summary: "Gets a Project"
      description: "To retrieve a specific Project"
      operationId: "getProject"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "expand"
        in: "query"
        description: "<em>expand=userprofile</em> - include the your profile and permissions\
          \ within the project in the response"
        required: false
        type: "string"
        enum:
        - "userprofile"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ProjectResource"
      security:
      - Authorization: []
    put:
      tags:
      - "project"
      summary: "Updates a Project"
      description: ""
      operationId: "updateProject"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "Project updated properties \n\n<em>name (optional):</em> name\
          \ of project \n<em>description (optional):</em> description of project \n\
          <em>start_date (optional):</em> Start date of project, eg: 2019-06-17T05:09:13.178Z\
          \ \n<em>end_date (optional):</em> End date of project, eg: 2019-06-27T05:09:13.178Z\
          \ \n<em>admin_ids (optional):</em> list assigned admin ids of project \n\
          <em>uuid (optional):</em> uuid of project. User can provide any string value\
          \ for uuid, then they can used it for searching projects. \n<em>template_id\
          \ (optional):</em> site template id of project. When changing site template\
          \ id, the project will be removed from old site template id and the new\
          \ site template will be applied to it."
        required: true
        schema:
          $ref: "#/definitions/ProjectUpdateResource"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ProjectResource"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/attachments:
    get:
      tags:
      - "attachment"
      summary: "Searches for Attachments"
      description: "To query for attachments of <em>Releases</em>, <em>Builds</em>,\
        \ <em>Requirements</em>, <em>Test Cases</em>, <em>Test Logs</em>, <em>Test\
        \ Steps</em> or <em>Defects</em>"
      operationId: "search"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "type"
        in: "query"
        description: "Its valid values include <em>releases</em>, <em>builds</em>,\
          \ <em>requirements</em>, <em>test-cases</em>, <em>test-steps</em>, <em>test-logs</em>\
          \ or <em>defects</em>"
        required: true
        type: "string"
        enum:
        - "releases"
        - "builds"
        - "requirements"
        - "test-cases"
        - "test-steps"
        - "test-logs"
        - "defects"
      - name: "ids"
        in: "query"
        description: "List of object IDs (of the same type as specified in the parameter\
          \ above), separated by commas"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int64"
        collectionFormat: "multi"
      - name: "author"
        in: "query"
        description: "ID of the user who created the attachment"
        required: false
        type: "integer"
        format: "int64"
      - name: "createdDate"
        in: "query"
        description: "Its format is: <strong>{operator} {createdDate in timestamp\
          \ or UTC}</strong>\n\nThe <em>operator</em> can be one of the following\
          \ values:\n\n<b>lt</b>: less than the given date\n\n<b>gt</b>: greater than\
          \ given date\n\n<b>eq</b>: equal to the given date\n\n<b>le</b>: less than\
          \ or equal to the given date\n\n<b>ge</b>: greater then or equal to the\
          \ given date"
        required: false
        type: "string"
      - name: "pageSize"
        in: "query"
        description: "The result is paginated. By the default, the number of objects\
          \ in each page is 100 if this is omitted. You can specify your custom number\
          \ (up to 999) in this parameter"
        required: false
        type: "integer"
        default: 100
        format: "int64"
      - name: "page"
        in: "query"
        description: "By default, the first page is returned but you can specify any\
          \ page number to retrieve attachments"
        required: false
        type: "integer"
        default: 1
        format: "int64"
      responses:
        200:
          description: "Return attachment list of Release, Build, Requirement, Test\
            \ Case, Test Log, Test Step and Defect."
          schema:
            $ref: "#/definitions/PagedResourceAttachmentResource"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/auto-test-logs:
    post:
      tags:
      - "test-log"
      summary: "Submits multiple test results and specifies Test Design and Test Execution\
        \ tree structures"
      description: "This is the extended version of this API <strong>POST /api/v3.1/projects/{projectId}/test-runs/{testRunId}/auto-test-logs</strong>.\
        \ It allows submitting multiple test logs in one API request, and creating\
        \ Test Cases and Test Runs in hierarchical structure which is specified in\
        \ the request body\n\n<strong>Important:</strong> This API does not update\
        \ names and locations of existing Test Cases and Test Runs\n\n<strong>Known\
        \ Issue:</strong> This API currently does not update Test Case Version when\
        \ Test Case Properties are updated, and Tricentis is working on a fix that\
        \ will be shipped in an upcoming release"
      operationId: "submitAutomationTestLogsWithTreeStructure"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "<em>test_cycle (required):</em> PID or ID of the parent Test\
          \ Cycle in qTest Manager where submitted Test Runs will be located\n\n<em>test_logs\
          \ (required):</em> The array of TestLog objects. The below are TestLog attributes\n\
          \n<strong>TestLog attributes:</strong>\n\n- <em>test_case_version_id:</em>\
          \ ID of the associated Test Case's version. In case the Test Run has not\
          \ existed, this field should not be included or it will cause an error\n\
          \n- <em>status (required):</em> The automation result values that were mapped\
          \ with Test Run Result in qTest automation settings\n\n- <em>exe_start_date\
          \ (required):</em> Execution start time\n\n- <em>exe_end_date (required):</em>\
          \ Execution end time\n\n- <em>module_names (required):</em> an array of\
          \ folder names which will be used when creating hierarchical structure in\
          \ Test Design and Test Execution trees. In Test Design tree, the first folder\
          \ will be created as a Module directly under the tree root. Other folders\
          \ will be created as sub-Modules under their preceding folders in the array.\
          \ In Test Execution tree, the first folder will be created as a Test Cycle\
          \ directly under the parent Test Cycle which is specified in the API request.\
          \ Other folders will be created as sub Test Cycles under their preceding\
          \ folders in the array. If there is a folder in the tree with matching name\
          \ and location, the API will not create a duplicate one\n\n- <em>name (required):</em>\
          \ It will be used when <em>creating</em> Test Cases and Test Runs as their\
          \ names. It will not be used for updating Test Case and Test Run names\n\
          \n- <em>automation_content (required):</em> Specify a unique string to each\
          \ Test Case. It acts as Test Case fingerprint. Before adding a Test Log,\
          \ qTest Manager will look up Automation Content of existing Test Cases.\
          \ If it can find an existing Test Case, the Test Log will be associated\
          \ with that Test Case. Otherwise, a new Test Case will be created with the\
          \ submitted Test Log. It is also be used when creating Test Runs. If qTest\
          \ Manager finds an existing Test Run with matching Automation Content and\
          \ location in Test Execution tree, it will not create a duplicate one. If\
          \ there is an existing Test Run with matching Automation Content but it\
          \ is located in different Test Cycles, qTest Manager will create a new Test\
          \ Run in the specified folder\n\n- <em>attachments:</em> an array of the\
          \ Attachment objects\n\n- <em>test_step_logs:</em> an array of TestStepLog\
          \ objects. You can specify Test Steps' order in the request. It must be\
          \ continuous series of numbers, starting from zero, or it will throw an\
          \ error. The order will be used when the Test Case is created or updated\
          \ in qTest. If the order is omitted, Test Steps will be alphabetically sorted\
          \ when creating or updating Test Case\n\n- <em>tosca_guid</em>: GUID of\
          \ Tosca test case. Use for creating Tosca Test Case\n\n- <em>tosca_node_path</em>:\
          \ Node Path of Tosca test case. Use for creating Tosca Test Case\n\n- <em>tosca_guid</em>\
          \ and <em>tosca_node_path</em> are optional but must be specified in pair\n\
          \n<strong>Test Step Log attributes</strong>\n\n- <em>description (required):</em>\
          \ Description of the Test Step\n\n- <em>expected_result (required):</em>\
          \ Expected result of the Test Step\n\n- <em>actual_result (required):</em>\
          \ Actual result of the Test Step\n\n- <em>status (required):</em> The automation\
          \ result values that were mapped with Test Run Result in qTest automation\
          \ settings\n\n- <em>order:</em> Specify the order of Test Steps. It must\
          \ be continuous series of numbers, starting from zero, or it will throw\
          \ an error. The order will be used when the Test Case is created or updated\
          \ in qTest. If the order is omitted, Test Steps will be alphabetically sorted\
          \ when creating or updating Test Case\n\n- <em>exe_date:</em> Execution\
          \ date\n\n- <em>customFieldInfo:</em> Test Step Custom Field Columns. It\
          \ is used to add data to test step custom fields if they exist. You have\
          \ to specify <em>id</em> (Id of Custom Field), <em>value</em> (value for\
          \ Custom Field of the test step), <em>type</em> (Field Type of Custom Field),\
          \ and <em>name</em> (Name of Custom Field)"
        required: true
        schema:
          $ref: "#/definitions/AutomationRequest"
      - name: "type"
        in: "query"
        description: "always use <em>type=automation</em> for this parameter"
        required: true
        type: "string"
        enum:
        - "automation"
      - name: "escapeXml"
        in: "query"
        description: "<em>escapeXml=true</em> - default value. &gt and &lt in <em>Automation\
          \ Content</em> field are encoded\n\n<em>escapeXml=false</em> - the Automation\
          \ Content field is not encoded"
        required: false
        type: "boolean"
      - name: "userId"
        in: "query"
        required: false
        type: "string"
      responses:
        201:
          description: "Automation Test Logs submitted,\n\n<em>id:</em> ID of the\
            \ submission job. You will need this Id to check the job status using\
            \ <strong>GET /api/v3/projects/queue-processing/{jobId}</strong>\n\n<em>state:</em>\
            \ Status of the job. Its value includes IN_WAITING, IN_PROCESSING, FAILED,\
            \ PENDING, and SUCCESS"
          schema:
            $ref: "#/definitions/QueueProcessingResponse"
        400:
          description: "Bad request - Unexpected error occurred"
        413:
          description: ""
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/builds:
    get:
      tags:
      - "build"
      summary: "Gets multiple Builds"
      description: "To retrieve all Builds under a Release\n\n<strong>qTest Manager\
        \ version:</strong> 6+"
      operationId: "getBuilds"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "releaseId"
        in: "query"
        description: "ID of the parent Release"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Returns a list of builds"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/BuildResource"
        500:
          description: "Internal Server Error - Unexpected error occurred"
      security:
      - Authorization: []
    post:
      tags:
      - "build"
      summary: "Creates a Build"
      description: "To create a Build under a parent Release\n\n<strong>qTest Manager\
        \ version:</strong> 4+"
      operationId: "create"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "<em>name (required):</em> Build name\n\n<em>release (required):</em>\
          \ The parent Release under which the Build will be located\n\n<em>properties:</em>\
          \ An array of field-value pairs"
        required: true
        schema:
          $ref: "#/definitions/BuildResource"
      responses:
        201:
          description: "Build created successfully"
          schema:
            $ref: "#/definitions/BuildResource"
        400:
          description: "Bad Request - Unexpected error occurred"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/builds/{buildId}:
    get:
      tags:
      - "build"
      summary: "Gets a Build"
      description: "To retrieve a Build<strong>qTest Manager version:</strong> 6+"
      operationId: "get"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "buildId"
        in: "path"
        description: "ID of the Build"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Returns a build with the specified id"
          schema:
            $ref: "#/definitions/BuildResource"
        500:
          description: "Internal Server Error - Unexpected error occurred"
      security:
      - Authorization: []
    put:
      tags:
      - "build"
      summary: "Updates a Build"
      description: "To update a Build\n\n<strong>qTest Manager version:</strong> 6+"
      operationId: "update"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "buildId"
        in: "path"
        description: "ID of the Build"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "The Build's updated properties"
        required: true
        schema:
          $ref: "#/definitions/BuildResource"
      responses:
        200:
          description: "Build updated successfully"
          schema:
            $ref: "#/definitions/BuildResource"
        500:
          description: "Internal Server Error - Unexpected error occurred"
      security:
      - Authorization: []
    delete:
      tags:
      - "build"
      summary: "Deletes a Build"
      description: "To delete a Build\n\n<strong>qTest Manager version:</strong> 6+"
      operationId: "delete"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "buildId"
        in: "path"
        description: "ID of the Build to delete"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Build deleted successfully"
          schema:
            type: "object"
        500:
          description: "Internal Server Error - Unexpected error occurred"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/comments:
    post:
      tags:
      - "search"
      summary: "Queries Comments"
      description: "To search for comments\n\n<strong>qTest Manager version:</strong>\
        \ 7.6+"
      operationId: "searchCommentWithQuery"
      produces:
      - "application/json"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "<em>object_type (required):</em> valid values include requirements,\
          \ test-cases, test-runs and defects\n\n<em>object:</em> ID of the object\
          \ from which you want to retrieve comments\n\n<em>authors:</em> ID of the\
          \ user who made the comments\n\n<em>start:</em> This value needs to be in\
          \ ISO Date format\n\n<em>end:</em> This value needs to be in ISO Date format"
        required: true
        schema:
          $ref: "#/definitions/CommentQueryParams"
      - name: "page"
        in: "query"
        description: "By default the first page is returned but you can specify any\
          \ page number to retrieve objects"
        required: false
        type: "integer"
        default: 1
        format: "int64"
      - name: "pageSize"
        in: "query"
        description: "The result is paginated. By the default, the number of objects\
          \ in each page is 100 if this is omitted. You can specify your custom number\
          \ (up to 999) in this parameter"
        required: false
        type: "integer"
        default: 100
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/QueryCommentResource"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/defects:
    post:
      tags:
      - "defect"
      summary: "Submit a Defect"
      description: "To submit an internal Defect"
      operationId: "submitDefect"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "<em>properties:</em> a JSONArray of field-value pairs\n\n<em>attachments:</em>\
          \ a JSONArray of Attachment objects"
        required: true
        schema:
          $ref: "#/definitions/DefectResource"
      responses:
        201:
          description: "Successfully submitted a defect."
          schema:
            $ref: "#/definitions/DefectResource"
        400:
          description: "Field value constraint is invalid."
        403:
          description: "User does not have permission to submit a defect."
        500:
          description: "Internal Server Error."
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/defects/last-change:
    get:
      tags:
      - "defect"
      summary: "Gets recently updated Defects"
      description: "To retrieve Defects which have been recently updated after a specified\
        \ time"
      operationId: "getLastChanged"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "startTime"
        in: "query"
        description: "The specified time since when the Defects have been updated.\
          \ It needs to be URL encoded: <em>yyyy-MM-dd'T'HH:mm:ss.SSSZ</em> or <em>yyyy-MM-dd'T'HH:mm:ssZZ</em>"
        required: true
        type: "string"
      - name: "endTime"
        in: "query"
        description: "Do not support at this time. Use the current time only."
        required: false
        type: "string"
      - name: "size"
        in: "query"
        description: "The result is paginated. By the default, the number of objects\
          \ in each page is 100. You can specify your custom number in this parameter.\
          \ The maximum page size is 999."
        required: false
        type: "integer"
        default: 100
        format: "int32"
      - name: "page"
        in: "query"
        description: "By default the first page is returned but you can specify any\
          \ page number to retrieve objects"
        required: false
        type: "integer"
        default: 1
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/DefectResource"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/defects/{defectId}:
    get:
      tags:
      - "defect"
      summary: "Gets a Defect"
      description: "To retrieve a Defect\n\n<strong>qTest Manager version:</strong>\
        \ 6+"
      operationId: "getDefect"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "defectId"
        in: "path"
        description: "ID of the defect."
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/DefectResource"
      security:
      - Authorization: []
    put:
      tags:
      - "defect"
      summary: "Updates a Defect"
      description: "To update a Defect\n\n<strong>qTest Manager version:</strong>\
        \ 6+"
      operationId: "updateDefect"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "defectId"
        in: "path"
        description: "ID of the Defect which needs to be updated."
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "The Defect's updated properties"
        required: true
        schema:
          $ref: "#/definitions/DefectResource"
      responses:
        200:
          description: "Successfully updated a defect."
          schema:
            $ref: "#/definitions/DefectResource"
        400:
          description: "Field value is invalid."
        403:
          description: "User does not have permission to update defect."
        404:
          description: "Defect with @defectId does not exist."
        500:
          description: "Internal Server Error."
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/defects/{idOrKey}/comments:
    get:
      tags:
      - "defect"
      summary: "Gets all Comments of a Defect"
      description: "To retrieve all Comments of a Defect\n\n<strong>qTest Manager\
        \ version:</strong> 7.5+"
      operationId: "getComments"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "idOrKey"
        in: "path"
        description: "PID or ID of the Defect whose comments you want to retrieve"
        required: true
        type: "string"
      - name: "page"
        in: "query"
        description: "By default the first page is returned but you can specify any\
          \ page number to retrieve objects"
        required: false
        type: "integer"
        default: 1
        format: "int64"
      - name: "pageSize"
        in: "query"
        description: "The result is paginated. By the default, the number of objects\
          \ in each page is 100 if this is omitted. You can specify your custom number\
          \ (up to 999) in this parameter"
        required: false
        type: "integer"
        default: 100
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/PagedResourceCommentResource"
      security:
      - Authorization: []
    post:
      tags:
      - "defect"
      summary: "Adds a Comment to a Defect"
      description: "To add a Comment to a Defect\n\n<strong>qTest Manager version:</strong>\
        \ 7.5+"
      operationId: "addComment"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "idOrKey"
        in: "path"
        description: "PID or ID of the Defect"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "The Comment's content"
        required: true
        schema:
          $ref: "#/definitions/CommentResource"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CommentResource"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/defects/{idOrKey}/comments/{commentId}:
    get:
      tags:
      - "defect"
      summary: "Gets a Comment of a Defect"
      description: "To retrieve a specific Comment of a Defect\n\n<strong>qTest Manager\
        \ version:</strong> 7.5+"
      operationId: "getDefectCommentById"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "idOrKey"
        in: "path"
        description: "PID or ID of the Defect whose comment you want to retrieve"
        required: true
        type: "string"
      - name: "commentId"
        in: "path"
        description: "ID of the comment"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CommentResource"
      security:
      - Authorization: []
    put:
      tags:
      - "defect"
      summary: "Updates a Comment of a Defect"
      description: "To update a specific Comment of a Defect\n\n<strong>qTest Manager\
        \ version:</strong> 7.5+"
      operationId: "updateComment"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "idOrKey"
        in: "path"
        description: "PID or ID of the defect whose comment you want to update"
        required: true
        type: "string"
      - name: "commentId"
        in: "path"
        description: "ID of the comment"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "Given resource to update a comment."
        required: true
        schema:
          $ref: "#/definitions/CommentResource"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CommentResource"
      security:
      - Authorization: []
    delete:
      tags:
      - "defect"
      summary: "Deletes a Comment of a Defect"
      description: "To delete a specific Comment of a Defect\n\n<strong>qTest Manager\
        \ version:</strong> 7.5+"
      operationId: "deleteComment"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "idOrKey"
        in: "path"
        description: "PID or ID of the Defect whose Comment you want to delete"
        required: true
        type: "string"
      - name: "commentId"
        in: "path"
        description: "ID of the comment."
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/histories:
    post:
      tags:
      - "search"
      summary: "Queries objects' histories"
      description: "To query histories of Requirements, Test Cases, Test Runs and\
        \ <em>internal</em> Defects\n\n<strong>qTest Manager version:</strong> 7.6+"
      operationId: "queryHistories"
      produces:
      - "application/json"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "<em>object_type (required):</em> valid values include <em>requirements</em>,\
          \ <em>test-cases</em>, <em>test-runs</em>, or <em>defects</em>\n\n<em>fields:</em>\
          \ specify which object fields you want to include in the response. If you\
          \ omit it or specify an asterisk (*), all fields are included\n\n<em>object_query:</em>\
          \ specify a structured query to search for qTest objects. <br/>Refer to\
          \ attribute <em>query</em> in the Request Body of <em>Queries Objects</em>\
          \ API\n\n<em>query:</em> specify a structured query to retrieve histories\
          \ of objects specified in attribute <em>object_query</em> above. You can\
          \ use operators <em>and</em> and <em>or</em> to combine multiple criteria.\
          \ Only these 2 criteria are supported:\n\n<br/>i) <em>created:</em> it can\
          \ be used for querying by updated date of the object. Its values need to\
          \ be in ISO Date format. Applicable operator include: =, <>, &lt;= and >=\n\
          \n<br/>ii) <em>author:</em> it can be used for querying by ID of the users\
          \ who made the update. Applicable operators include: = and <>"
        required: true
        schema:
          $ref: "#/definitions/HistoryQueryParams"
      - name: "pageSize"
        in: "query"
        description: "The result is paginated. By the default, the number of objects\
          \ in each page is 100 if this is omitted. You can specify your custom number\
          \ (up to 999) in this parameter"
        required: false
        type: "integer"
        default: 100
        format: "int64"
      - name: "page"
        in: "query"
        description: "By default the first page is returned but you can specify any\
          \ page number to retrieve objects"
        required: false
        type: "integer"
        default: 1
        format: "int64"
      responses:
        200:
          description: "Return list of Requirements, Test Cases, Test Runs and internal\
            \ Defects history"
          schema:
            $ref: "#/definitions/ArtifactHistoryResource"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/linked-artifacts:
    get:
      tags:
      - "object-link"
      summary: "Gets associated objects of given objects"
      description: "To retrieve associated objects of given objects\n\n<strong>qTest\
        \ Manager version:</strong> 7.5+"
      operationId: "find"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "type"
        in: "query"
        description: "Valid values include <em>releases</em>, <em>builds</em>, <em>requirements</em>,<em>test-cases</em>,\
          \ <em>test-runs</em>, <em>test-logs</em>, <em>test-steps</em> or <em>defects</em>"
        required: true
        type: "string"
        enum:
        - "releases"
        - "builds"
        - "requirements"
        - "test-cases"
        - "test-runs"
        - "test-logs"
        - "test-steps"
        - "defects"
      - name: "ids"
        in: "query"
        description: "IDs of objects whose links you want to retrieve"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int64"
        collectionFormat: "multi"
      - name: "pids"
        in: "query"
        description: "In case of <em>type=defects</em>, you can specify a list of\
          \ external defect id in this parameters.\n\nIt cannot be used for other\
          \ types"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "TRofSharedprojects"
        in: "query"
        required: false
        type: "boolean"
        default: false
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/LinkedArtifactContainer"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/modules:
    get:
      tags:
      - "module"
      summary: "Gets multiple Modules"
      description: "To search for Modules under root or sub-Modules under a parent\
        \ Module\n\n<strong>qTest Manager version:</strong> 6+"
      operationId: "getSubModulesOf"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "parentId"
        in: "query"
        description: "ID of the parent Module. Leave it blank to retrieve Modules\
          \ under root"
        required: false
        type: "integer"
        format: "int64"
      - name: "search"
        in: "query"
        description: "The free-text to search for Modules by names. You can utilize\
          \ this parameter to search for Modules. Leave it blank to retrieve all Modules\
          \ under root or the parent Module"
        required: false
        type: "string"
      - name: "expand"
        in: "query"
        required: false
        type: "string"
        enum:
        - "descendants"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ModuleResource"
      security:
      - Authorization: []
    post:
      tags:
      - "module"
      summary: "Creates a Module"
      description: "To create a Module under root or a sub-Module under a parent Module\n\
        \n<strong>qTest Manager version:</strong> 4+"
      operationId: "createModule"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "parentId"
        in: "query"
        description: "The parent Module which will contain the newly created one.\
          \ If it is not specified, the newly created module is located under root\n\
          \nUse this parameter if your qTest Manager version is 6+. For older versions,\
          \ use <em>parent_id</em> in the request body"
        required: false
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "<em>name (required):</em> the Module name\n\n<em>shared:</em>\
          \ Specify <em>shared=true</em> to share this Module to other projects. Only\
          \ use it if Test Case Sharing feature is enabled in your project\n\n<em>tosca_guid</em>:\
          \ Tosca folder GUID. Use for creating Module and link with Tosca folder.\
          \ This property must be provided along with <em>tosca_node_path</em>, or\
          \ it will fail to create module.\n\n<em>tosca_node_path</em>: Tosca folder\
          \ node path. Use for creating Module and link with Tosca folder. This property\
          \ must be provided along with <em>tosca_guid</em>, or it will fail to create\
          \ module."
        required: true
        schema:
          $ref: "#/definitions/ModuleResource"
      responses:
        201:
          description: "Module is created"
          schema:
            $ref: "#/definitions/ModuleResource"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/modules/{moduleId}:
    get:
      tags:
      - "module"
      summary: "Gets a Module"
      description: "To retrieve a Module\n\n<em>qTest Manager version:</em> 6+"
      operationId: "getModule"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "moduleId"
        in: "path"
        description: "ID of the Module"
        required: true
        type: "integer"
        format: "int64"
      - name: "expand"
        in: "query"
        description: "Specify <em>expand=descendants</em> to include the Module's\
          \ sub and grand-sub Modules in the response"
        required: false
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ModuleResource"
      security:
      - Authorization: []
    put:
      tags:
      - "module"
      summary: "Updates a Module"
      description: "To update a Module or move it to another parent Module"
      operationId: "updateModule"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "moduleId"
        in: "path"
        description: "ID of the Module"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "The Module's update properties"
        required: true
        schema:
          $ref: "#/definitions/ModuleResource"
      - name: "parentId"
        in: "query"
        description: "ID of the parent Module which the Module will be moved to\n\n\
          <strong>Important:</strong> If you use this parameter, the request body\
          \ will be ignored. That means the Module is being moved but it will not\
          \ be updated with the properties specified in the request body"
        required: false
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ModuleResource"
      security:
      - Authorization: []
    delete:
      tags:
      - "module"
      summary: "Deletes a Module"
      description: "To delete a Module\n\n<strong>qTest Manager version:</strong>\
        \ 6+"
      operationId: "deleteModule"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "moduleId"
        in: "path"
        description: "ID of Module to delete"
        required: true
        type: "integer"
        format: "int64"
      - name: "force"
        in: "query"
        description: "<em>force=true</em> - delete the Module and its children\n\n\
          force=false - default value. Only delete the Module if it contains no sub\
          \ Modules or Test Cases"
        required: false
        type: "boolean"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Message"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/releases:
    get:
      tags:
      - "release"
      summary: "Gets multiple Releases"
      description: "To retrieve Releases in a project\n\n<strong>qTest Manager version:</strong>\
        \ 4+"
      operationId: "getAllReleases"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "includeClosed"
        in: "query"
        description: "<em>includeClosed=false</em> - default value. <em>Closed</em>\
          \ Releases are excluded from the response\n\n<em>includeClosed=true</em>\
          \ - Closed Release are included in the response"
        required: false
        type: "boolean"
        default: false
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ReleaseWithCustomFieldResource"
      security:
      - Authorization: []
    post:
      tags:
      - "release"
      summary: "Creates a Release"
      description: "To create a Release\n\n<strong>qTest Manager version:</strong>\
        \ 4+"
      operationId: "createRelease"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "The Release's properties"
        required: true
        schema:
          $ref: "#/definitions/ReleaseWithCustomFieldResource"
      responses:
        201:
          description: "Release is created"
          schema:
            $ref: "#/definitions/ReleaseWithCustomFieldResource"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/releases/{releaseId}:
    get:
      tags:
      - "release"
      summary: "Gets a Release"
      description: "To retrieve a Release\n\n<strong>qTest Manager version:</strong>\
        \ 4+"
      operationId: "getReleaseById"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "releaseId"
        in: "path"
        description: "ID of the Release"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ReleaseWithCustomFieldResource"
      security:
      - Authorization: []
    put:
      tags:
      - "release"
      summary: "Updates a Release"
      description: "To update a Release\n\n<strong>qTest Manager version:</strong>\
        \ 6+"
      operationId: "updateReleaseById"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "releaseId"
        in: "path"
        description: "ID of the Release which needs to be updated"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "The Release's updated properties"
        required: true
        schema:
          $ref: "#/definitions/ReleaseWithCustomFieldResource"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ReleaseWithCustomFieldResource"
      security:
      - Authorization: []
    delete:
      tags:
      - "release"
      summary: "Delete a release"
      description: "To delete a Release"
      operationId: "deleteReleaseById"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "releaseId"
        in: "path"
        description: "ID of the Release which needs to be deleted\n\n<strong>qTest\
          \ Manager version:</strong> 6+"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/requirements:
    get:
      tags:
      - "requirement"
      summary: "Gets multiple Requirements"
      description: "To retrieve all Requirements or Requirements under a specific\
        \ Module"
      operationId: "getRequirements"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "parentId"
        in: "query"
        description: "Specify the parent Module's ID to retrieve all of its Requirements\
          \ which are located directly under the parent Module"
        required: false
        type: "integer"
        format: "int64"
      - name: "page"
        in: "query"
        description: "By default the first page is returned but you can specify any\
          \ page number to retrieve requirements."
        required: false
        type: "integer"
        default: 1
        format: "int64"
      - name: "size"
        in: "query"
        description: "The result is paginated. By the default, the number of requirements\
          \ in each page is 20.\n\nYou can specify your custom number in this parameter."
        required: false
        type: "integer"
        default: 20
        format: "int32"
      - name: "includeExternalProperties"
        in: "query"
        description: "By default, Requirement external properties are not included\
          \ in the response. Specify includeExternalProperties=true to include them."
        required: false
        type: "boolean"
        default: false
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/RequirementResource"
      security:
      - Authorization: []
    post:
      tags:
      - "requirement"
      summary: "Creates a Requirement"
      description: "To create a new Requirement\n\n<strong>qTest Manager version:</strong>\
        \ 4+"
      operationId: "createRequirement"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "<p><em>name *:</em> Requirement name</p><p><em>properties:</em>\
          \ An array of field-value pairs</p>"
        required: true
        schema:
          $ref: "#/definitions/RequirementResource"
      - name: "parentId"
        in: "query"
        description: "ID of the parent Module under which the Requirement will be\
          \ located"
        required: false
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/RequirementResource"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/requirements/trace-matrix-report:
    get:
      tags:
      - "requirement"
      summary: "Gets Requirement Traceability Matrix Report"
      description: "To retrieve a report of Requirements with their covering Test\
        \ Cases"
      operationId: "getPublicTraceabilityMatrixReport"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "page"
        in: "query"
        description: "By default the first page is returned but you can specify any\
          \ page number to retrieve requirements."
        required: false
        type: "integer"
        default: 1
        format: "int64"
      - name: "size"
        in: "query"
        description: "The result is paginated. By default, the number of requirements\
          \ in each page is 20.\n\nYou can specify your custom number in this parameter\
          \ and the maximum number is 999."
        required: false
        type: "integer"
        default: 20
        format: "int32"
      - name: "fieldIds"
        in: "query"
        description: "ID(s) of requirement fields (system or custom fields) which\
          \ you would like to retrieve.\n\nThey are separated by commas."
        required: false
        type: "string"
      - name: "lastModifiedFrom"
        in: "query"
        required: false
        type: "string"
        pattern: "\\d{4}-\\d{2}-\\d{2}"
      - name: "lastModifiedTo"
        in: "query"
        required: false
        type: "string"
        pattern: "\\d{4}-\\d{2}-\\d{2}"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/TraceabilityRequirement"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/requirements/{idOrKey}/comments:
    get:
      tags:
      - "requirement"
      summary: "Gets all Comments of a Requirement"
      description: "To retrieve all comments of a Requirement\n\n<strong>qTest Manager\
        \ version:</strong> 7.6+"
      operationId: "getAllRequirementComments"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "idOrKey"
        in: "path"
        description: "PID or ID of the Requirement whose comments you want to retrieve"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/PagedResourceCommentResource"
      security:
      - Authorization: []
    post:
      tags:
      - "requirement"
      summary: "Adds a Comment to a Requirement"
      description: "To add a comment to a Requirement\n\n<strong>qTest Manager version:</strong>\
        \ 7.5+"
      operationId: "addRequirementComment"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "idOrKey"
        in: "path"
        description: "PID or ID of the Requirement."
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "The comment's properties and its content"
        required: true
        schema:
          $ref: "#/definitions/CommentResource"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CommentResource"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/requirements/{idOrKey}/comments/{commentId}:
    get:
      tags:
      - "requirement"
      summary: "Gets a Comment of a Requirement"
      description: "To retrieve a comment of a Requirement\n\n<strong>qTest Manager\
        \ version:</strong> 7.5+"
      operationId: "getRequirementCommentById"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "idOrKey"
        in: "path"
        description: "PID or ID of the Requirement whose comment you want to delete"
        required: true
        type: "string"
      - name: "commentId"
        in: "path"
        description: "The comment's ID"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CommentResource"
      security:
      - Authorization: []
    put:
      tags:
      - "requirement"
      summary: "Updates a Comment of a Requirement"
      description: "To modify a comment of a Requirement\n\n<strong>qTest Manager\
        \ version:</strong> 7.5+"
      operationId: "updateRequirementCommentById"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "idOrKey"
        in: "path"
        description: "PID or ID of the Requirement whose comment you want to update"
        required: true
        type: "string"
      - name: "commentId"
        in: "path"
        description: "The comment's ID"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "The comment's updated content"
        required: true
        schema:
          $ref: "#/definitions/CommentResource"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CommentResource"
      security:
      - Authorization: []
    delete:
      tags:
      - "requirement"
      summary: "Deletes a Comment of a Requirement"
      description: "To delete a comment of a Requirement\n\n<strong>qTest Manager\
        \ version:</strong> 7.5+"
      operationId: "deleteRequirementCommentById"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "idOrKey"
        in: "path"
        description: "PID or ID of the Requirement whose comment you want to delete"
        required: true
        type: "string"
      - name: "commentId"
        in: "path"
        description: "The comment's ID"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/requirements/{requirementId}:
    get:
      tags:
      - "requirement"
      summary: "Gets a Requirement"
      description: "To retrieve a Requirement\n\n<strong>qTest Manager version:</strong>\
        \ 6+"
      operationId: "getRequirement"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "requirementId"
        in: "path"
        description: "ID of the Requirement which you want to retrieve."
        required: true
        type: "integer"
        format: "int64"
      - name: "includeExternalProperties"
        in: "query"
        description: "By default, Requirement external properties are not included\
          \ in the response. Specify includeExternalProperties=true to include them."
        required: false
        type: "boolean"
        default: false
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/RequirementResource"
      security:
      - Authorization: []
    put:
      tags:
      - "requirement"
      summary: "Updates a Requirement"
      description: "To update properties of an Requirement or to move it to other\
        \ parent Module"
      operationId: "updateRequirement"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "requirementId"
        in: "path"
        description: "ID of the Requirement which needs to be updated."
        required: true
        type: "integer"
        format: "int64"
      - name: "parentId"
        in: "query"
        description: "ID of the parent Module to which the Requirement will be moved\
          \ to"
        required: false
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "<strong>name: *</strong> Requirement name.\n\n<strong>properties:</strong>\
          \ An array of field-value pairs"
        required: true
        schema:
          $ref: "#/definitions/RequirementResource"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/RequirementResource"
      security:
      - Authorization: []
    delete:
      tags:
      - "requirement"
      summary: "Deletes a Requirement"
      description: "To delete a Requirement\n\n<strong>qTest Manager version:</strong>\
        \ 6+"
      operationId: "deleteRequirementById"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "requirementId"
        in: "path"
        description: "ID of the Requirement which needs to be deleted."
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/requirements/{requirementId}/defects:
    get:
      tags:
      - "requirement"
      summary: "To get defects by requirementId"
      description: ""
      operationId: "getDefectsByRequirmentId"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "requirementId"
        in: "path"
        description: "requirementId"
        required: true
        type: "integer"
        format: "int64"
      - name: "page"
        in: "query"
        description: "By default the first page is returned but you can specify any\
          \ page number to retrieve objects"
        required: false
        type: "integer"
        default: 1
        format: "int64"
      - name: "pageSize"
        in: "query"
        description: "The result is paginated. By the default, the number of objects\
          \ in each page is 100 if this is omitted. You can specify your custom number\
          \ (up to 999) in this parameter"
        required: false
        type: "integer"
        default: 100
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/LinkedDefectArtifactResource"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/requirements/{requirementId}/test-runs:
    get:
      tags:
      - "requirement"
      summary: "To get all test runs associated to requirement"
      description: ""
      operationId: "getTestRunsByRequirmentId"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - name: "requirementId"
        in: "path"
        description: "requirementId"
        required: true
        type: "integer"
        format: "int64"
      - name: "expand"
        in: "query"
        required: false
        type: "string"
      - name: "includeLatestLog"
        in: "query"
        required: false
        type: "boolean"
        default: false
      - name: "page"
        in: "query"
        description: "By default the first page is returned but you can specify any\
          \ page number to retrieve objects"
        required: false
        type: "integer"
        default: 1
        format: "int64"
      - name: "pageSize"
        in: "query"
        description: "The result is paginated. By the default, the number of objects\
          \ in each page is 100 if this is omitted. You can specify your custom number\
          \ (up to 999) in this parameter"
        required: false
        type: "integer"
        default: 100
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TestRunNoCustomFieldResource"
      security:
      - Authorization: []
  /api/v3/projects/{projectId}/search:
    post:
      tags:
      - "search"
      summary: "Queries objects"
      description: "This API mimics the Data Query function of qTest Manager web app.\
        \ It provides the capability to query Requirements, Test Cases, Test Runs\
        \ and <em>internal</em> Defects"
      operationId: "searchArtifact"
      produces:
      - "application/json"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "<em>object_type (required):</em> Its value can be <em>releases</em>,\
          \ <em>requirements</em>, <em>test-cases</em>, <em>test-runs</em>, <em>test-suites</em>,\
          \ <em>test-cycles</em>, <em>test-logs</em>, <em>builds</em>, or <em>defects</em>.\n\
          \n<em>fields:</em> specify which object fields you want to include in the\
          \ response. If you omit it or specify an asterisk (*), all fields are included.\n\
          \n<em>query:</em> specify a structured query to search for qTest Manager\
          \ objects. Basically, you can use the Query Summary text as in qTest web\
          \ app for this attribute.\n\n<strong>IMPORTANT:</strong> When using Query\
          \ Summary to specify the query, you will need to modify the Query Summary\
          \ in some special cases as below:\n\n- If there are spaces in the criteria\
          \ name, put it between '  ' (single quotation marks).\n\n- There need to\
          \ be spaces between a criteria, an operator, and a value.\n\n- You can use\
          \ field name or field ID in the query.\n\n- For the fields with datetime\
          \ as the data type, convert the values to ISO Date Time format.\n\n- Operator\
          \ \"IN\" for fields with datetime as the data type will search for the values\
          \ within this range: inputted date time &lt;= value &lt;= (inputted date\
          \ time + 23h59m59s).\n\n- <em>Affected Release/Build:</em> You can use either\
          \ Affected Release or Affected Build as criteria in a query. This criterion\
          \ can be used only for <em>defects</em>.\n\n- <em>Target Release/Build:</em>\
          \ You can use either Target Release or Target Build as criteria in a query.\
          \ This criterion can be used for <em>requirements</em>, <em>test-runs</em>,\
          \ <em>defects</em>, <em>test-logs</em>, and <em>test-cycles</em>. Release\
[...]
