openapi: 3.2.0
info:
  version: 2025.2.0
  title: qTest Pulse Rule API
  description: Rule API
servers:
- url: https://pulse-us-east-1.qtestnet.com/api
security:
- qtestToken: []
  qtestUrl: []
tags:
- name: Rule
  description: Rule API
paths:
  /rules:
    get:
      tags:
      - Rule
      summary: Get all rules of a project
      description: To get all rules of a project
      parameters:
      - $ref: '#/components/parameters/ProjectIdQuery'
      - $ref: '#/components/parameters/FirstQuery'
      - $ref: '#/components/parameters/OffsetQuery'
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rule'
      operationId: getRules
      x-operation-id-source: derived
    post:
      tags:
      - Rule
      summary: Create a rule
      description: To create a rule
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RuleInput'
        required: true
      operationId: postRules
      x-operation-id-source: derived
  /rules/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      tags:
      - Rule
      summary: Get a rule
      description: To get a rule by id
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'
      operationId: getRulesById
      x-operation-id-source: derived
    put:
      tags:
      - Rule
      summary: Update a rule
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RuleInput'
        required: true
      operationId: putRulesById
      x-operation-id-source: derived
    patch:
      tags:
      - Rule
      summary: Update a rule
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RuleInput'
        required: true
      operationId: patchRulesById
      x-operation-id-source: derived
    delete:
      tags:
      - Rule
      summary: Delete a rule
      description: To delete a rule
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
      operationId: deleteRulesById
      x-operation-id-source: derived
components:
  responses:
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Default:
      description: Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    RuleInput:
      allOf:
      - $ref: '#/components/schemas/ProjectDoc'
      - required:
        - name
        - active
        properties:
          name:
            type: string
          active:
            type: boolean
          triggerId:
            type: string
          actionIds:
            type: array
            items:
              type: string
    Doc:
      required:
      - id
      properties:
        id:
          type: string
    Rule:
      allOf:
      - $ref: '#/components/schemas/Doc'
      - $ref: '#/components/schemas/RuleInput'
    Error:
      required:
      - message
      properties:
        message:
          type: string
    ProjectDoc:
      required:
      - projectId
      properties:
        projectId:
          type: string
  parameters:
    OffsetQuery:
      name: offset
      in: query
      description: Skip the first N results
      schema:
        type: integer
        format: int64
    FirstQuery:
      name: first
      in: query
      description: Return only the first N results
      schema:
        type: integer
        format: int64
    ProjectIdQuery:
      name: projectId
      in: query
      required: true
      description: ID of the project
      schema:
        type: string
    IdPath:
      name: id
      in: path
      required: true
      description: ID of the project
      schema:
        type: string
  securitySchemes:
    qtestToken:
      type: apiKey
      in: header
      name: Authorization
    qtestUrl:
      type: apiKey
      in: header
      name: x-qtest-url
externalDocs:
  description: Introduction to qTest Pulse API
  url: https://documentation.tricentis.com/qtest/od/en/content/apis/apis/common_apis.htm
