openapi: 3.2.0
info:
  title: qTest Explorer | Sessions V3 Export API
  version: 1.0.0
  description: "These APIs are for internal reference by Tricentis development team only. They are not intended to be used publicly by any qTest or non-qTest users and so there is no support provided by Tricentis at any level. If you want to access these APIs, please send a support ticket to \tsupport@tricentis.com."
servers:
- url: https://session-js.qtestnet.com/
tags:
- name: v3-export
  description: Export V3 APIs
paths:
  /api/export/image:
    post:
      tags:
      - v3-export
      summary: Export screens to images
      responses:
        200:
          description: Export task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportResult'
        401:
          description: Unauthorized
        404:
          description: Not Found
        403:
          description: Forbidden
        500:
          description: Server error
      security:
      - v3_auth: []
      x-swagger-router-controller: api.export
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportSession'
        description: Export session object
        required: true
  /api/export/doc:
    post:
      tags:
      - v3-export
      summary: Export screens to word document
      responses:
        200:
          description: Export task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportResult'
        401:
          description: Unauthorized
        404:
          description: Not Found
        403:
          description: Forbidden
        500:
          description: Server error
      security:
      - v3_auth: []
      x-swagger-router-controller: api.export
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportSession'
        description: Export session object
        required: true
  /api/export/pdf:
    post:
      tags:
      - v3-export
      summary: Export screens to pdf
      responses:
        200:
          description: Export task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportResult'
        401:
          description: Unauthorized
        404:
          description: Not Found
        403:
          description: Forbidden
        500:
          description: Server error
      security:
      - v3_auth: []
      x-swagger-router-controller: api.export
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportSession'
        description: Export session object
        required: true
  /api/export/testcase:
    post:
      tags:
      - v3-export
      summary: Export test cases
      responses:
        200:
          description: Export task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportResult'
        401:
          description: Unauthorized
        404:
          description: Not Found
        403:
          description: Forbidden
        500:
          description: Server error
      security:
      - v3_auth: []
      x-swagger-router-controller: api.export
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportTestCase'
        description: Export testcase
        required: true
  /session/export/{exportId}:
    get:
      tags:
      - v3-export
      summary: Download exported file
      parameters:
      - name: exportId
        in: path
        description: Export id
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Exported file
          content:
            application/json:
              schema:
                type: string
                format: binary
        401:
          description: Unauthorized
        404:
          description: Not Found
        403:
          description: Forbidden
        500:
          description: Server error
      security:
      - v3_auth: []
      x-swagger-router-controller: api.export
components:
  schemas:
    ExportScreen:
      type: object
      properties:
        title:
          type: string
        image_key:
          type: string
        width":
          type: number
          format: double
        height:
          type: number
          format: double
        url:
          type: string
        steps:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              value:
                type: string
    ExportResult:
      type: object
      properties:
        id:
          type: string
          description: task id
        url:
          type: string
    ExportSession:
      type: object
      properties:
        session_id:
          type: string
        title:
          type: string
        screens:
          type: array
          items:
            $ref: '#/components/schemas/ExportScreen'
    ExportTestCase:
      type: object
      properties:
        session_id:
          type: string
        export_type:
          type: string
        name:
          type: string
        description:
          type: string
        precondition:
          type: string
        steps:
          type: array
          items:
            type: object
            properties:
              step_description:
                type: string
              expected_result:
                type: string
              screen:
                type: object
                properties:
                  image_key:
                    type: string
                  width:
                    type: number
                    format: double
                  height:
                    type: number
                    format: double
  securitySchemes:
    v2_auth:
      type: apiKey
      name: Authorization
      in: header
    v3_auth:
      type: apiKey
      name: Authorization
      in: header
