openapi: 3.2.0
info:
  title: Tricentis Analytics (Tech Review) Users API
  description: Tricentis Analytics OData APIs
  version: ''
servers:
- url: https://u8.analytics.api.tricentis.com/odata/v4/38549
security:
- ApiKeyAuth: []
- BasicAuth: []
tags:
- name: users
paths:
  /users:
    get:
      summary: Get entities from users
      tags:
      - users
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - name: $filter
        description: Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/count'
      - name: $orderby
        description: Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)
        in: query
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - id
            - id desc
            - clientid
            - clientid desc
            - username
            - username desc
            - contactemail
            - contactemail desc
            - issampleuser
            - issampleuser desc
            - firstname
            - firstname desc
            - lastname
            - lastname desc
            - status
            - status desc
            - groups
            - groups desc
            - timezone
            - timezone desc
            - ssor
            - ssor desc
            - extrainfo
            - extrainfo desc
      - name: $select
        description: Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
        in: query
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - id
            - clientid
            - username
            - contactemail
            - issampleuser
            - firstname
            - lastname
            - status
            - groups
            - timezone
            - ssor
            - extrainfo
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                type: object
                title: Collection of user
                properties:
                  '@odata.count':
                    $ref: '#/components/schemas/count'
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.user'
        4XX:
          $ref: '#/components/responses/error'
  /users({id}):
    parameters:
    - description: 'key: id'
      in: path
      name: id
      required: true
      schema:
        type:
        - integer
        - 'null'
        format: int32
    get:
      summary: Get entity from users by key
      tags:
      - users
      parameters:
      - name: $select
        description: Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
        in: query
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - id
            - clientid
            - username
            - contactemail
            - issampleuser
            - firstname
            - lastname
            - status
            - groups
            - timezone
            - ssor
            - extrainfo
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.user'
        4XX:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
  schemas:
    x26997ea37814ba1b9a423c590887c7a7c1262datasource.user:
      title: user
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        clientid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        username:
          type:
          - string
          - 'null'
          maxLength: 32768
        contactemail:
          type:
          - string
          - 'null'
          maxLength: 32768
        issampleuser:
          type:
          - boolean
          - 'null'
        firstname:
          type:
          - string
          - 'null'
          maxLength: 32768
        lastname:
          type:
          - string
          - 'null'
          maxLength: 32768
        status:
          type:
          - string
          - 'null'
          maxLength: 32768
        groups:
          type:
          - string
          - 'null'
          maxLength: 32768
        timezone:
          type:
          - string
          - 'null'
          maxLength: 32768
        ssor:
          type:
          - string
          - 'null'
          maxLength: 5
        extrainfo:
          type:
          - string
          - 'null'
          maxLength: 32768
    error:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - code
          - message
          properties:
            code:
              type: string
            message:
              type: string
            target:
              type: string
            details:
              type: array
              items:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
            innererror:
              type: object
              description: The structure of this object is service-specific
    count:
      anyOf:
      - type: number
      - type: string
      description: The number of entities in the collection. Available when using the [$count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount) query option.
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items, see [Paging - Top](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)
      schema:
        type: integer
        minimum: 0
      example: 50
    count:
      name: $count
      in: query
      description: Include count of items, see [Count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items, see [Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)
      schema:
        type: integer
        minimum: 0
    search:
      name: $search
      in: query
      description: Search items by search phrases, see [Searching](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionsearch)
      schema:
        type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
