openapi: 3.2.0
info:
  version: 2025.2.0
  title: qTest Pulse Constant API
  description: Constant API
servers:
- url: https://pulse-us-east-1.qtestnet.com/api
security:
- qtestToken: []
  qtestUrl: []
tags:
- name: constant
  description: Constant API
paths:
  /constants:
    get:
      tags:
      - constant
      summary: Get all constants of a project
      description: To get all constants of a project
      parameters:
      - $ref: '#/components/parameters/ProjectIdQuery'
      - $ref: '#/components/parameters/FirstQuery'
      - $ref: '#/components/parameters/OffsetQuery'
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Constant'
      operationId: getConstants
      x-operation-id-source: derived
    post:
      tags:
      - constant
      summary: Create a constant
      description: To create a constant
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Constant'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConstantInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ConstantInput'
        required: true
      operationId: postConstants
      x-operation-id-source: derived
  /constants/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      tags:
      - constant
      summary: Get a constant
      description: To get a constant by id
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Constant'
      operationId: getConstantsById
      x-operation-id-source: derived
    put:
      tags:
      - constant
      summary: Update a constant
      description: To update a constant
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Constant'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConstantInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ConstantInput'
        required: true
      operationId: putConstantsById
      x-operation-id-source: derived
    patch:
      tags:
      - constant
      summary: Update a constant
      description: To update a constant
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Constant'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConstantInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ConstantInput'
        required: true
      operationId: patchConstantsById
      x-operation-id-source: derived
    delete:
      tags:
      - constant
      summary: Delete a constant
      description: To delete a constant
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Default'
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
      operationId: deleteConstantsById
      x-operation-id-source: derived
components:
  responses:
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Default:
      description: Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    OffsetQuery:
      name: offset
      in: query
      description: Skip the first N results
      schema:
        type: integer
        format: int64
    FirstQuery:
      name: first
      in: query
      description: Return only the first N results
      schema:
        type: integer
        format: int64
    ProjectIdQuery:
      name: projectId
      in: query
      required: true
      description: ID of the project
      schema:
        type: string
    IdPath:
      name: id
      in: path
      required: true
      description: ID of the project
      schema:
        type: string
  schemas:
    Constant:
      allOf:
      - $ref: '#/components/schemas/Doc'
      - $ref: '#/components/schemas/ConstantInput'
    Doc:
      required:
      - id
      properties:
        id:
          type: string
    Error:
      required:
      - message
      properties:
        message:
          type: string
    ProjectDoc:
      required:
      - projectId
      properties:
        projectId:
          type: string
    ConstantInput:
      allOf:
      - $ref: '#/components/schemas/ProjectDoc'
      - required:
        - name
        - hidden
        properties:
          name:
            type: string
          hidden:
            type: boolean
          value:
            type: string
  securitySchemes:
    qtestToken:
      type: apiKey
      in: header
      name: Authorization
    qtestUrl:
      type: apiKey
      in: header
      name: x-qtest-url
externalDocs:
  description: Introduction to qTest Pulse API
  url: https://documentation.tricentis.com/qtest/od/en/content/apis/apis/common_apis.htm
