openapi: 3.2.0
info:
  title: Tricentis Projects API
  version: '1.0'
  description: 'Operations tagged projects across 2 of this provider''s published API definitions: tricentis-qtest-analytics-openapi.json, tricentis-ttm4j-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://u8.analytics.api.tricentis.com/odata/v4/38549
- url: https://api.ttm4j.tricentis.com
tags:
- name: projects
paths:
  /projects:
    servers:
    - url: https://u8.analytics.api.tricentis.com/odata/v4/38549
    get:
      summary: Get entities from projects
      tags:
      - projects
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - name: $filter
        description: Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/count'
      - name: $orderby
        description: Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)
        in: query
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - id
            - id desc
            - clientid
            - clientid desc
            - ssor
            - ssor desc
            - name
            - name desc
            - description
            - description desc
            - status
            - status desc
            - uuid
            - uuid desc
            - viewinggroupname
            - viewinggroupname desc
            - createdtimestamp
            - createdtimestamp desc
            - creator
            - creator desc
            - lastmodifiedtimestamp
            - lastmodifiedtimestamp desc
            - lastmodifieduser
            - lastmodifieduser desc
            - startdate
            - startdate desc
            - enddate
            - enddate desc
            - starttimestamp
            - starttimestamp desc
            - endtimestamp
            - endtimestamp desc
            - extrainfo
            - extrainfo desc
            - customfields
            - customfields desc
      - name: $select
        description: Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
        in: query
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - id
            - clientid
            - ssor
            - name
            - description
            - status
            - uuid
            - viewinggroupname
            - createdtimestamp
            - creator
            - lastmodifiedtimestamp
            - lastmodifieduser
            - startdate
            - enddate
            - starttimestamp
            - endtimestamp
            - extrainfo
            - customfields
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                type: object
                title: Collection of project
                properties:
                  '@odata.count':
                    $ref: '#/components/schemas/count'
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.project'
        4XX:
          $ref: '#/components/responses/error'
      security:
      - ApiKeyAuth: []
      - BasicAuth: []
  /projects({id}):
    parameters:
    - description: 'key: id'
      in: path
      name: id
      required: true
      schema:
        anyOf:
        - type: integer
        - type: string
        format: int64
        example: '42'
    servers:
    - url: https://u8.analytics.api.tricentis.com/odata/v4/38549
    get:
      summary: Get entity from projects by key
      tags:
      - projects
      parameters:
      - name: $select
        description: Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
        in: query
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - id
            - clientid
            - ssor
            - name
            - description
            - status
            - uuid
            - viewinggroupname
            - createdtimestamp
            - creator
            - lastmodifiedtimestamp
            - lastmodifieduser
            - startdate
            - enddate
            - starttimestamp
            - endtimestamp
            - extrainfo
            - customfields
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.project'
        4XX:
          $ref: '#/components/responses/error'
      security:
      - ApiKeyAuth: []
      - BasicAuth: []
  /v1/projects:
    servers:
    - url: https://api.ttm4j.tricentis.com
    get:
      tags:
      - projects
      summary: Get Jira project(s).
      description: '## Get or retrieve Jira project(s).'
      parameters:
      - name: keys
        in: query
        description: keys.
        schema:
          type: string
      - name: limit
        in: query
        description: Numeric value that determines that maximum N results will be returned
        schema:
          type: Integer
          default: 10
          example: 10
      - name: offset
        in: query
        description: 'Numeric value that determines that the result list will start from result #N (zero based)'
        schema:
          type: Integer
          default: 0
          example: 0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type:
                      - string
                      - 'null'
                    key:
                      type:
                      - string
                      - 'null'
                    name:
                      type:
                      - string
                      - 'null'
                    avatarUrls:
                      type: object
                      properties:
                        xSmall:
                          type:
                          - string
                          - 'null'
                        small:
                          type:
                          - string
                          - 'null'
                        medium:
                          type:
                          - string
                          - 'null'
                        large:
                          type:
                          - string
                          - 'null'
                      additionalProperties: false
                    simplified:
                      type: boolean
                    self:
                      type:
                      - string
                      - 'null'
                    style:
                      type:
                      - string
                      - 'null'
                  additionalProperties: false
              examples:
                JiraProjectResponseData:
                  value:
                    offset: 0
                    limit: 1
                    totalCount: 10
                    items:
                    - id: '10000'
                      key: PK
                      name: Project Name
                      simplified: false
                      self: Project self URL
        '400':
          description: '`Invalid parameters`.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type:
                    - string
                    - 'null'
                  title:
                    type:
                    - string
                    - 'null'
                  status:
                    type:
                    - integer
                    - 'null'
                    format: int32
                  detail:
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                additionalProperties: {}
              examples:
                BadDataResponse:
                  value:
                    message: bad data
        '401':
          description: '`Unauthorized`.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type:
                    - string
                    - 'null'
                  title:
                    type:
                    - string
                    - 'null'
                  status:
                    type:
                    - integer
                    - 'null'
                    format: int32
                  detail:
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                additionalProperties: {}
              examples:
                UnauthorizedResponse:
                  value:
                    message: unauthorized
        '404':
          description: '`Not Found`.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type:
                    - string
                    - 'null'
                  title:
                    type:
                    - string
                    - 'null'
                  status:
                    type:
                    - integer
                    - 'null'
                    format: int32
                  detail:
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                additionalProperties: {}
              examples:
                NotFoundResponse:
                  value:
                    message: not found
      security:
      - api_key: []
components:
  responses:
    error:
      description: Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items, see [Paging - Top](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)
      schema:
        type: integer
        minimum: 0
      example: 50
    count:
      name: $count
      in: query
      description: Include count of items, see [Count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items, see [Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)
      schema:
        type: integer
        minimum: 0
    search:
      name: $search
      in: query
      description: Search items by search phrases, see [Searching](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionsearch)
      schema:
        type: string
  schemas:
    error:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - code
          - message
          properties:
            code:
              type: string
            message:
              type: string
            target:
              type: string
            details:
              type: array
              items:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
            innererror:
              type: object
              description: The structure of this object is service-specific
    x26997ea37814ba1b9a423c590887c7a7c1262datasource.project:
      title: project
      type: object
      properties:
        id:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        clientid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        ssor:
          type:
          - string
          - 'null'
          maxLength: 5
        name:
          type:
          - string
          - 'null'
          maxLength: 32768
        description:
          type:
          - string
          - 'null'
          maxLength: 32768
        status:
          type:
          - string
          - 'null'
          maxLength: 32768
        uuid:
          type:
          - string
          - 'null'
          maxLength: 32768
        viewinggroupname:
          type:
          - string
          - 'null'
          maxLength: 32768
        createdtimestamp:
          type:
          - string
          - 'null'
          format: date-time
          example: '2017-04-13T15:51:04.000000Z'
        creator:
          type:
          - string
          - 'null'
          maxLength: 32768
        lastmodifiedtimestamp:
          type:
          - string
          - 'null'
          format: date-time
          example: '2017-04-13T15:51:04.000000Z'
        lastmodifieduser:
          type:
          - string
          - 'null'
          maxLength: 32768
        startdate:
          type:
          - string
          - 'null'
          format: date
          example: '2017-04-13'
        enddate:
          type:
          - string
          - 'null'
          format: date
          example: '2017-04-13'
        starttimestamp:
          type:
          - string
          - 'null'
          format: date-time
          example: '2017-04-13T15:51:04.000000Z'
        endtimestamp:
          type:
          - string
          - 'null'
          format: date-time
          example: '2017-04-13T15:51:04.000000Z'
        extrainfo:
          type:
          - string
          - 'null'
          maxLength: 32768
        customfields:
          type:
          - string
          - 'null'
          maxLength: 32768
    count:
      anyOf:
      - type: number
      - type: string
      description: The number of entities in the collection. Available when using the [$count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount) query option.
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
    api_key:
      type: apiKey
      description: TTM4J API Key
      name: Authorization
      in: header
externalDocs:
  description: Documentation
  url: https://documentation.tricentis.com/tricentis_test_management_for_jira/content/cover_web.htm
x-refined-from:
- tricentis-qtest-analytics-openapi.json
- tricentis-ttm4j-openapi.json
