openapi: 3.2.0
info:
  title: qTest Explorer | Sessions V3 Project Settings API
  version: 1.0.0
  description: "These APIs are for internal reference by Tricentis development team only. They are not intended to be used publicly by any qTest or non-qTest users and so there is no support provided by Tricentis at any level. If you want to access these APIs, please send a support ticket to \tsupport@tricentis.com."
servers:
- url: https://session-js.qtestnet.com/
tags:
- name: v3-project-settings
  description: Project settings V3 APIs
paths:
  /api/project-settings/{projectId}:
    get:
      tags:
      - v3-project-settings
      summary: Get project settings by id
      parameters:
      - name: projectId
        in: path
        description: project's id
        required: true
        schema:
          type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSettingsV3'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Server error
      security:
      - v3_auth: []
      x-swagger-router-controller: api.projectSetting
    put:
      tags:
      - v3-project-settings
      summary: Update project settings by id
      parameters:
      - name: projectId
        in: path
        description: project's id
        required: true
        schema:
          type: integer
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Server error
      security:
      - v3_auth: []
      x-swagger-router-controller: api.projectSetting
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/ProjectSettingsV3'
        description: Project settings need to be updated
        required: true
components:
  schemas:
    ProjectSettingsV3:
      type: object
      properties:
        always_on:
          type: string
        category:
          type: object
          properties:
            note_types:
              type: array
              items:
                $ref: '#/components/schemas/CategoryNoteTimeType'
            time_types:
              type: array
              items:
                $ref: '#/components/schemas/CategoryNoteTimeType'
        note_types:
          type: array
          items:
            $ref: '#/components/schemas/NoteTimeType'
        time_types:
          type: array
          items:
            $ref: '#/components/schemas/NoteTimeType'
    CategoryNoteTimeType:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        type:
          type: string
    NoteTimeType:
      type: object
      properties:
        active:
          type: boolean
        category_id:
          type: integer
        category_name:
          type: string
        color:
          type: string
        ext_sys_id:
          type: string
        id:
          type: string
        name:
          type: string
  securitySchemes:
    v2_auth:
      type: apiKey
      name: Authorization
      in: header
    v3_auth:
      type: apiKey
      name: Authorization
      in: header
