openapi: 3.2.0
info:
  title: Tricentis Analytics (Tech Review) Latesttestrunstatuses API
  description: Tricentis Analytics OData APIs
  version: ''
servers:
- url: https://u8.analytics.api.tricentis.com/odata/v4/38549
security:
- ApiKeyAuth: []
- BasicAuth: []
tags:
- name: latesttestrunstatuses
paths:
  /latesttestrunstatuses:
    get:
      summary: Get entities from latesttestrunstatuses
      tags:
      - latesttestrunstatuses
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - name: $filter
        description: Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/count'
      - name: $orderby
        description: Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)
        in: query
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - id
            - id desc
            - clientid
            - clientid desc
            - projectid
            - projectid desc
            - projectname
            - projectname desc
            - testcyclefolderid
            - testcyclefolderid desc
            - testcyclename
            - testcyclename desc
            - executionenddate
            - executionenddate desc
            - status
            - status desc
            - ssor
            - ssor desc
            - releasename
            - releasename desc
            - testsuitename
            - testsuitename desc
            - executionentryfolder
            - executionentryfolder desc
            - executionlist
            - executionlist desc
            - run_status_count
            - run_status_count desc
      - name: $select
        description: Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
        in: query
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - id
            - clientid
            - projectid
            - projectname
            - testcyclefolderid
            - testcyclename
            - executionenddate
            - status
            - ssor
            - releasename
            - testsuitename
            - executionentryfolder
            - executionlist
            - run_status_count
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                type: object
                title: Collection of latesttestrunstatus
                properties:
                  '@odata.count':
                    $ref: '#/components/schemas/count'
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.latesttestrunstatus'
        4XX:
          $ref: '#/components/responses/error'
  /latesttestrunstatuses({id}):
    parameters:
    - description: 'key: id'
      in: path
      name: id
      required: true
      schema:
        anyOf:
        - type: integer
        - type: string
        format: int64
        example: '42'
    get:
      summary: Get entity from latesttestrunstatuses by key
      tags:
      - latesttestrunstatuses
      parameters:
      - name: $select
        description: Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
        in: query
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - id
            - clientid
            - projectid
            - projectname
            - testcyclefolderid
            - testcyclename
            - executionenddate
            - status
            - ssor
            - releasename
            - testsuitename
            - executionentryfolder
            - executionlist
            - run_status_count
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.latesttestrunstatus'
        4XX:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items, see [Paging - Top](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)
      schema:
        type: integer
        minimum: 0
      example: 50
    count:
      name: $count
      in: query
      description: Include count of items, see [Count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items, see [Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)
      schema:
        type: integer
        minimum: 0
    search:
      name: $search
      in: query
      description: Search items by search phrases, see [Searching](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionsearch)
      schema:
        type: string
  schemas:
    error:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - code
          - message
          properties:
            code:
              type: string
            message:
              type: string
            target:
              type: string
            details:
              type: array
              items:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
            innererror:
              type: object
              description: The structure of this object is service-specific
    count:
      anyOf:
      - type: number
      - type: string
      description: The number of entities in the collection. Available when using the [$count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount) query option.
    x26997ea37814ba1b9a423c590887c7a7c1262datasource.latesttestrunstatus:
      title: latesttestrunstatus
      type: object
      properties:
        id:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        clientid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        projectid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        projectname:
          type:
          - string
          - 'null'
          maxLength: 32768
        testcyclefolderid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        testcyclename:
          type:
          - string
          - 'null'
          maxLength: 32768
        executionenddate:
          type:
          - string
          - 'null'
          format: date
          example: '2017-04-13'
        status:
          type:
          - string
          - 'null'
          maxLength: 32768
        ssor:
          type:
          - string
          - 'null'
          maxLength: 32768
        releasename:
          type:
          - string
          - 'null'
          maxLength: 32768
        testsuitename:
          type:
          - string
          - 'null'
          maxLength: 32768
        executionentryfolder:
          type:
          - string
          - 'null'
          maxLength: 32768
        executionlist:
          type:
          - string
          - 'null'
          maxLength: 32768
        run_status_count:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
