openapi: 3.2.0
info:
  title: qTest Explorer | Sessions V2 Project Settings API
  version: 1.0.0
  description: These APIs are for internal reference by Tricentis development team only. They are not intended to be used publicly by any qTest or non-qTest users and so there is no support provided by Tricentis at any level. If you want to access these APIs, please send a support ticket to support@tricentis.com.
servers:
- url: https://session-js.qtestnet.com/
tags:
- name: v2-project-settings
  description: Project settings V2 APIs
paths:
  /project-settings/{projectId}:
    get:
      tags:
      - v2-project-settings
      summary: Get project settings by id
      parameters:
      - name: projectId
        in: path
        description: project's id
        required: true
        schema:
          type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_id:
                    type: string
                  system_id:
                    type: string
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectSettingsV2'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Server error
      security:
      - v2_auth: []
      x-swagger-router-controller: api.projectSetting
      operationId: getProjectSettingsByProjectId
      x-operation-id-source: derived
    put:
      tags:
      - v2-project-settings
      summary: Update project settings by id
      parameters:
      - name: projectId
        in: path
        description: project's id
        required: true
        schema:
          type: integer
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Server error
      security:
      - v2_auth: []
      x-swagger-router-controller: api.projectSetting
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/ProjectSettingsV2'
        description: Project settings need to be updated
        required: true
      operationId: putProjectSettingsByProjectId
      x-operation-id-source: derived
  /project-settings:
    get:
      tags:
      - v2-project-settings
      summary: Get projects settings
      parameters:
      - name: projectIds
        in: query
        description: list project ids
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_id:
                    type: string
                  system_id:
                    type: string
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectSettingsV2'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Server error
      security:
      - v2_auth: []
      x-swagger-router-controller: api.projectSetting
      operationId: getProjectSettings
      x-operation-id-source: derived
components:
  schemas:
    Link:
      type: object
      properties:
        rel:
          type: string
        href:
          type: string
    ProjectSettingsV2:
      type: object
      properties:
        links:
          $ref: '#/components/schemas/Links'
        project_id:
          type: string
        always_on:
          type: string
        note_types:
          type: array
          items:
            $ref: '#/components/schemas/NoteTimeType'
        time_types:
          type: array
          items:
            $ref: '#/components/schemas/NoteTimeType'
    NoteTimeType:
      type: object
      properties:
        active:
          type: boolean
        category_id:
          type: integer
        category_name:
          type: string
        color:
          type: string
        ext_sys_id:
          type: string
        id:
          type: string
        name:
          type: string
    Links:
      type: array
      items:
        $ref: '#/components/schemas/Link'
  securitySchemes:
    v2_auth:
      type: apiKey
      name: Authorization
      in: header
    v3_auth:
      type: apiKey
      name: Authorization
      in: header
