{
  "openapi": "3.0.2",
  "info": {
    "title": "Tricentis Analytics (Tech Review)",
    "description": "Tricentis Analytics OData APIs",
    "version": ""
  },
  "servers": [
    {
      "url": "https://u8.analytics.api.tricentis.com/odata/v4/38549"
    }
  ],
  "tags": [
    {
      "name": "bridgerequirementsetlinks"
    },
    {
      "name": "builds"
    },
    {
      "name": "defects"
    },
    {
      "name": "defecttestrunlogs"
    },
    {
      "name": "executionsummaries"
    },
    {
      "name": "folderhierarchies"
    },
    {
      "name": "folders"
    },
    {
      "name": "latesttestrunstatuses"
    },
    {
      "name": "latestrunlogs"
    },
    {
      "name": "projects"
    },
    {
      "name": "releases"
    },
    {
      "name": "requirementreleases"
    },
    {
      "name": "requirements"
    },
    {
      "name": "requirementsets"
    },
    {
      "name": "requirementtestcases"
    },
    {
      "name": "testcases"
    },
    {
      "name": "testrunlogs"
    },
    {
      "name": "testruns"
    },
    {
      "name": "testsuites"
    },
    {
      "name": "users"
    }
  ],
  "paths": {
    "/bridgerequirementsetlinks": {
      "get": {
        "summary": "Get entities from bridgerequirementsetlinks",
        "tags": [
          "bridgerequirementsetlinks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "id desc",
                  "clientid",
                  "clientid desc",
                  "projectid",
                  "projectid desc",
                  "parentrequirementid",
                  "parentrequirementid desc",
                  "parentrequirementsetid",
                  "parentrequirementsetid desc",
                  "actualrequirementsetid",
                  "actualrequirementsetid desc",
                  "weight",
                  "weight desc",
                  "createdtimestamp",
                  "createdtimestamp desc",
                  "creator",
                  "creator desc",
                  "lastmodifiedtimestamp",
                  "lastmodifiedtimestamp desc",
                  "lastmodifieduser",
                  "lastmodifieduser desc",
                  "ssor",
                  "ssor desc",
                  "extrainfo",
                  "extrainfo desc",
                  "customfields",
                  "customfields desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "clientid",
                  "projectid",
                  "parentrequirementid",
                  "parentrequirementsetid",
                  "actualrequirementsetid",
                  "weight",
                  "createdtimestamp",
                  "creator",
                  "lastmodifiedtimestamp",
                  "lastmodifieduser",
                  "ssor",
                  "extrainfo",
                  "customfields"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of bridgerequirementsetlink",
                  "properties": {
                    "@odata.count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.bridgerequirementsetlink"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/bridgerequirementsetlinks({id})": {
      "parameters": [
        {
          "description": "key: id",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      ],
      "get": {
        "summary": "Get entity from bridgerequirementsetlinks by key",
        "tags": [
          "bridgerequirementsetlinks"
        ],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "clientid",
                  "projectid",
                  "parentrequirementid",
                  "parentrequirementsetid",
                  "actualrequirementsetid",
                  "weight",
                  "createdtimestamp",
                  "creator",
                  "lastmodifiedtimestamp",
                  "lastmodifieduser",
                  "ssor",
                  "extrainfo",
                  "customfields"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.bridgerequirementsetlink"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/builds": {
      "get": {
        "summary": "Get entities from builds",
        "tags": [
          "builds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "id desc",
                  "uiid",
                  "uiid desc",
                  "clientid",
                  "clientid desc",
                  "projectid",
                  "projectid desc",
                  "releaseid",
                  "releaseid desc",
                  "name",
                  "name desc",
                  "note",
                  "note desc",
                  "status",
                  "status desc",
                  "createdtimestamp",
                  "createdtimestamp desc",
                  "creator",
                  "creator desc",
                  "lastmodifiedtimestamp",
                  "lastmodifiedtimestamp desc",
                  "lastmodifieduser",
                  "lastmodifieduser desc",
                  "buildtimestamp",
                  "buildtimestamp desc",
                  "ssor",
                  "ssor desc",
                  "extrainfo",
                  "extrainfo desc",
                  "customfields",
                  "customfields desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "uiid",
                  "clientid",
                  "projectid",
                  "releaseid",
                  "name",
                  "note",
                  "status",
                  "createdtimestamp",
                  "creator",
                  "lastmodifiedtimestamp",
                  "lastmodifieduser",
                  "buildtimestamp",
                  "ssor",
                  "extrainfo",
                  "customfields"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of build",
                  "properties": {
                    "@odata.count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.build"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/builds({id})": {
      "parameters": [
        {
          "description": "key: id",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "format": "int64",
            "example": "42",
            "nullable": true
          }
        }
      ],
      "get": {
        "summary": "Get entity from builds by key",
        "tags": [
          "builds"
        ],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "uiid",
                  "clientid",
                  "projectid",
                  "releaseid",
                  "name",
                  "note",
                  "status",
                  "createdtimestamp",
                  "creator",
                  "lastmodifiedtimestamp",
                  "lastmodifieduser",
                  "buildtimestamp",
                  "ssor",
                  "extrainfo",
                  "customfields"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.build"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/defects": {
      "get": {
        "summary": "Get entities from defects",
        "tags": [
          "defects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "id desc",
                  "masterid",
                  "masterid desc",
                  "iscurrent",
                  "iscurrent desc",
                  "uiid",
                  "uiid desc",
                  "clientid",
                  "clientid desc",
                  "projectid",
                  "projectid desc",
                  "projectname",
                  "projectname desc",
                  "defectfolderid",
                  "defectfolderid desc",
                  "defectfoldername",
                  "defectfoldername desc",
                  "category",
                  "category desc",
                  "type",
                  "type desc",
                  "name",
                  "name desc",
                  "priority",
                  "priority desc",
                  "status",
                  "status desc",
                  "rootcause",
                  "rootcause desc",
                  "severity",
                  "severity desc",
                  "createddate",
                  "createddate desc",
                  "createdtimestamp",
                  "createdtimestamp desc",
                  "creator",
                  "creator desc",
                  "lastmodifieddate",
                  "lastmodifieddate desc",
                  "lastmodifiedtimestamp",
                  "lastmodifiedtimestamp desc",
                  "lastmodifieduser",
                  "lastmodifieduser desc",
                  "reason",
                  "reason desc",
                  "closeddate",
                  "closeddate desc",
                  "closedtimestamp",
                  "closedtimestamp desc",
                  "targetdate",
                  "targetdate desc",
                  "targettimestamp",
                  "targettimestamp desc",
                  "assigneduser",
                  "assigneduser desc",
                  "summary",
                  "summary desc",
                  "description",
                  "description desc",
                  "affectedbuildname",
                  "affectedbuildname desc",
                  "affectedreleasename",
                  "affectedreleasename desc",
                  "targetbuildname",
                  "targetbuildname desc",
                  "targetreleasename",
                  "targetreleasename desc",
                  "fixedbuildname",
                  "fixedbuildname desc",
                  "fixedreleasename",
                  "fixedreleasename desc",
                  "islinked",
                  "islinked desc",
                  "externalissueid",
                  "externalissueid desc",
                  "externalissuesummary",
                  "externalissuesummary desc",
                  "externalissuestatus",
                  "externalissuestatus desc",
                  "externalprojectid",
                  "externalprojectid desc",
                  "externalissuetype",
                  "externalissuetype desc",
                  "externalissueuniqueid",
                  "externalissueuniqueid desc",
                  "viewinggroupname",
                  "viewinggroupname desc",
                  "external_integration",
                  "external_integration desc",
                  "extrainfo",
                  "extrainfo desc",
                  "customfields",
                  "customfields desc",
                  "ssor",
                  "ssor desc",
                  "roweffectivedate",
                  "roweffectivedate desc",
                  "rowexpirationdate",
                  "rowexpirationdate desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "masterid",
                  "iscurrent",
                  "uiid",
                  "clientid",
                  "projectid",
                  "projectname",
                  "defectfolderid",
                  "defectfoldername",
                  "category",
                  "type",
                  "name",
                  "priority",
                  "status",
                  "rootcause",
                  "severity",
                  "createddate",
                  "createdtimestamp",
                  "creator",
                  "lastmodifieddate",
                  "lastmodifiedtimestamp",
                  "lastmodifieduser",
                  "reason",
                  "closeddate",
                  "closedtimestamp",
                  "targetdate",
                  "targettimestamp",
                  "assigneduser",
                  "summary",
                  "description",
                  "affectedbuildname",
                  "affectedreleasename",
                  "targetbuildname",
                  "targetreleasename",
                  "fixedbuildname",
                  "fixedreleasename",
                  "islinked",
                  "externalissueid",
                  "externalissuesummary",
                  "externalissuestatus",
                  "externalprojectid",
                  "externalissuetype",
                  "externalissueuniqueid",
                  "viewinggroupname",
                  "external_integration",
                  "extrainfo",
                  "customfields",
                  "ssor",
                  "roweffectivedate",
                  "rowexpirationdate"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of defect",
                  "properties": {
                    "@odata.count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.defect"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/defects({id})": {
      "parameters": [
        {
          "description": "key: id",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "format": "int64",
            "example": "42",
            "nullable": true
          }
        }
      ],
      "get": {
        "summary": "Get entity from defects by key",
        "tags": [
          "defects"
        ],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "masterid",
                  "iscurrent",
                  "uiid",
                  "clientid",
                  "projectid",
                  "projectname",
                  "defectfolderid",
                  "defectfoldername",
                  "category",
                  "type",
                  "name",
                  "priority",
                  "status",
                  "rootcause",
                  "severity",
                  "createddate",
                  "createdtimestamp",
                  "creator",
                  "lastmodifieddate",
                  "lastmodifiedtimestamp",
                  "lastmodifieduser",
                  "reason",
                  "closeddate",
                  "closedtimestamp",
                  "targetdate",
                  "targettimestamp",
                  "assigneduser",
                  "summary",
                  "description",
                  "affectedbuildname",
                  "affectedreleasename",
                  "targetbuildname",
                  "targetreleasename",
                  "fixedbuildname",
                  "fixedreleasename",
                  "islinked",
                  "externalissueid",
                  "externalissuesummary",
                  "externalissuestatus",
                  "externalprojectid",
                  "externalissuetype",
                  "externalissueuniqueid",
                  "viewinggroupname",
                  "external_integration",
                  "extrainfo",
                  "customfields",
                  "ssor",
                  "roweffectivedate",
                  "rowexpirationdate"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.defect"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/defecttestrunlogs": {
      "get": {
        "summary": "Get entities from defecttestrunlogs",
        "tags": [
          "defecttestrunlogs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "id desc",
                  "defectid",
                  "defectid desc",
                  "defectmasterid",
                  "defectmasterid desc",
                  "clientid",
                  "clientid desc",
                  "projectid",
                  "projectid desc",
                  "releaseid",
                  "releaseid desc",
                  "buildid",
                  "buildid desc",
                  "testcaseid",
                  "testcaseid desc",
                  "testcasefolderid",
                  "testcasefolderid desc",
                  "testcasemasterid",
                  "testcasemasterid desc",
                  "testrunid",
                  "testrunid desc",
                  "testcyclefolderid",
                  "testcyclefolderid desc",
                  "testsuiteid",
                  "testsuiteid desc",
                  "executionlistid",
                  "executionlistid desc",
                  "executionlistfolderid",
                  "executionlistfolderid desc",
                  "defectstatus",
                  "defectstatus desc",
                  "testlogstatus",
                  "testlogstatus desc",
                  "executiontype",
                  "executiontype desc",
                  "executionstarttimestamp",
                  "executionstarttimestamp desc",
                  "executionendtimestamp",
                  "executionendtimestamp desc",
                  "plannedstarttimestamp",
                  "plannedstarttimestamp desc",
                  "plannedendtimestamp",
                  "plannedendtimestamp desc",
                  "ismandate",
                  "ismandate desc",
                  "tester",
                  "tester desc",
                  "ssor",
                  "ssor desc",
                  "extrainfo",
                  "extrainfo desc",
                  "defectcustomfields",
                  "defectcustomfields desc",
                  "testlogcustomfields",
                  "testlogcustomfields desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "defectid",
                  "defectmasterid",
                  "clientid",
                  "projectid",
                  "releaseid",
                  "buildid",
                  "testcaseid",
                  "testcasefolderid",
                  "testcasemasterid",
                  "testrunid",
                  "testcyclefolderid",
                  "testsuiteid",
                  "executionlistid",
                  "executionlistfolderid",
                  "defectstatus",
                  "testlogstatus",
                  "executiontype",
                  "executionstarttimestamp",
                  "executionendtimestamp",
                  "plannedstarttimestamp",
                  "plannedendtimestamp",
                  "ismandate",
                  "tester",
                  "ssor",
                  "extrainfo",
                  "defectcustomfields",
                  "testlogcustomfields"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of defecttestrunlog",
                  "properties": {
                    "@odata.count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.defecttestrunlog"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/defecttestrunlogs('{id}')": {
      "parameters": [
        {
          "description": "key: id",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string",
            "maxLength": 32768,
            "nullable": true
          }
        }
      ],
      "get": {
        "summary": "Get entity from defecttestrunlogs by key",
        "tags": [
          "defecttestrunlogs"
        ],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "defectid",
                  "defectmasterid",
                  "clientid",
                  "projectid",
                  "releaseid",
                  "buildid",
                  "testcaseid",
                  "testcasefolderid",
                  "testcasemasterid",
                  "testrunid",
                  "testcyclefolderid",
                  "testsuiteid",
                  "executionlistid",
                  "executionlistfolderid",
                  "defectstatus",
                  "testlogstatus",
                  "executiontype",
                  "executionstarttimestamp",
                  "executionendtimestamp",
                  "plannedstarttimestamp",
                  "plannedendtimestamp",
                  "ismandate",
                  "tester",
                  "ssor",
                  "extrainfo",
                  "defectcustomfields",
                  "testlogcustomfields"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.defecttestrunlog"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/executionsummaries": {
      "get": {
        "summary": "Get entities from executionsummaries",
        "tags": [
          "executionsummaries"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "id desc",
                  "clientid",
                  "clientid desc",
                  "projectid",
                  "projectid desc",
                  "testcaseid",
                  "testcaseid desc",
                  "projectname",
                  "projectname desc",
                  "testcyclefolderid",
                  "testcyclefolderid desc",
                  "testcyclefoldername",
                  "testcyclefoldername desc",
                  "testsuiteid",
                  "testsuiteid desc",
                  "testsuitename",
                  "testsuitename desc",
                  "releaseid",
                  "releaseid desc",
                  "releasename",
                  "releasename desc",
                  "ssor",
                  "ssor desc",
                  "executionenddate",
                  "executionenddate desc",
                  "total_unexecuted",
                  "total_unexecuted desc",
                  "total_executed",
                  "total_executed desc",
                  "blocked_run",
                  "blocked_run desc",
                  "failed_run",
                  "failed_run desc",
                  "incomplete_run",
                  "incomplete_run desc",
                  "passed_run",
                  "passed_run desc",
                  "other_run",
                  "other_run desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "clientid",
                  "projectid",
                  "testcaseid",
                  "projectname",
                  "testcyclefolderid",
                  "testcyclefoldername",
                  "testsuiteid",
                  "testsuitename",
                  "releaseid",
                  "releasename",
                  "ssor",
                  "executionenddate",
                  "total_unexecuted",
                  "total_executed",
                  "blocked_run",
                  "failed_run",
                  "incomplete_run",
                  "passed_run",
                  "other_run"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of executionsummary",
                  "properties": {
                    "@odata.count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.executionsummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/executionsummaries({id})": {
      "parameters": [
        {
          "description": "key: id",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "format": "int64",
            "example": "42",
            "nullable": true
          }
        }
      ],
      "get": {
        "summary": "Get entity from executionsummaries by key",
        "tags": [
          "executionsummaries"
        ],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "clientid",
                  "projectid",
                  "testcaseid",
                  "projectname",
                  "testcyclefolderid",
                  "testcyclefoldername",
                  "testsuiteid",
                  "testsuitename",
                  "releaseid",
                  "releasename",
                  "ssor",
                  "executionenddate",
                  "total_unexecuted",
                  "total_executed",
                  "blocked_run",
                  "failed_run",
                  "incomplete_run",
                  "passed_run",
                  "other_run"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.executionsummary"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/folderhierarchies": {
      "get": {
        "summary": "Get entities from folderhierarchies",
        "tags": [
          "folderhierarchies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "clientid",
                  "clientid desc",
                  "projectid",
                  "projectid desc",
                  "ssor",
                  "ssor desc",
                  "pathnames",
                  "pathnames desc",
                  "level1id",
                  "level1id desc",
                  "level2id",
                  "level2id desc",
                  "level3id",
                  "level3id desc",
                  "level4id",
                  "level4id desc",
                  "level5id",
                  "level5id desc",
                  "level6id",
                  "level6id desc",
                  "level7id",
                  "level7id desc",
                  "level8id",
                  "level8id desc",
                  "level9id",
                  "level9id desc",
                  "level10id",
                  "level10id desc",
                  "level11id",
                  "level11id desc",
                  "level12id",
                  "level12id desc",
                  "level13id",
                  "level13id desc",
                  "level14id",
                  "level14id desc",
                  "level15id",
                  "level15id desc",
                  "level16id",
                  "level16id desc",
                  "level17id",
                  "level17id desc",
                  "level18id",
                  "level18id desc",
                  "level19id",
                  "level19id desc",
                  "level20id",
                  "level20id desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "clientid",
                  "projectid",
                  "ssor",
                  "pathnames",
                  "level1id",
                  "level2id",
                  "level3id",
                  "level4id",
                  "level5id",
                  "level6id",
                  "level7id",
                  "level8id",
                  "level9id",
                  "level10id",
                  "level11id",
                  "level12id",
                  "level13id",
                  "level14id",
                  "level15id",
                  "level16id",
                  "level17id",
                  "level18id",
                  "level19id",
                  "level20id"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of folderhierarchy",
                  "properties": {
                    "@odata.count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.folderhierarchy"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/folderhierarchies({projectid})": {
      "parameters": [
        {
          "description": "key: projectid",
          "in": "path",
          "name": "projectid",
          "required": true,
          "schema": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "format": "int64",
            "example": "42",
            "nullable": true
          }
        }
      ],
      "get": {
        "summary": "Get entity from folderhierarchies by key",
        "tags": [
          "folderhierarchies"
        ],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "clientid",
                  "projectid",
                  "ssor",
                  "pathnames",
                  "level1id",
                  "level2id",
                  "level3id",
                  "level4id",
                  "level5id",
                  "level6id",
                  "level7id",
                  "level8id",
                  "level9id",
                  "level10id",
                  "level11id",
                  "level12id",
                  "level13id",
                  "level14id",
                  "level15id",
                  "level16id",
                  "level17id",
                  "level18id",
                  "level19id",
                  "level20id"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.folderhierarchy"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/folders": {
      "get": {
        "summary": "Get entities from folders",
        "tags": [
          "folders"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "id desc",
                  "clientid",
                  "clientid desc",
                  "projectid",
                  "projectid desc",
                  "name",
                  "name desc",
                  "type",
                  "type desc",
                  "uiid",
                  "uiid desc",
                  "ismandate",
                  "ismandate desc",
                  "viewinggroupname",
                  "viewinggroupname desc",
                  "createdtimestamp",
                  "createdtimestamp desc",
                  "lastmodifiedtimestamp",
                  "lastmodifiedtimestamp desc",
                  "lastmodifieduser",
                  "lastmodifieduser desc",
                  "extrainfo",
                  "extrainfo desc",
                  "customfields",
                  "customfields desc",
                  "ssor",
                  "ssor desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "clientid",
                  "projectid",
                  "name",
                  "type",
                  "uiid",
                  "ismandate",
                  "viewinggroupname",
                  "createdtimestamp",
                  "lastmodifiedtimestamp",
                  "lastmodifieduser",
                  "extrainfo",
                  "customfields",
                  "ssor"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of folder",
                  "properties": {
                    "@odata.count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.folder"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/folders({id})": {
      "parameters": [
        {
          "description": "key: id",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "format": "int64",
            "example": "42",
            "nullable": true
          }
        }
      ],
      "get": {
        "summary": "Get entity from folders by key",
        "tags": [
          "folders"
        ],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "clientid",
                  "projectid",
                  "name",
                  "type",
                  "uiid",
                  "ismandate",
                  "viewinggroupname",
                  "createdtimestamp",
                  "lastmodifiedtimestamp",
                  "lastmodifieduser",
                  "extrainfo",
                  "customfields",
                  "ssor"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.folder"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/latesttestrunstatuses": {
      "get": {
        "summary": "Get entities from latesttestrunstatuses",
        "tags": [
          "latesttestrunstatuses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "id desc",
                  "clientid",
                  "clientid desc",
                  "projectid",
                  "projectid desc",
                  "projectname",
                  "projectname desc",
                  "testcyclefolderid",
                  "testcyclefolderid desc",
                  "testcyclename",
                  "testcyclename desc",
                  "executionenddate",
                  "executionenddate desc",
                  "status",
                  "status desc",
                  "ssor",
                  "ssor desc",
                  "releasename",
                  "releasename desc",
                  "testsuitename",
                  "testsuitename desc",
                  "executionentryfolder",
                  "executionentryfolder desc",
                  "executionlist",
                  "executionlist desc",
                  "run_status_count",
                  "run_status_count desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "clientid",
                  "projectid",
                  "projectname",
                  "testcyclefolderid",
                  "testcyclename",
                  "executionenddate",
                  "status",
                  "ssor",
                  "releasename",
                  "testsuitename",
                  "executionentryfolder",
                  "executionlist",
                  "run_status_count"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of latesttestrunstatus",
                  "properties": {
                    "@odata.count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.latesttestrunstatus"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/latesttestrunstatuses({id})": {
      "parameters": [
        {
          "description": "key: id",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "format": "int64",
            "example": "42",
            "nullable": true
          }
        }
      ],
      "get": {
        "summary": "Get entity from latesttestrunstatuses by key",
        "tags": [
          "latesttestrunstatuses"
        ],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "clientid",
                  "projectid",
                  "projectname",
                  "testcyclefolderid",
                  "testcyclename",
                  "executionenddate",
                  "status",
                  "ssor",
                  "releasename",
                  "testsuitename",
                  "executionentryfolder",
                  "executionlist",
                  "run_status_count"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.latesttestrunstatus"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/latestrunlogs": {
      "get": {
        "summary": "Get entities from latestrunlogs",
        "tags": [
          "latestrunlogs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "testrunlogid",
                  "testrunlogid desc",
                  "testrunid",
                  "testrunid desc",
                  "clientid",
                  "clientid desc",
                  "projectid",
                  "projectid desc",
                  "releaseid",
                  "releaseid desc",
                  "testcaseid",
                  "testcaseid desc",
                  "testcasemasterid",
                  "testcasemasterid desc",
                  "testcyclefolderid",
                  "testcyclefolderid desc",
                  "testsuiteid",
                  "testsuiteid desc",
                  "executionlistid",
                  "executionlistid desc",
                  "executionentryfolderid",
                  "executionentryfolderid desc",
                  "executionfolderid",
                  "executionfolderid desc",
                  "executioncomponentfolderid",
                  "executioncomponentfolderid desc",
                  "status",
                  "status desc",
                  "executionstartdate",
                  "executionstartdate desc",
                  "executionenddate",
                  "executionenddate desc",
                  "ismandate",
                  "ismandate desc",
                  "ssor",
                  "ssor desc",
                  "extrainfo",
                  "extrainfo desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "testrunlogid",
                  "testrunid",
                  "clientid",
                  "projectid",
                  "releaseid",
                  "testcaseid",
                  "testcasemasterid",
                  "testcyclefolderid",
                  "testsuiteid",
                  "executionlistid",
                  "executionentryfolderid",
                  "executionfolderid",
                  "executioncomponentfolderid",
                  "status",
                  "executionstartdate",
                  "executionenddate",
                  "ismandate",
                  "ssor",
                  "extrainfo"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of latestrunlog",
                  "properties": {
                    "@odata.count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.latestrunlog"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/latestrunlogs({testrunlogid})": {
      "parameters": [
        {
          "description": "key: testrunlogid",
          "in": "path",
          "name": "testrunlogid",
          "required": true,
          "schema": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "format": "int64",
            "example": "42",
            "nullable": true
          }
        }
      ],
      "get": {
        "summary": "Get entity from latestrunlogs by key",
        "tags": [
          "latestrunlogs"
        ],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "testrunlogid",
                  "testrunid",
                  "clientid",
                  "projectid",
                  "releaseid",
                  "testcaseid",
                  "testcasemasterid",
                  "testcyclefolderid",
                  "testsuiteid",
                  "executionlistid",
                  "executionentryfolderid",
                  "executionfolderid",
                  "executioncomponentfolderid",
                  "status",
                  "executionstartdate",
                  "executionenddate",
                  "ismandate",
                  "ssor",
                  "extrainfo"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.latestrunlog"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "summary": "Get entities from projects",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "id desc",
                  "clientid",
                  "clientid desc",
                  "ssor",
                  "ssor desc",
                  "name",
                  "name desc",
                  "description",
                  "description desc",
                  "status",
                  "status desc",
                  "uuid",
                  "uuid desc",
                  "viewinggroupname",
                  "viewinggroupname desc",
                  "createdtimestamp",
                  "createdtimestamp desc",
                  "creator",
                  "creator desc",
                  "lastmodifiedtimestamp",
                  "lastmodifiedtimestamp desc",
                  "lastmodifieduser",
                  "lastmodifieduser desc",
                  "startdate",
                  "startdate desc",
                  "enddate",
                  "enddate desc",
                  "starttimestamp",
                  "starttimestamp desc",
                  "endtimestamp",
                  "endtimestamp desc",
                  "extrainfo",
                  "extrainfo desc",
                  "customfields",
                  "customfields desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "clientid",
                  "ssor",
                  "name",
                  "description",
                  "status",
                  "uuid",
                  "viewinggroupname",
                  "createdtimestamp",
                  "creator",
                  "lastmodifiedtimestamp",
                  "lastmodifieduser",
                  "startdate",
                  "enddate",
                  "starttimestamp",
                  "endtimestamp",
                  "extrainfo",
                  "customfields"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of project",
                  "properties": {
                    "@odata.count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.project"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/projects({id})": {
      "parameters": [
        {
          "description": "key: id",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "format": "int64",
            "example": "42",
            "nullable": true
          }
        }
      ],
      "get": {
        "summary": "Get entity from projects by key",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "clientid",
                  "ssor",
                  "name",
                  "description",
                  "status",
                  "uuid",
                  "viewinggroupname",
                  "createdtimestamp",
                  "creator",
                  "lastmodifiedtimestamp",
                  "lastmodifieduser",
                  "startdate",
                  "enddate",
                  "starttimestamp",
                  "endtimestamp",
                  "extrainfo",
                  "customfields"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.project"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/releases": {
      "get": {
        "summary": "Get entities from releases",
        "tags": [
          "releases"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "id desc",
                  "clientid",
                  "clientid desc",
                  "projectid",
                  "projectid desc",
                  "uiid",
                  "uiid desc",
                  "name",
                  "name desc",
                  "description",
                  "description desc",
                  "startdate",
                  "startdate desc",
                  "starttimestamp",
                  "starttimestamp desc",
                  "enddate",
                  "enddate desc",
                  "endtimestamp",
                  "endtimestamp desc",
                  "status",
                  "status desc",
                  "createddate",
                  "createddate desc",
                  "createdtimestamp",
                  "createdtimestamp desc",
                  "creator",
                  "creator desc",
                  "lastmodifieddate",
                  "lastmodifieddate desc",
                  "lastmodifiedtimestamp",
                  "lastmodifiedtimestamp desc",
                  "lastmodifieduser",
                  "lastmodifieduser desc",
                  "ssor",
                  "ssor desc",
                  "extrainfo",
                  "extrainfo desc",
                  "customfields",
                  "customfields desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "clientid",
                  "projectid",
                  "uiid",
                  "name",
                  "description",
                  "startdate",
                  "starttimestamp",
                  "enddate",
                  "endtimestamp",
                  "status",
                  "createddate",
                  "createdtimestamp",
                  "creator",
                  "lastmodifieddate",
                  "lastmodifiedtimestamp",
                  "lastmodifieduser",
                  "ssor",
                  "extrainfo",
                  "customfields"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of release",
                  "properties": {
                    "@odata.count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.release"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/releases({id})": {
      "parameters": [
        {
          "description": "key: id",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "format": "int64",
            "example": "42",
            "nullable": true
          }
        }
      ],
      "get": {
        "summary": "Get entity from releases by key",
        "tags": [
          "releases"
        ],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "clientid",
                  "projectid",
                  "uiid",
                  "name",
                  "description",
                  "startdate",
                  "starttimestamp",
                  "enddate",
                  "endtimestamp",
                  "status",
                  "createddate",
                  "createdtimestamp",
                  "creator",
                  "lastmodifieddate",
                  "lastmodifiedtimestamp",
                  "lastmodifieduser",
                  "ssor",
                  "extrainfo",
                  "customfields"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.release"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/requirementreleases": {
      "get": {
        "summary": "Get entities from requirementreleases",
        "tags": [
          "requirementreleases"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "clientid",
                  "clientid desc",
                  "projectid",
                  "projectid desc",
                  "requirementid",
                  "requirementid desc",
                  "releaseid",
                  "releaseid desc",
                  "buildid",
                  "buildid desc",
                  "automatedtestcases",
                  "automatedtestcases desc",
                  "manualtestcases",
                  "manualtestcases desc",
                  "bothtestcases",
                  "bothtestcases desc",
                  "passedtestcases",
                  "passedtestcases desc",
                  "failedtestcases",
                  "failedtestcases desc",
                  "blockedtestcases",
                  "blockedtestcases desc",
                  "incompletetestcases",
                  "incompletetestcases desc",
                  "unexecutedtestcases",
                  "unexecutedtestcases desc",
                  "ssor",
                  "ssor desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "clientid",
                  "projectid",
                  "requirementid",
                  "releaseid",
                  "buildid",
                  "automatedtestcases",
                  "manualtestcases",
                  "bothtestcases",
                  "passedtestcases",
                  "failedtestcases",
                  "blockedtestcases",
                  "incompletetestcases",
                  "unexecutedtestcases",
                  "ssor"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of requirementrelease",
                  "properties": {
                    "@odata.count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.requirementrelease"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/requirementreleases({projectid})": {
      "parameters": [
        {
          "description": "key: projectid",
          "in": "path",
          "name": "projectid",
          "required": true,
          "schema": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "format": "int64",
            "example": "42",
            "nullable": true
          }
        }
      ],
      "get": {
        "summary": "Get entity from requirementreleases by key",
        "tags": [
          "requirementreleases"
        ],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "clientid",
                  "projectid",
                  "requirementid",
                  "releaseid",
                  "buildid",
                  "automatedtestcases",
                  "manualtestcases",
                  "bothtestcases",
                  "passedtestcases",
                  "failedtestcases",
                  "blockedtestcases",
                  "incompletetestcases",
                  "unexecutedtestcases",
                  "ssor"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.requirementrelease"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/requirements": {
      "get": {
        "summary": "Get entities from requirements",
        "tags": [
          "requirements"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "id desc",
                  "parentid",
                  "parentid desc",
                  "clientid",
                  "clientid desc",
                  "projectid",
                  "projectid desc",
                  "folderid",
                  "folderid desc",
                  "requirementsetid",
                  "requirementsetid desc",
                  "uiid",
                  "uiid desc",
                  "name",
                  "name desc",
                  "description",
                  "description desc",
                  "type",
                  "type desc",
                  "status",
                  "status desc",
                  "priority",
                  "priority desc",
                  "createddate",
                  "createddate desc",
                  "createdtimestamp",
                  "createdtimestamp desc",
                  "creator",
                  "creator desc",
                  "lastmodifieddate",
                  "lastmodifieddate desc",
                  "lastmodifiedtimestamp",
                  "lastmodifiedtimestamp desc",
                  "lastmodifieduser",
                  "lastmodifieduser desc",
                  "damage",
                  "damage desc",
                  "frequency",
                  "frequency desc",
                  "weight",
                  "weight desc",
                  "ssor",
                  "ssor desc",
                  "external_integration",
                  "external_integration desc",
                  "viewinggroupname",
                  "viewinggroupname desc",
                  "extrainfo",
                  "extrainfo desc",
                  "customfields",
                  "customfields desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "parentid",
                  "clientid",
                  "projectid",
                  "folderid",
                  "requirementsetid",
                  "uiid",
                  "name",
                  "description",
                  "type",
                  "status",
                  "priority",
                  "createddate",
                  "createdtimestamp",
                  "creator",
                  "lastmodifieddate",
                  "lastmodifiedtimestamp",
                  "lastmodifieduser",
                  "damage",
                  "frequency",
                  "weight",
                  "ssor",
                  "external_integration",
                  "viewinggroupname",
                  "extrainfo",
                  "customfields"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of requirement",
                  "properties": {
                    "@odata.count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.requirement"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/requirements({id})": {
      "parameters": [
        {
          "description": "key: id",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "format": "int64",
            "example": "42",
            "nullable": true
          }
        }
      ],
      "get": {
        "summary": "Get entity from requirements by key",
        "tags": [
          "requirements"
        ],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "parentid",
                  "clientid",
                  "projectid",
                  "folderid",
                  "requirementsetid",
                  "uiid",
                  "name",
                  "description",
                  "type",
                  "status",
                  "priority",
                  "createddate",
                  "createdtimestamp",
                  "creator",
                  "lastmodifieddate",
                  "lastmodifiedtimestamp",
                  "lastmodifieduser",
                  "damage",
                  "frequency",
                  "weight",
                  "ssor",
                  "external_integration",
                  "viewinggroupname",
                  "extrainfo",
                  "customfields"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.requirement"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/requirementsets": {
      "get": {
        "summary": "Get entities from requirementsets",
        "tags": [
          "requirementsets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
[...]
