openapi: 3.2.0
info:
  description: "[Introduction to qTest API Specification](https://documentation.tricentis.com/qtest/od/en/content/apis/overview/qtest_api_specification.htm) \n[How to use interactive API Doc](https://documentation.tricentis.com/qtest/od/en/content/apis/overview/how_to_use_interactive_api_documentation.htm)\n The bearer token can be found at `[qtestUrl/p/{projectId}/portal/project#tab=resource]` under the API & SDK tab."
  version: v3.0
  title: qTest Manager API Version 3.0 Auth Systems API
servers:
- url: https://apitryout.qtestnet.com/
tags:
- name: auth-systems
  description: Authentication Systems API
paths:
  /api/v3/auth-systems:
    get:
      tags:
      - auth-systems
      summary: Get multiple Authentication Systems
      description: To get multiple Authentication Systems
      operationId: getAll
      responses:
        200:
          description: Return list of Authentication Systems
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSystemResponse'
      security:
      - Authorization: []
  /api/v3/auth-systems/ldap/{ldapAuthConfigId}/import:
    post:
      tags:
      - auth-systems
      summary: Associate Manager users with LDAP users
      description: Associate Manager users with LDAP users authentication LDAP config
      operationId: importLDapUsers
      parameters:
      - name: ldapAuthConfigId
        in: path
        description: Id of the Authentication config
        required: true
        schema:
          type: integer
          format: int64
      - name: mergeUser
        in: query
        description: Option to merge LDAP account to qTest account if qTest email already exists in qTest (support true/false value, <strong>default = false</strong>)
        required: false
        schema:
          type: boolean
      responses:
        200:
          description: Return list of success users and errors if had.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWrapper'
      security:
      - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LdapUserResource'
        required: true
  /api/v3/auth-systems/ldap/{ldapAuthConfigId}/users:
    get:
      tags:
      - auth-systems
      summary: Get all LDAP users of an authentication LDAP config
      description: 'Get all LDAP users of an authentication LDAP config with pagination supported. Users are mapped with qTest users won''t be returned.


        If <strong>pageSize</strong> and <strong>page</strong> is omitted, all users will be returned without any default paging data.'
      operationId: getAllLdapUsers
      parameters:
      - name: ldapAuthConfigId
        in: path
        description: Id of the Authentication config
        required: true
        schema:
          type: integer
          format: int64
      - name: pageSize
        in: query
        description: Number of of item count per page. If this <strong>pageSize</strong> and <strong>page</strong> is omitted, all users will be returned without any default paging data.
        required: false
        schema:
          type: integer
          format: int64
          default: 100
      - name: page
        in: query
        description: Page number that you want to get the result. If this <strong>pageSize</strong> and <strong>page</strong> is omitted, all users will be returned without any default paging data.
        required: false
        schema:
          type: integer
          format: int64
          default: 1
      responses:
        200:
          description: Return list of LDAP users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LDAPUsersResponse'
      security:
      - Authorization: []
components:
  schemas:
    LdapUserVM:
      type: object
      properties:
        uid:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        mail:
          type: string
        activationLink:
          type: string
        mappedUserId:
          type: integer
          format: int64
        newMappedUserName:
          type: string
        disabled:
          type: boolean
        userDN:
          type: string
        externalUserId:
          type: string
    LdapConfigDetailResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        is_activated:
          type: boolean
        auth_type:
          type: string
          example: LDAP
          description: Type of authentication system
          enum:
          - INTERNAL
          - LDAP
          - SSO_SAML2
          - TUA_OPENID
        name:
          type: string
        username:
          type: string
          description: Username of Ldap system
        url:
          type: string
          description: The url of Ldap system
        base:
          type: string
          description: Base of Ldap system
        base_search:
          type: string
          description: Base search of Ldap system
        search_filter:
          type: string
          description: Search filter of Ldap system
        mapped_username:
          type: string
          description: The mapped username field of Ldap system
        mapped_firstname:
          type: string
          description: The mapped firstname field of Ldap system
        mapped_lastname:
          type: string
          description: The mapped lastname field of Ldap system
        mapped_email:
          type: string
          description: The mapped email field of Ldap system
        is_ldap_ssl:
          type: boolean
          example: true
          description: Use SSL connect or not
        is_active_directory:
          type: boolean
          example: false
          description: Is active directory or not
    AuthSystemResponse:
      type: object
      properties:
        ldaps:
          type: array
          items:
            $ref: '#/components/schemas/LdapConfigDetailResponse'
        sso:
          $ref: '#/components/schemas/SSOSamlConfigDetailResponse'
        tua:
          $ref: '#/components/schemas/TUAConfigDetailResponse'
    ResponseWrapper:
      type: object
      properties:
        result:
          type: object
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorMessage'
    SSOSamlConfigDetailResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        is_activated:
          type: boolean
        auth_type:
          type: string
          example: SSO_SAML2
          description: Type of authentication system
          enum:
          - INTERNAL
          - LDAP
          - SSO_SAML2
          - TUA_OPENID
        name:
          type: string
        metadata_link:
          type: string
          description: Metadata link of SSO system
        auto_create_user:
          type: boolean
          description: Auto create user or not
        metadata_filename:
          type: string
    TUAConfigDetailResponse:
      type: object
      properties:
        url:
          type: string
        id:
          type: integer
          format: int64
        is_activated:
          type: boolean
        auth_type:
          type: string
          enum:
          - INTERNAL
          - LDAP
          - SSO_SAML2
          - TUA_OPENID
        name:
          type: string
    LDAPUsersResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/LdapUserVM'
        total:
          type: integer
          format: int32
        page_size:
          type: integer
          format: int32
        page:
          type: integer
          format: int32
    LdapUserResource:
      type: object
      properties:
        ldap_username:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
    ErrorMessage:
      type: object
      properties:
        message:
          type: string
        additionalInfo:
          type: object
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
