openapi: 3.2.0
info:
  title: qTest Explorer | Sessions V3 Resource API
  version: 1.0.0
  description: "These APIs are for internal reference by Tricentis development team only. They are not intended to be used publicly by any qTest or non-qTest users and so there is no support provided by Tricentis at any level. If you want to access these APIs, please send a support ticket to \tsupport@tricentis.com."
servers:
- url: https://session-js.qtestnet.com/
tags:
- name: v3-resource
  description: Resource V3 APIs
paths:
  /api/sessions/{sessionId}/resources:
    get:
      tags:
      - v3-resource
      summary: Gets all Resources by session id
      parameters:
      - name: sessionId
        in: path
        description: session id
        required: true
        schema:
          type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resources'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: The requested resource does not exist
      security:
      - v3_auth: []
      x-swagger-router-controller: api.resource
  /api/sessions/{sessionId}/resources/{resourceId}:
    get:
      tags:
      - v3-resource
      summary: Gets a Resource by id
      parameters:
      - name: sessionId
        in: path
        description: session id
        required: true
        schema:
          type: integer
      - name: resourceId
        in: path
        description: resource id
        required: true
        schema:
          type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: The requested resource does not exist
      security:
      - v3_auth: []
      x-swagger-router-controller: api.resource
    delete:
      tags:
      - v3-resource
      summary: Deletes a Resource by id
      parameters:
      - name: sessionId
        in: path
        description: session id
        required: true
        schema:
          type: integer
      - name: resourceId
        in: path
        description: resource id
        required: true
        schema:
          type: integer
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: The requested resource does not exist
      security:
      - v3_auth: []
      x-swagger-router-controller: api.resource
  /api/sessions/{sessionId}/resources/{resourceId}/download:
    get:
      tags:
      - v3-resource
      summary: Downloads a Resource by id
      parameters:
      - name: sessionId
        in: path
        description: session id
        required: true
        schema:
          type: integer
      - name: resourceId
        in: path
        description: resource id
        required: true
        schema:
          type: integer
      responses:
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: The requested resource does not exist
      security:
      - v3_auth: []
      x-swagger-router-controller: api.resource
  /api/sessions/{sessionId}/resources/upload:
    post:
      tags:
      - v3-resource
      summary: Uploads a Resource
      parameters:
      - name: sessionId
        in: path
        description: session id
        required: true
        schema:
          type: integer
      responses:
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: The requested resource does not exist
      security:
      - v3_auth: []
      x-swagger-router-controller: api.resource
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: file to upload
                  format: binary
              required:
              - file
components:
  schemas:
    Links:
      type: array
      items:
        $ref: '#/components/schemas/Link'
    Link:
      type: object
      properties:
        rel:
          type: string
        href:
          type: string
    Resource:
      type: object
      properties:
        links:
          $ref: '#/components/schemas/Links'
        id:
          type: string
        name:
          type: string
        key:
          type: string
        mime:
          type: string
        created_date:
          type: string
        modified_date:
          type: string
    Resources:
      type: object
      properties:
        links:
          $ref: '#/components/schemas/Links'
        total:
          type: integer
        resources:
          type: array
          items:
            $ref: '#/components/schemas/Resource'
  securitySchemes:
    v2_auth:
      type: apiKey
      name: Authorization
      in: header
    v3_auth:
      type: apiKey
      name: Authorization
      in: header
