openapi: 3.2.0
info:
  title: qTest Explorer | Sessions V3 Upload API
  version: 1.0.0
  description: "These APIs are for internal reference by Tricentis development team only. They are not intended to be used publicly by any qTest or non-qTest users and so there is no support provided by Tricentis at any level. If you want to access these APIs, please send a support ticket to \tsupport@tricentis.com."
servers:
- url: https://session-js.qtestnet.com/
tags:
- name: v3-upload
  description: Upload V3 APIs
paths:
  /api/upload:
    get:
      tags:
      - v3-upload
      summary: Gets a Resource by key
      parameters:
      - name: key
        in: query
        description: Resource key
        required: true
        schema:
          type: string
      - name: action
        in: query
        description: Resource key
        schema:
          type: string
          enum:
          - link
          - attachment
          - public
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: The requested resource does not exist
      security:
      - v3_auth: []
      x-swagger-router-controller: api.upload
    delete:
      tags:
      - v3-upload
      summary: Deletes a Resource by key
      parameters:
      - name: key
        in: query
        description: Resource key
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: The requested resource does not exist
      security:
      - v3_auth: []
      x-swagger-router-controller: api.upload
    post:
      tags:
      - v3-upload
      summary: Uploads a Resource
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                  url:
                    type: string
                  content-type:
                    type: string
        401:
          description: Unauthorized
      security:
      - v3_auth: []
      x-swagger-router-controller: api.upload
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: file to upload
                  format: binary
              required:
              - file
  /upload-objects:
    post:
      tags:
      - v3-upload
      summary: Uploads a Media
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                  url:
                    type: string
                  content-type:
                    type: string
        401:
          description: Unauthorized
      security:
      - v3_auth: []
      x-swagger-router-controller: api.upload
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: file to upload
                  format: binary
              required:
              - file
  /media:
    get:
      tags:
      - v3-upload
      summary: Gets a Media by key
      parameters:
      - name: key
        in: query
        description: Media key
        required: true
        schema:
          type: string
      - name: action
        in: query
        description: Media key
        schema:
          type: string
          enum:
          - link
          - attachment
          - public
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: The requested Media does not exist
      security:
      - v3_auth: []
      x-swagger-router-controller: api.upload
    delete:
      tags:
      - v3-upload
      summary: Deletes a Media by key
      parameters:
      - name: key
        in: query
        description: Media key
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: The requested Media does not exist
      security:
      - v3_auth: []
      x-swagger-router-controller: api.upload
components:
  securitySchemes:
    v2_auth:
      type: apiKey
      name: Authorization
      in: header
    v3_auth:
      type: apiKey
      name: Authorization
      in: header
