openapi: 3.2.0
info:
  title: Tricentis Analytics (Tech Review) Testsuites API
  description: Tricentis Analytics OData APIs
  version: ''
servers:
- url: https://u8.analytics.api.tricentis.com/odata/v4/38549
security:
- ApiKeyAuth: []
- BasicAuth: []
tags:
- name: testsuites
paths:
  /testsuites:
    get:
      summary: Get entities from testsuites
      tags:
      - testsuites
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - name: $filter
        description: Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/count'
      - name: $orderby
        description: Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)
        in: query
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - id
            - id desc
            - uiid
            - uiid desc
            - clientid
            - clientid desc
            - projectid
            - projectid desc
            - testcyclefolderid
            - testcyclefolderid desc
            - buildid
            - buildid desc
            - releaseid
            - releaseid desc
            - assigneduser
            - assigneduser desc
            - name
            - name desc
            - description
            - description desc
            - plannedstarttimestamp
            - plannedstarttimestamp desc
            - plannedendtimestamp
            - plannedendtimestamp desc
            - createdtimestamp
            - createdtimestamp desc
            - creator
            - creator desc
            - lastmodifiedtimestamp
            - lastmodifiedtimestamp desc
            - lastmodifieduser
            - lastmodifieduser desc
            - ssor
            - ssor desc
            - extrainfo
            - extrainfo desc
            - customfields
            - customfields desc
      - name: $select
        description: Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
        in: query
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - id
            - uiid
            - clientid
            - projectid
            - testcyclefolderid
            - buildid
            - releaseid
            - assigneduser
            - name
            - description
            - plannedstarttimestamp
            - plannedendtimestamp
            - createdtimestamp
            - creator
            - lastmodifiedtimestamp
            - lastmodifieduser
            - ssor
            - extrainfo
            - customfields
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                type: object
                title: Collection of testsuite
                properties:
                  '@odata.count':
                    $ref: '#/components/schemas/count'
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.testsuite'
        4XX:
          $ref: '#/components/responses/error'
  /testsuites({id}):
    parameters:
    - description: 'key: id'
      in: path
      name: id
      required: true
      schema:
        anyOf:
        - type: integer
        - type: string
        format: int64
        example: '42'
    get:
      summary: Get entity from testsuites by key
      tags:
      - testsuites
      parameters:
      - name: $select
        description: Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
        in: query
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - id
            - uiid
            - clientid
            - projectid
            - testcyclefolderid
            - buildid
            - releaseid
            - assigneduser
            - name
            - description
            - plannedstarttimestamp
            - plannedendtimestamp
            - createdtimestamp
            - creator
            - lastmodifiedtimestamp
            - lastmodifieduser
            - ssor
            - extrainfo
            - customfields
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/x26997ea37814ba1b9a423c590887c7a7c1262datasource.testsuite'
        4XX:
          $ref: '#/components/responses/error'
components:
  parameters:
    search:
      name: $search
      in: query
      description: Search items by search phrases, see [Searching](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionsearch)
      schema:
        type: string
    top:
      name: $top
      in: query
      description: Show only the first n items, see [Paging - Top](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)
      schema:
        type: integer
        minimum: 0
      example: 50
    count:
      name: $count
      in: query
      description: Include count of items, see [Count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items, see [Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)
      schema:
        type: integer
        minimum: 0
  responses:
    error:
      description: Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
  schemas:
    error:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - code
          - message
          properties:
            code:
              type: string
            message:
              type: string
            target:
              type: string
            details:
              type: array
              items:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
            innererror:
              type: object
              description: The structure of this object is service-specific
    count:
      anyOf:
      - type: number
      - type: string
      description: The number of entities in the collection. Available when using the [$count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount) query option.
    x26997ea37814ba1b9a423c590887c7a7c1262datasource.testsuite:
      title: testsuite
      type: object
      properties:
        id:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        uiid:
          type:
          - string
          - 'null'
          maxLength: 32768
        clientid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        projectid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        testcyclefolderid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        buildid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        releaseid:
          anyOf:
          - type: integer
          - type: string
          format: int64
          example: '42'
        assigneduser:
          type:
          - string
          - 'null'
          maxLength: 32768
        name:
          type:
          - string
          - 'null'
          maxLength: 32768
        description:
          type:
          - string
          - 'null'
          maxLength: 32768
        plannedstarttimestamp:
          type:
          - string
          - 'null'
          format: date-time
          example: '2017-04-13T15:51:04.000000Z'
        plannedendtimestamp:
          type:
          - string
          - 'null'
          format: date-time
          example: '2017-04-13T15:51:04.000000Z'
        createdtimestamp:
          type:
          - string
          - 'null'
          format: date-time
          example: '2017-04-13T15:51:04.000000Z'
        creator:
          type:
          - string
          - 'null'
          maxLength: 32768
        lastmodifiedtimestamp:
          type:
          - string
          - 'null'
          format: date-time
          example: '2017-04-13T15:51:04.000000Z'
        lastmodifieduser:
          type:
          - string
          - 'null'
          maxLength: 32768
        ssor:
          type:
          - string
          - 'null'
          maxLength: 5
        extrainfo:
          type:
          - string
          - 'null'
          maxLength: 32768
        customfields:
          type:
          - string
          - 'null'
          maxLength: 32768
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
