{"openapi":"3.0.3","info":{"title":"TTM for Jira","description":"Tricentis Test Management for Jira","version":"1.0.0","termsOfService":"https://www.tricentis.com/legal-information/general-terms-of-use/"},"externalDocs":{"description":"Documentation","url":"https://documentation.tricentis.com/tricentis_test_management_for_jira/content/cover_web.htm"},"security":[{"api_key":[]}],"components":{"securitySchemes":{"api_key":{"type":"apiKey","description":"TTM4J API Key","name":"Authorization","in":"header"}}},"servers":[{"url":"https://api.ttm4j.tricentis.com"}],"paths":{"/v1/projects/{project-key}/folders":{"get":{"tags":["Folders"],"summary":"Get folder(s).","description":"## Get folders.\r\n            \r\n#### Query parameters to filter by:\r\n            \r\n* **name** : _(optional)_: The folder name.\r\n* **parentId** _(optional)_: The ID of the parent folder where the new folder should be located. (If not provided, only root folders will return).","parameters":[{"name":"name","in":"query","description":"name.","schema":{"type":"string"}},{"name":"parentId","in":"query","description":"parentId.","schema":{"type":"string","format":"uuid"}},{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Numeric value that determines that maximum N results will be returned","schema":{"type":"Integer","default":10,"example":10}},{"name":"offset","in":"query","description":"Numeric value that determines that the result list will start from result #N (zero based)","schema":{"type":"Integer","default":0,"example":0}}],"responses":{"200":{"description":"Successfully get folder(s).","content":{"application/json":{"schema":{"type":"object","properties":{"offset":{"type":"integer","description":"Gets or sets offset.","format":"int32","nullable":true},"limit":{"type":"integer","description":"Gets or sets limit.","format":"int32","nullable":true},"totalCount":{"type":"integer","description":"Gets or sets totalCount.","format":"int32"},"items":{"type":"array","items":{"required":["name"],"type":"object","properties":{"name":{"minLength":1,"type":"string"},"parentId":{"type":"string","format":"uuid","nullable":true},"id":{"type":"string","format":"uuid"},"projectKey":{"type":"string","nullable":true},"created":{"type":"string","format":"date-time","nullable":true},"updated":{"type":"string","format":"date-time","nullable":true},"createdBy":{"type":"string","nullable":true},"updatedBy":{"type":"string","nullable":true},"index":{"type":"integer","format":"int32"}},"additionalProperties":false},"description":"Gets or sets items.","nullable":true}},"additionalProperties":false,"description":"Page Response Scheme."},"examples":{"Created folders":{"value":{"offset":0,"limit":2,"totalCount":2,"items":[{"id":"bd0376da-2981-46b1-9ffd-3d668e205bfa","projectKey":"TE","created":"2026-08-02T12:59:08.7644143Z","updated":"2026-08-02T12:59:08.7644144Z","createdBy":"User","updatedBy":"User","index":0,"name":"Folder 1"},{"id":"775887d3-18b6-4678-b920-5bf53862f097","projectKey":"TE","created":"2026-08-02T12:59:08.7644163Z","updated":"2026-08-02T12:59:08.7644164Z","createdBy":"User","updatedBy":"User","index":0,"name":"Folder inside another folder"}]}}}}}},"400":{"description":"`Invalid parameters`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"BadDataResponse":{"value":{"message":"bad data"}}}}}},"401":{"description":"`Unauthorized`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"UnauthorizedResponse":{"value":{"message":"unauthorized"}}}}}},"404":{"description":"`Not Found`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"NotFoundResponse":{"value":{"message":"not found"}}}}}}},"security":[{"api_key":[]}]},"post":{"tags":["Folders"],"summary":"Create folder(s).","description":"## Create new folders. The body contains a list of folders to create.\r\n            \r\n#### Body fields:\r\n            \r\n* **name** : The folder name.\r\n* **parentId** _(optional)_ : The ID of the parent folder where the new folder should be located.","parameters":[{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"List of folders to create.","content":{"application/json":{"schema":{"minItems":1,"type":"array","items":{"required":["name"],"type":"object","properties":{"name":{"minLength":1,"type":"string"},"parentId":{"type":"string","format":"uuid","nullable":true}},"additionalProperties":false}},"examples":{"Create two folders":{"value":[{"name":"Folder"},{"name":"Folder inside parent folder","parentId":"dbb583c4-4f9d-490f-b62d-1754c1ee442a"}]}}}}},"responses":{"200":{"description":"Successfully created folder(s).","content":{"application/json":{"schema":{"type":"object","properties":{"offset":{"type":"integer","description":"Gets or sets offset.","format":"int32","nullable":true},"limit":{"type":"integer","description":"Gets or sets limit.","format":"int32","nullable":true},"totalCount":{"type":"integer","description":"Gets or sets totalCount.","format":"int32"},"items":{"type":"array","items":{"required":["name"],"type":"object","properties":{"name":{"minLength":1,"type":"string"},"parentId":{"type":"string","format":"uuid","nullable":true},"id":{"type":"string","format":"uuid"},"projectKey":{"type":"string","nullable":true},"created":{"type":"string","format":"date-time","nullable":true},"updated":{"type":"string","format":"date-time","nullable":true},"createdBy":{"type":"string","nullable":true},"updatedBy":{"type":"string","nullable":true},"index":{"type":"integer","format":"int32"}},"additionalProperties":false},"description":"Gets or sets items.","nullable":true}},"additionalProperties":false,"description":"Page Response Scheme."},"examples":{"Created folders":{"value":{"offset":0,"limit":2,"totalCount":2,"items":[{"id":"82dc521b-747e-41ca-ae25-db5fa59fb35d","projectKey":"TE","created":"2026-08-02T12:59:08.7669151Z","updated":"2026-08-02T12:59:08.7669152Z","createdBy":"User","updatedBy":"User","index":0,"name":"Folder 1"},{"id":"eff3446a-7b04-413e-a893-d7cf33a10222","projectKey":"TE","created":"2026-08-02T12:59:08.766917Z","updated":"2026-08-02T12:59:08.766917Z","createdBy":"User","updatedBy":"User","index":0,"name":"Folder inside another folder"}]}}}}}},"400":{"description":"`Invalid parameters`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"BadDataResponse":{"value":{"message":"bad data"}}}}}},"401":{"description":"`Unauthorized`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"UnauthorizedResponse":{"value":{"message":"unauthorized"}}}}}},"404":{"description":"`Not Found`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"NotFoundResponse":{"value":{"message":"not found"}}}}}}},"security":[{"api_key":[]}]}},"/v1/projects/{project-key}/folders/{folderId}":{"put":{"tags":["Folders"],"summary":"Update folder.","description":"## Update folder.\r\n            \r\n#### Body fields:\r\n* **name** _(optional)_: The folder name.\r\n* **parentId** _(optional)_: In case parentId equal to 00000000-0000-0000-0000-000000000000, the folder will be moved to root.","parameters":[{"name":"folderId","in":"path","description":"Folder's Id to update.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Folder's detail to update.","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","nullable":true},"parentId":{"type":"string","format":"uuid","nullable":true}},"additionalProperties":false},"examples":{"Update folder":{"value":{"name":"Folder inside parent folder","parentId":"76f121f8-6959-44a7-a5db-a7af41b2edff"}}}}}},"responses":{"200":{"description":"Successfully updated folder.","content":{"application/json":{"schema":{"required":["name"],"type":"object","properties":{"name":{"minLength":1,"type":"string"},"parentId":{"type":"string","format":"uuid","nullable":true},"id":{"type":"string","format":"uuid"},"projectKey":{"type":"string","nullable":true},"created":{"type":"string","format":"date-time","nullable":true},"updated":{"type":"string","format":"date-time","nullable":true},"createdBy":{"type":"string","nullable":true},"updatedBy":{"type":"string","nullable":true},"index":{"type":"integer","format":"int32"}},"additionalProperties":false},"examples":{"updated folder":{"value":{"id":"eb2057c4-c7b2-46b5-8774-051ed065174a","projectKey":"TE","created":"2026-08-02T12:59:08.771874Z","updated":"2026-08-02T12:59:08.7718741Z","createdBy":"User","updatedBy":"User","index":0,"name":"Folder 1"}}}}}},"400":{"description":"`Invalid parameters`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"BadDataResponse":{"value":{"message":"bad data"}}}}}},"401":{"description":"`Unauthorized`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"UnauthorizedResponse":{"value":{"message":"unauthorized"}}}}}},"404":{"description":"`Not Found`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"NotFoundResponse":{"value":{"message":"not found"}}}}}}},"security":[{"api_key":[]}]}},"/v1/projects/{project-key}/test-cases/requirements":{"post":{"tags":["Requirements"],"summary":"Create Requirements.","description":"## Create Requirements and link to test case.\r\n##### Note: In case issue type won't be provided, default value will be \"Requirement\" issue type.\r\n            \r\n#### Body fields:\r\n* **summary** _(mandatory)_: the requirement summary.\r\n* **description** _(optional)_: the requirement description.\r\n* **issueType** _(optional)_: the requirement issue type (for example: Task, Requirement, Bug, etc..).","parameters":[{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"requirements to create.","content":{"application/json-patch+json":{"schema":{"type":"array","items":{"type":"object","properties":{"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"issueType":{"type":"string","nullable":true}},"additionalProperties":false}},"examples":{"RequirementsApiDataRequestData":{"value":[{"summary":"Requirement summary","description":"Requirement description","issueType":"Bug"},{"summary":"Requirement summary","description":"Requirement description","issueType":"Task"}]}}},"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"issueType":{"type":"string","nullable":true}},"additionalProperties":false}},"examples":{"RequirementsApiDataRequestData":{"value":[{"summary":"Requirement summary","description":"Requirement description","issueType":"Bug"},{"summary":"Requirement summary","description":"Requirement description","issueType":"Task"}]}}},"text/json":{"schema":{"type":"array","items":{"type":"object","properties":{"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"issueType":{"type":"string","nullable":true}},"additionalProperties":false}},"examples":{"RequirementsApiDataRequestData":{"value":[{"summary":"Requirement summary","description":"Requirement description","issueType":"Bug"},{"summary":"Requirement summary","description":"Requirement description","issueType":"Task"}]}}},"application/*+json":{"schema":{"type":"array","items":{"type":"object","properties":{"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"issueType":{"type":"string","nullable":true}},"additionalProperties":false}},"examples":{"RequirementsApiDataRequestData":{"value":[{"summary":"Requirement summary","description":"Requirement description","issueType":"Bug"},{"summary":"Requirement summary","description":"Requirement description","issueType":"Task"}]}}}}},"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"type":"array","items":{"type":"object","properties":{"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"issueType":{"type":"string","nullable":true},"notLinkedRequirement":{"type":"array","items":{"type":"string"},"nullable":true},"linkedRequirement":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false}},"examples":{"RequirementsApiResponseData":{"value":{"notLinkedRequirement":["Key-2"],"linkedRequirement":["Key-1"]}}}},"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"issueType":{"type":"string","nullable":true},"notLinkedRequirement":{"type":"array","items":{"type":"string"},"nullable":true},"linkedRequirement":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false}},"examples":{"RequirementsApiResponseData":{"value":{"notLinkedRequirement":["Key-2"],"linkedRequirement":["Key-1"]}}}},"text/json":{"schema":{"type":"array","items":{"type":"object","properties":{"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"issueType":{"type":"string","nullable":true},"notLinkedRequirement":{"type":"array","items":{"type":"string"},"nullable":true},"linkedRequirement":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false}},"examples":{"RequirementsApiResponseData":{"value":{"notLinkedRequirement":["Key-2"],"linkedRequirement":["Key-1"]}}}}}},"401":{"description":"`Unauthorized."}},"security":[{"api_key":[]}]}},"/v1/projects/{project-key}/test-cases/{key}/requirements":{"post":{"tags":["Requirements"],"summary":"Create Requirements and link to test case.","description":"## Create Requirements and link to test case.\r\n##### Note: In case issue type won't be provided, default value will be \"Requirement\" issue type.\r\n            \r\n#### Body fields:\r\n* **summary** _(mandatory)_: the requirement summary.\r\n* **description** _(optional)_: the requirement description.\r\n* **issueType** _(optional)_: the requirement issue type (for example: Task, Requirement, Bug, etc..).","parameters":[{"name":"key","in":"path","description":"jiraTestKey.","required":true,"schema":{"type":"string"}},{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"requirements to create.","content":{"application/json-patch+json":{"schema":{"type":"array","items":{"type":"object","properties":{"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"issueType":{"type":"string","nullable":true}},"additionalProperties":false}},"examples":{"RequirementsApiDataRequestData":{"value":[{"summary":"Requirement summary","description":"Requirement description","issueType":"Bug"},{"summary":"Requirement summary","description":"Requirement description","issueType":"Task"}]}}},"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"issueType":{"type":"string","nullable":true}},"additionalProperties":false}},"examples":{"RequirementsApiDataRequestData":{"value":[{"summary":"Requirement summary","description":"Requirement description","issueType":"Bug"},{"summary":"Requirement summary","description":"Requirement description","issueType":"Task"}]}}},"text/json":{"schema":{"type":"array","items":{"type":"object","properties":{"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"issueType":{"type":"string","nullable":true}},"additionalProperties":false}},"examples":{"RequirementsApiDataRequestData":{"value":[{"summary":"Requirement summary","description":"Requirement description","issueType":"Bug"},{"summary":"Requirement summary","description":"Requirement description","issueType":"Task"}]}}},"application/*+json":{"schema":{"type":"array","items":{"type":"object","properties":{"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"issueType":{"type":"string","nullable":true}},"additionalProperties":false}},"examples":{"RequirementsApiDataRequestData":{"value":[{"summary":"Requirement summary","description":"Requirement description","issueType":"Bug"},{"summary":"Requirement summary","description":"Requirement description","issueType":"Task"}]}}}}},"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"type":"array","items":{"type":"object","properties":{"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"issueType":{"type":"string","nullable":true},"notLinkedRequirement":{"type":"array","items":{"type":"string"},"nullable":true},"linkedRequirement":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false}},"examples":{"RequirementsApiResponseData":{"value":{"notLinkedRequirement":["Key-2"],"linkedRequirement":["Key-1"]}}}},"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"issueType":{"type":"string","nullable":true},"notLinkedRequirement":{"type":"array","items":{"type":"string"},"nullable":true},"linkedRequirement":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false}},"examples":{"RequirementsApiResponseData":{"value":{"notLinkedRequirement":["Key-2"],"linkedRequirement":["Key-1"]}}}},"text/json":{"schema":{"type":"array","items":{"type":"object","properties":{"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"issueType":{"type":"string","nullable":true},"notLinkedRequirement":{"type":"array","items":{"type":"string"},"nullable":true},"linkedRequirement":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false}},"examples":{"RequirementsApiResponseData":{"value":{"notLinkedRequirement":["Key-2"],"linkedRequirement":["Key-1"]}}}}}},"401":{"description":"`Unauthorized."}},"security":[{"api_key":[]}]}},"/v1/projects/{project-key}/test-cases/{key}/requirement/link":{"post":{"tags":["Requirements"],"summary":"Link Requirements to test case.","description":"## Link Requirements to test case.\r\n            \r\n#### Body fields:\r\n* **issueKey** _(mandatory)_: the issue key.","parameters":[{"name":"key","in":"path","description":"jiraTestKey.","required":true,"schema":{"type":"string"}},{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"requirements to link.","content":{"application/json-patch+json":{"schema":{"type":"array","items":{"type":"object","properties":{"issueKey":{"type":"string","nullable":true}},"additionalProperties":false}},"examples":{"LinkRequirementsApiData":{"value":[{"issueKey":"Key-1"},{"issueKey":"Key-2"}]}}},"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"issueKey":{"type":"string","nullable":true}},"additionalProperties":false}},"examples":{"LinkRequirementsApiData":{"value":[{"issueKey":"Key-1"},{"issueKey":"Key-2"}]}}},"text/json":{"schema":{"type":"array","items":{"type":"object","properties":{"issueKey":{"type":"string","nullable":true}},"additionalProperties":false}},"examples":{"LinkRequirementsApiData":{"value":[{"issueKey":"Key-1"},{"issueKey":"Key-2"}]}}},"application/*+json":{"schema":{"type":"array","items":{"type":"object","properties":{"issueKey":{"type":"string","nullable":true}},"additionalProperties":false}},"examples":{"LinkRequirementsApiData":{"value":[{"issueKey":"Key-1"},{"issueKey":"Key-2"}]}}}}},"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"type":"array","items":{"type":"object","properties":{"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"issueType":{"type":"string","nullable":true},"notLinkedRequirement":{"type":"array","items":{"type":"string"},"nullable":true},"linkedRequirement":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false}},"examples":{"RequirementsApiResponseData":{"value":{"notLinkedRequirement":["Key-2"],"linkedRequirement":["Key-1"]}}}},"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"issueType":{"type":"string","nullable":true},"notLinkedRequirement":{"type":"array","items":{"type":"string"},"nullable":true},"linkedRequirement":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false}},"examples":{"RequirementsApiResponseData":{"value":{"notLinkedRequirement":["Key-2"],"linkedRequirement":["Key-1"]}}}},"text/json":{"schema":{"type":"array","items":{"type":"object","properties":{"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"issueType":{"type":"string","nullable":true},"notLinkedRequirement":{"type":"array","items":{"type":"string"},"nullable":true},"linkedRequirement":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false}},"examples":{"RequirementsApiResponseData":{"value":{"notLinkedRequirement":["Key-2"],"linkedRequirement":["Key-1"]}}}}}},"401":{"description":"`Unauthorized."}},"security":[{"api_key":[]}]}},"/v1/projects/{project-key}/test-cases":{"get":{"tags":["Test Cases"],"summary":"Read test case(s).","description":"Please note that this endpoint is deprecated and will be removed in the future. Use the /test-cases/bulk endpoint instead.\r\n            \r\n## Get or retrieve information from test case(s).\r\n            \r\n#### Body fields:\r\n* **jiraFields**: a comma-separated list of Jira fields to return for each issue. Use this to retrieve a subset of fields.\r\n* **ttmFields**: a comma-separated list of Jira fields to return for each issue. Use this to retrieve a subset of fields.","parameters":[{"name":"jiraFields","in":"query","description":"A list of Jira fields to return for each issue, use it to retrieve a subset of fields. Provide a comma-separated list.","schema":{"type":"string"}},{"name":"ttmFields","in":"query","description":"A list of TTM fields to return for each issue, use it to retrieve a subset of fields. Provide a comma-separated list.","schema":{"type":"string"}},{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Numeric value that determines that maximum N results will be returned","schema":{"type":"Integer","default":10,"example":10}},{"name":"offset","in":"query","description":"Numeric value that determines that the result list will start from result #N (zero based)","schema":{"type":"Integer","default":0,"example":0}}],"responses":{"200":{"description":"Successfully retrieved test cases information.","content":{"application/json":{"schema":{"type":"object","properties":{"offset":{"type":"integer","description":"Gets or sets offset.","format":"int32","nullable":true},"limit":{"type":"integer","description":"Gets or sets limit.","format":"int32","nullable":true},"totalCount":{"type":"integer","description":"Gets or sets totalCount.","format":"int32"},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","nullable":true},"key":{"type":"string","nullable":true},"project":{"type":"string","nullable":true},"testCategory":{"type":"string","nullable":true},"testType":{"enum":["Manual","Automated"],"type":"string"},"fields":{"type":"object","properties":{"components":{"type":"array","items":{"type":"string"},"nullable":true},"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"priority":{"type":"string","nullable":true},"labels":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false},"customFields":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"value":{"nullable":true}},"additionalProperties":false},"nullable":true},"ttmFields":{"type":"object","properties":{"precondition":{"type":"string","nullable":true},"steps":{"type":"array","items":{"type":"object","additionalProperties":false},"nullable":true}},"additionalProperties":false},"requirements":{"type":"array","items":{"type":"string"},"nullable":true},"folder":{"type":"string","nullable":true},"folderId":{"type":"string","format":"uuid","nullable":true},"automation":{"type":"object","properties":{"name":{"type":"string","nullable":true},"externalId":{"type":"string","nullable":true},"content":{"type":"string","nullable":true}},"additionalProperties":false}},"additionalProperties":false},"description":"Gets or sets items.","nullable":true}},"additionalProperties":false,"description":"Page Response Scheme."},"examples":{"Tests results":{"value":{"offset":0,"limit":1,"totalCount":100,"items":[{"id":"acde1582-0cfe-46d2-9561-478a67d43b93","key":"TE-1","project":"TE","testType":"Manual","fields":{"summary":"Test 1 status","description":"Test 1 description","status":"Backlog","priority":"High","labels":["My Label"]},"customFields":[{"key":"customField_10001","name":"A custom field","value":"Some value"}],"ttmFields":{"precondition":"A precondition","steps":[{"testCaseKey":"TE-2","testCaseId":"10000"},{"description":"Login","expectedResult":"Login should work"},{"description":"Logout","expectedResult":"Logout should work"},{"testCaseKey":"TE-5","testCaseId":"10004","deleted":true}]},"requirements":["TE-10","TE-11"],"folder":"parent folder/child folder","folderId":"35ea12e6-f03e-4c20-85c1-da64525a0436"},{"id":"e5dbf10e-ee5c-47d9-9e8c-403ce6c1b34a","key":"TE-2","project":"TE","testType":"Automated","fields":{"summary":"An automated test","description":"Automated test description","status":"Backlog","priority":"High","labels":["My Label"]},"requirements":["TE-12","TE-13"],"folder":"automated tests/feature1","folderId":"13354c28-a3da-4d37-a2e9-d25330e78909"}]}}}}}},"400":{"description":"`Invalid parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"BadDataResponse":{"value":{"message":"bad data"}}}}}},"401":{"description":"`Unauthorized`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"UnauthorizedResponse":{"value":{"message":"unauthorized"}}}}}},"404":{"description":"`Not Found`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"NotFoundResponse":{"value":{"message":"not found"}}}}}}},"deprecated":true,"security":[{"api_key":[]}]},"post":{"tags":["Test Cases"],"summary":"Create test case(s).","description":"## Create test case(s).\r\n            \r\n#### Body fields:\r\n            \r\n* **folder** _(optional)_: Specify the folder path where you want to save the test case. A path is a string of concatenated parts separated by a slash \"/\".  If you don't specify a folder path, the test case saves in the \"All tests\" folder. Do not specify both the folder and the folderID, or the request will fail.\r\n* **folderId** _(optional)_: Specify a unique ID associated with the folder in the TTM database, which specifies where the test case should be saved. Do not specify both the folder and the folderID, or the request will fail.\r\n* **callbackUrl** _(optional)_: Specify a URL that will recevie status of the request (The URL will serve as POST endpoint in the user side).\r\n* **tests**: Provide a list of tests with the following values:\r\n    * **fields**: The native Jira fields in a test case. The following fields are available:\r\n        * **summary**: The Summary of the test case in Jira.\r\n        * **description** _(optional)_: The Description of the test case in Jira.\r\n        * **status** _(optional)_: The Status of the test case in Jira.\r\n        * **priority** _(optional)_: The Priority of the test case in Jira.\r\n        * **labels** _(optional)_: The Labels of the test case in Jira.\r\n    * **ttmFields**: These are the Jira fields provided by the Tricentis Test Management for Jira plugin. The following fields are available:\r\n        * **precondition** _(optional)_: The precondition for a test case.\r\n        * **steps** _(optional)_: The list of steps for the test case.\r\n            * **description** _(optional)_: Step description.\r\n            * **expectedResult** _(optional)_: Step expected result.\r\n            * **data** _(optional)_: Step data.\r\n            * **testCaseKey** _(optional)_: test case key, when set the step will call the test case and other step fields will be ignored.\r\n    * **testType**: Can be one of the following: \"Manual\", \"Automated\"\r\n    * **requirements** _(optional)_: List of issues keys (from Jira) that should be linked as requirements.\r\n    * **customFields** _(optional)_: The custom Jira fields in a test case.\r\n    * **folder** _(optional)_: Specify the folder path where you want to save the test case. A path is a string of concatenated parts separated by a slash \"/\".  If you don't specify a folder path, the test case saves in the \"All tests\" folder. Do not specify both the folder and the folderID, or the request will fail. If you do not specify the folder in this field, the request uses the folder specified at the root level.\r\n    * **folderId** _(optional)_: Specify a unique ID associated with the folder in the TTM database, which specifies where the test case should be saved. Do not specify both the folder and the folderID, or the request will fail. If you do not specify the folderId in this field, the request uses the folderId specified at the root level.\r\n    * **automation** _(optional)_: Automation data. Provide the following values for your test case:\r\n        * **name**: The name of your external automation system. For example, Testim.\r\n        * **externalId** _(optional)_: The ID of the test in your external automation platform.\r\n        * **content** _(optional)_: The content your automation system supplies to represent the test.","parameters":[{"name":"strictOrder","in":"query","description":"If strict order is true, test-cases will be created according to the given order.","schema":{"type":"boolean","default":false}},{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"External API body payload that describes the tests to create.","content":{"application/json":{"schema":{"type":"object","properties":{"folder":{"type":"string","nullable":true},"folderId":{"type":"string","format":"uuid","nullable":true},"callbackUrl":{"type":"string","nullable":true},"tests":{"type":"array","items":{"required":["testType"],"type":"object","properties":{"testType":{"enum":["Manual","Automated"],"type":"string"},"fields":{"type":"object","properties":{"components":{"type":"array","items":{"type":"string"},"nullable":true},"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"priority":{"type":"string","nullable":true},"labels":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false},"customFields":{"type":"object","additionalProperties":{},"nullable":true},"ttmFields":{"type":"object","properties":{"precondition":{"type":"string","nullable":true},"steps":{"type":"array","items":{"type":"object","properties":{"expectedResult":{"type":"string","nullable":true},"data":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"testCaseKey":{"type":"string","nullable":true}},"additionalProperties":false},"nullable":true}},"additionalProperties":false},"automation":{"required":["name"],"type":"object","properties":{"name":{"minLength":1,"type":"string"},"externalId":{"type":"string","nullable":true},"content":{"type":"string","nullable":true}},"additionalProperties":false},"requirements":{"type":"array","items":{"type":"string"},"nullable":true},"folder":{"type":"string","nullable":true},"folderId":{"type":"string","format":"uuid","nullable":true}},"additionalProperties":false},"nullable":true}},"additionalProperties":false},"examples":{"Quick start example":{"value":{"tests":[{"testType":"Manual","fields":{"summary":"Empty test with summary only"}},{"testType":"Manual","fields":{"summary":"Test with summary, description and precondition only","description":"Some description"},"ttmFields":{"precondition":"Some precondition"}},{"testType":"Manual","fields":{"summary":"Test with summary, description, precondition and steps","description":"Some description"},"ttmFields":{"precondition":"Some precondition","steps":[{"description":"Step with description only"},{"description":"Step with description and expected result","expectedResult":"Expected result of the step"},{"description":"Step with description, expected result and data","expectedResult":"Step with description, expected result and data","data":"Step with description, expected result and data"}]}},{"testType":"Manual","fields":{"summary":"Test with custom fields (Please replace the custom fields to real fields from your account)"},"customFields":{"custom summary field":"Custom summary text","custom status field":"MyCustomStatus"}}]}},"Complex example":{"value":{"folder":"Sanity tests/Login feature","callbackUrl":"http://yourPostEndpoint","tests":[{"testType":"Manual","fields":{"summary":"Test example with common used fields","description":"Please replace the issues in \"requirements\" and \"testCase\" fields to real issues from your Jira account","status":"In Progress","priority":"High","labels":["My Label"]},"ttmFields":{"precondition":"You need internet connection","steps":[{"description":"Open the browser"},{"description":"Type the url: \"https://example.com/login\""},{"description":"Enter username and password, and click login","expectedResult":"Login should successful, the next step is a clean up test (child test)","data":"Website to login is https://api.ttm4j.tricentis.com/"},{"testCaseKey":"PR-1"}]},"requirements":["PR-10","PR-11"]},{"testType":"Manual","fields":{"summary":"Test in a specific folder","description":"Note: the folder will be created if it does not exist"},"folder":"Specific folder/Feature 1"},{"testType":"Manual","fields":{"summary":"Test in a specific folder (by parent id. please replace this ID to a real id from your account)"},"folderId":"160441c9-6a84-4dc9-aaa8-cfbaaf736497"},{"testType":"Manual","fields":{"summary":"Test with custom fields (Please replace the custom fields to real fields from your account)"},"customFields":{"custom summary field":"Custom summary text","custom status field":"MyCustomStatus"}},{"testType":"Automated","fields":{"summary":"Automated test case (Should include \"automation\" field)"},"automation":{"name":"Automation name","externalId":"12345","content":"Automation content"}}]}}}}}},"responses":{"202":{"description":"The job to create the test cases was successfully scheduled.","content":{"application/json":{"schema":{"type":"object","properties":{"folder":{"type":"string","nullable":true},"folderId":{"type":"string","format":"uuid","nullable":true},"callbackUrl":{"type":"string","nullable":true},"tests":{"type":"array","items":{"required":["testType"],"type":"object","properties":{"testType":{"enum":["Manual","Automated"],"type":"string"},"fields":{"type":"object","properties":{"components":{"type":"array","items":{"type":"string"},"nullable":true},"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"priority":{"type":"string","nullable":true},"labels":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false},"customFields":{"type":"object","additionalProperties":{},"nullable":true},"ttmFields":{"type":"object","properties":{"precondition":{"type":"string","nullable":true},"steps":{"type":"array","items":{"type":"object","properties":{"expectedResult":{"type":"string","nullable":true},"data":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"testCaseKey":{"type":"string","nullable":true}},"additionalProperties":false},"nullable":true}},"additionalProperties":false},"automation":{"required":["name"],"type":"object","properties":{"name":{"minLength":1,"type":"string"},"externalId":{"type":"string","nullable":true},"content":{"type":"string","nullable":true}},"additionalProperties":false},"requirements":{"type":"array","items":{"type":"string"},"nullable":true},"folder":{"type":"string","nullable":true},"folderId":{"type":"string","format":"uuid","nullable":true}},"additionalProperties":false},"nullable":true}},"additionalProperties":false},"examples":{"Create tests job created":{"value":{"jobId":"51d3c699-6319-4f33-adf9-f399a1510ce4"}}}}}},"400":{"description":"`Invalid parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"BadDataResponse":{"value":{"message":"bad data"}}}}}},"401":{"description":"`Unauthorized`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"UnauthorizedResponse":{"value":{"message":"unauthorized"}}}}}},"404":{"description":"`Not Found`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"NotFoundResponse":{"value":{"message":"not found"}}}}}}},"security":[{"api_key":[]}]}},"/v1/projects/{project-key}/test-cases/bulk":{"get":{"tags":["Test Cases"],"summary":"Read test case(s).","description":"## Get or retrieve information from test case(s).\r\n            \r\n#### Body fields:\r\n* **jiraFields**: a comma-separated list of Jira fields to return for each issue. Use this to retrieve a subset of fields.\r\n* **ttmFields**: a comma-separated list of Jira fields to return for each issue. Use this to retrieve a subset of fields.\r\n* **folderId**: an optional folder ID to filter test cases. If provided, only test cases in the specified folder (including all child folders) will be returned. Cannot be used together with folderPath.\r\n* **folderPath**: an optional folder path to filter test cases. If provided, only test cases in the specified folder path (including all child folders) will be returned. Example: \"Main Folder/Child Folder\". Cannot be used together with folderId.","parameters":[{"name":"jiraFields","in":"query","description":"A list of Jira fields to return for each issue, use it to retrieve a subset of fields. Provide a comma-separated list.","schema":{"type":"string"}},{"name":"ttmFields","in":"query","description":"A list of TTM fields to return for each issue, use it to retrieve a subset of fields. Provide a comma-separated list.","schema":{"type":"string"}},{"name":"folderId","in":"query","description":"An optional folder ID to filter test cases. If provided, only test cases in the specified folder (including all child folders) will be returned. Cannot be used together with folderPath.","schema":{"type":"string","format":"uuid"}},{"name":"folderPath","in":"query","description":"An optional folder path to filter test cases. If provided, only test cases in the specified folder path (including all child folders) will be returned. Example: \"Main Folder/Child Folder\". Cannot be used together with folderId.","schema":{"type":"string"}},{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Numeric value that determines that maximum N results will be returned","schema":{"type":"Integer","default":10,"example":10}},{"name":"nextPageToken","in":"query","description":"The cursor for pagination: To get the next page, pass this parameter; to get the first page, omit this parameter. The parameter is returned from the previous page.","schema":{"type":"String","default":null}}],"responses":{"200":{"description":"Successfully retrieved test cases information.","content":{"application/json":{"schema":{"type":"object","properties":{"offset":{"type":"integer","description":"Gets or sets offset.","format":"int32","nullable":true},"limit":{"type":"integer","description":"Gets or sets limit.","format":"int32","nullable":true},"totalCount":{"type":"integer","description":"Gets or sets totalCount.","format":"int32"},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","nullable":true},"key":{"type":"string","nullable":true},"project":{"type":"string","nullable":true},"testCategory":{"type":"string","nullable":true},"testType":{"enum":["Manual","Automated"],"type":"string"},"fields":{"type":"object","properties":{"components":{"type":"array","items":{"type":"string"},"nullable":true},"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"priority":{"type":"string","nullable":true},"labels":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false},"customFields":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"value":{"nullable":true}},"additionalProperties":false},"nullable":true},"ttmFields":{"type":"object","properties":{"precondition":{"type":"string","nullable":true},"steps":{"type":"array","items":{"type":"object","additionalProperties":false},"nullable":true}},"additionalProperties":false},"requirements":{"type":"array","items":{"type":"string"},"nullable":true},"folder":{"type":"string","nullable":true},"folderId":{"type":"string","format":"uuid","nullable":true},"automation":{"type":"object","properties":{"name":{"type":"string","nullable":true},"externalId":{"type":"string","nullable":true},"content":{"type":"string","nullable":true}},"additionalProperties":false}},"additionalProperties":false},"description":"Gets or sets items.","nullable":true}},"additionalProperties":false,"description":"Page Response Scheme."},"examples":{"Tests results":{"value":{"limit":1,"nextPageToken":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","items":[{"id":"15906bae-66d8-484a-b920-552beccc0a4a","key":"TE-1","project":"TE","testType":"Manual","fields":{"summary":"Test 1 status","description":"Test 1 description","status":"Backlog","priority":"High","labels":["My Label"]},"customFields":[{"key":"customField_10001","name":"A custom field","value":"Some value"}],"ttmFields":{"precondition":"A precondition","steps":[{"testCaseKey":"TE-2","testCaseId":"10000"},{"description":"Login","expectedResult":"Login should work"},{"description":"Logout","expectedResult":"Logout should work"},{"testCaseKey":"TE-5","testCaseId":"10004","deleted":true}]},"requirements":["TE-10","TE-11"],"folder":"parent folder/child folder","folderId":"c30ac076-2804-4af1-ab30-d57ccb4e7965"},{"id":"023bc02a-3851-4b9b-bd57-3daefe6625f6","key":"TE-2","project":"TE","testType":"Automated","fields":{"summary":"An automated test","description":"Automated test description","status":"Backlog","priority":"High","labels":["My Label"]},"requirements":["TE-12","TE-13"],"folder":"automated tests/feature1","folderId":"cfa0b1e8-70c3-4d86-b2c7-630bf1834469"}]}}}}}},"400":{"description":"`Invalid parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"BadDataResponse":{"value":{"message":"bad data"}}}}}},"401":{"description":"`Unauthorized`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"UnauthorizedResponse":{"value":{"message":"unauthorized"}}}}}},"404":{"description":"`Not Found`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"NotFoundResponse":{"value":{"message":"not found"}}}}}}},"security":[{"api_key":[]}]}},"/v1/test-cases/search":{"post":{"tags":["Test Cases"],"summary":"Search test case(s).","description":"## Search for test case(s) using JQL.\r\nPlease note that this endpoint is deprecated and will be removed in the future. Use the /test-cases/search/jql endpoint instead.\r\n#### Body fields:\r\n            \r\n* **jql** _(optional)_: The Jira Query Language (JQL) query to search.\r\n* **jiraFields**: A comma-separated list of Jira fields to return for each issue. Use this to retrieve a subset of fields.\r\n* **ttmFields**: A comma-separated list of TTM fields to return for each issue. Use this to retrieve a subset of fields.","parameters":[{"name":"jiraFields","in":"query","description":"A list of Jira fields to return for each issue, use it to retrieve a subset of fields. Provide a comma-separated list.","schema":{"type":"string"}},{"name":"ttmFields","in":"query","description":"A list of TTM fields to return for each issue, use it to retrieve a subset of fields. Provide a comma-separated list.","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Numeric value that determines that maximum N results will be returned","schema":{"type":"Integer","default":10,"example":10}},{"name":"offset","in":"query","description":"Numeric value that determines that the result list will start from result #N (zero based)","schema":{"type":"Integer","default":0,"example":0}}],"requestBody":{"description":"The request body.","content":{"application/json":{"schema":{"type":"object","properties":{"jql":{"type":"string","nullable":true}},"additionalProperties":false}}}},"responses":{"200":{"description":"Successfully retrieved test cases for the provided query.","content":{"application/json":{"schema":{"type":"object","properties":{"offset":{"type":"integer","description":"Gets or sets offset.","format":"int32","nullable":true},"limit":{"type":"integer","description":"Gets or sets limit.","format":"int32","nullable":true},"totalCount":{"type":"integer","description":"Gets or sets totalCount.","format":"int32"},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","nullable":true},"key":{"type":"string","nullable":true},"project":{"type":"string","nullable":true},"testCategory":{"type":"string","nullable":true},"testType":{"enum":["Manual","Automated"],"type":"string"},"fields":{"type":"object","properties":{"components":{"type":"array","items":{"type":"string"},"nullable":true},"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"priority":{"type":"string","nullable":true},"labels":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false},"customFields":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"value":{"nullable":true}},"additionalProperties":false},"nullable":true},"ttmFields":{"type":"object","properties":{"precondition":{"type":"string","nullable":true},"steps":{"type":"array","items":{"type":"object","additionalProperties":false},"nullable":true}},"additionalProperties":false},"requirements":{"type":"array","items":{"type":"string"},"nullable":true},"folder":{"type":"string","nullable":true},"folderId":{"type":"string","format":"uuid","nullable":true},"automation":{"type":"object","properties":{"name":{"type":"string","nullable":true},"externalId":{"type":"string","nullable":true},"content":{"type":"string","nullable":true}},"additionalProperties":false}},"additionalProperties":false},"description":"Gets or sets items.","nullable":true}},"additionalProperties":false,"description":"Page Response Scheme."},"examples":{"Tests results":{"value":{"offset":0,"limit":1,"totalCount":100,"items":[{"id":"93a63ab3-9c3b-4ec3-9d19-883cc3c77c99","key":"TE-1","project":"TE","testType":"Manual","fields":{"summary":"Test 1 status","description":"Test 1 description","status":"Backlog","priority":"High","labels":["My Label"]},"customFields":[{"key":"customField_10001","name":"A custom field","value":"Some value"}],"ttmFields":{"precondition":"A precondition","steps":[{"testCaseKey":"TE-2","testCaseId":"10000"},{"description":"Login","expectedResult":"Login should work"},{"description":"Logout","expectedResult":"Logout should work"},{"testCaseKey":"TE-5","testCaseId":"10004","deleted":true}]},"requirements":["TE-10","TE-11"],"folder":"parent folder/child folder","folderId":"14e197ed-f63b-4560-aeee-31d05e2d5154"},{"id":"0e76ca1b-4f65-4529-a9dc-e090a8fa5dac","key":"TE-2","project":"TE","testType":"Automated","fields":{"summary":"An automated test","description":"Automated test description","status":"Backlog","priority":"High","labels":["My Label"]},"requirements":["TE-12","TE-13"],"folder":"automated tests/feature1","folderId":"1225389c-6d7f-4691-99ad-555338cd1367"}]}}}}}},"400":{"description":"`Invalid parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"BadDataResponse":{"value":{"message":"bad data"}}}}}},"401":{"description":"`Unauthorized`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"UnauthorizedResponse":{"value":{"message":"unauthorized"}}}}}},"404":{"description":"`Not Found`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"NotFoundResponse":{"value":{"message":"not found"}}}}}}},"deprecated":true,"security":[{"api_key":[]}]}},"/v1/test-cases/search/jql":{"post":{"tags":["Test Cases"],"summary":"Search test case(s).","description":"## Search for test case(s) using JQL.\r\n            \r\n#### Body fields:\r\n            \r\n* **jql** _(optional)_: The Jira Query Language (JQL) query to search.\r\n* **jiraFields**: A comma-separated list of Jira fields to return for each issue. Use this to retrieve a subset of fields.\r\n* **ttmFields**: A comma-separated list of TTM fields to return for each issue. Use this to retrieve a subset of fields.","parameters":[{"name":"jiraFields","in":"query","description":"A list of Jira fields to return for each issue, use it to retrieve a subset of fields. Provide a comma-separated list.","schema":{"type":"string"}},{"name":"ttmFields","in":"query","description":"A list of TTM fields to return for each issue, use it to retrieve a subset of fields. Provide a comma-separated list.","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Numeric value that determines that maximum N results will be returned","schema":{"type":"Integer","default":10,"example":10}},{"name":"nextPageToken","in":"query","description":"The cursor for pagination: To get the next page, pass this parameter; to get the first page, omit this parameter. The parameter is returned from the previous page.","schema":{"type":"String","default":null}}],"requestBody":{"description":"The request body.","content":{"application/json":{"schema":{"type":"object","properties":{"jql":{"type":"string","nullable":true}},"additionalProperties":false}}}},"responses":{"200":{"description":"Successfully retrieved test cases for the provided query.","content":{"application/json":{"schema":{"type":"object","properties":{"offset":{"type":"integer","description":"Gets or sets offset.","format":"int32","nullable":true},"limit":{"type":"integer","description":"Gets or sets limit.","format":"int32","nullable":true},"totalCount":{"type":"integer","description":"Gets or sets totalCount.","format":"int32"},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","nullable":true},"key":{"type":"string","nullable":true},"project":{"type":"string","nullable":true},"testCategory":{"type":"string","nullable":true},"testType":{"enum":["Manual","Automated"],"type":"string"},"fields":{"type":"object","properties":{"components":{"type":"array","items":{"type":"string"},"nullable":true},"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"priority":{"type":"string","nullable":true},"labels":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false},"customFields":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"value":{"nullable":true}},"additionalProperties":false},"nullable":true},"ttmFields":{"type":"object","properties":{"precondition":{"type":"string","nullable":true},"steps":{"type":"array","items":{"type":"object","additionalProperties":false},"nullable":true}},"additionalProperties":false},"requirements":{"type":"array","items":{"type":"string"},"nullable":true},"folder":{"type":"string","nullable":true},"folderId":{"type":"string","format":"uuid","nullable":true},"automation":{"type":"object","properties":{"name":{"type":"string","nullable":true},"externalId":{"type":"string","nullable":true},"content":{"type":"string","nullable":true}},"additionalProperties":false}},"additionalProperties":false},"description":"Gets or sets items.","nullable":true}},"additionalProperties":false,"description":"Page Response Scheme."},"examples":{"Tests results":{"value":{"limit":1,"nextPageToken":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","items":[{"id":"ce36a641-e5cd-406c-8438-635da0738bad","key":"TE-1","project":"TE","testType":"Manual","fields":{"summary":"Test 1 status","description":"Test 1 description","status":"Backlog","priority":"High","labels":["My Label"]},"customFields":[{"key":"customField_10001","name":"A custom field","value":"Some value"}],"ttmFields":{"precondition":"A precondition","steps":[{"testCaseKey":"TE-2","testCaseId":"10000"},{"description":"Login","expectedResult":"Login should work"},{"description":"Logout","expectedResult":"Logout should work"},{"testCaseKey":"TE-5","testCaseId":"10004","deleted":true}]},"requirements":["TE-10","TE-11"],"folder":"parent folder/child folder","folderId":"3d1f056e-dd30-40a7-8911-0f0614367aae"},{"id":"07253e35-456e-4a7e-8b06-ef8bc7abc53b","key":"TE-2","project":"TE","testType":"Automated","fields":{"summary":"An automated test","description":"Automated test description","status":"Backlog","priority":"High","labels":["My Label"]},"requirements":["TE-12","TE-13"],"folder":"automated tests/feature1","folderId":"00c1a8c4-59de-4301-bbc7-b115039b5d27"}]}}}}}},"400":{"description":"`Invalid parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"BadDataResponse":{"value":{"message":"bad data"}}}}}},"401":{"description":"`Unauthorized`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"UnauthorizedResponse":{"value":{"message":"unauthorized"}}}}}},"404":{"description":"`Not Found`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"NotFoundResponse":{"value":{"message":"not found"}}}}}}},"security":[{"api_key":[]}]}},"/v1/projects/{project-key}/jobs/{job-id}":{"get":{"tags":["Test Cases"],"summary":"Query job status.","description":"## Query the status of an asynchronous job to create or import test case(s).","parameters":[{"name":"job-id","in":"path","description":"The job ID returned from the import request endpoint.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the test creation job status.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"enum":["Pending","InProgress","Completed","Failed"],"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"errorMessage":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"elementDataErrors":{"type":"object","properties":{"errorMessages":{"type":"array","items":{"type":"string"},"nullable":true},"errors":{"type":"object","additionalProperties":{"type":"string","nullable":true},"nullable":true}},"additionalProperties":false},"failedElementNumber":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false},"nullable":true},"issues":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","nullable":true},"key":{"type":"string","nullable":true},"self":{"type":"string","nullable":true}},"additionalProperties":false},"nullable":true}},"additionalProperties":false},"examples":{"Pending job":{"value":{"status":"Pending"}},"In progress job":{"value":{"status":"InProgress"}},"Completed job":{"value":{"status":"Completed","issues":[{"id":"10000","key":"Key-1","self":"https://URL/rest/api/2/issue/10000"},{"id":"10001","key":"Key-2","self":"https://URL/rest/api/2/issue/10001"},{"id":"10002","key":"Key-3","self":"https://URL/rest/api/2/issue/10002"}]}},"Failed job":{"value":{"status":"Failed","errors":[{"errorMessage":"Please specify only of of the parameters - folder id or folder"},{"errorMessage":"Found validation issue in test at index 0: Manual test can't include the automation field"},{"status":400,"elementDataErrors":{"errorMessages":[],"errors":{"issuetype":"The issue type selected is invalid.","project":"Sub-tasks must be created in the same project as the parent."}},"failedElementNumber":0}]}}}}}},"400":{"description":"`Invalid parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"BadDataResponse":{"value":{"message":"bad data"}}}}}},"401":{"description":"`Unauthorized`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"UnauthorizedResponse":{"value":{"message":"unauthorized"}}}}}},"404":{"description":"`Not Found`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"NotFoundResponse":{"value":{"message":"not found"}}}}}}},"security":[{"api_key":[]}]}},"/v1/projects/{project-key}/test-cases/{key}":{"put":{"tags":["Test Cases"],"summary":"Update test case.","description":"## Update existing test case.\r\n            \r\n* **fields**: The native Jira fields in a test case. Only the following fields are available (for the rest please use native Jira API):\r\n    * **summary** _(optional)_: The Summary of the test case in Jira. To remove the summary, provide an empty string.\r\n    * **description** _(optional)_: The Description of the test case in Jira. To remove the description, provide an empty string.\r\n    * **priority** _(optional)_: The Priority of the test case in Jira.\r\n    * **labels** _(optional)_: The Labels of the test case in Jira.\r\n* **ttmFields**: These are the Jira fields provided by the Tricentis Test Management for Jira plugin. The following fields are available:\r\n    * **precondition** _(optional)_: The precondition for a test case. To remove the precondition, provide an empty string.\r\n    * **steps** _(optional)_: The list of steps for the test case. To remove all steps, provide an empty list.\r\n        * **description** _(mandatory)_: Step description.\r\n        * **expectedResult** _(optional)_: Step expected result.\r\n        * **data** _(optional)_: Step data.\r\n* **folder** _(optional)_: Specify the folder path where you want to move the test case. A path is a string of concatenated parts separated by a slash \"/\". Ignored if folderId specified.\r\n* **folderId** _(optional)_: Specify a unique ID associated with the folder in the TTM database, which specifies where the test case should be moved. When specified folder field will be ignored.","parameters":[{"name":"key","in":"path","description":"The jira key of the test.","required":true,"schema":{"type":"string"}},{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The data to update in the test.","content":{"application/json":{"schema":{"type":"object","properties":{"fields":{"type":"object","properties":{"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"priority":{"type":"string","nullable":true},"labels":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false},"ttmFields":{"type":"object","properties":{"precondition":{"type":"string","nullable":true},"steps":{"type":"array","items":{"required":["description"],"type":"object","properties":{"description":{"minLength":1,"type":"string"},"expectedResult":{"type":"string","nullable":true},"data":{"type":"string","nullable":true}},"additionalProperties":false},"nullable":true}},"additionalProperties":false},"folder":{"type":"string","nullable":true},"folderId":{"type":"string","format":"uuid","nullable":true}},"additionalProperties":false},"examples":{"Update test request":{"value":{"fields":{"summary":"New test summary","description":"New test description","priority":"Low","labels":["Mylabel"]},"ttmFields":{"precondition":"New test precondition","steps":[{"description":"Another step","expectedResult":"Another expected result","data":"Another data"},{"description":"Another step 2"}]},"folder":"My Folder/Subfolder","folderId":"62236dad-ae0f-42a0-a0cc-01a16b679577"}}}}}},"responses":{"200":{"description":"Updated test case.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","nullable":true},"key":{"type":"string","nullable":true},"project":{"type":"string","nullable":true},"testCategory":{"type":"string","nullable":true},"testType":{"enum":["Manual","Automated"],"type":"string"},"fields":{"type":"object","properties":{"components":{"type":"array","items":{"type":"string"},"nullable":true},"summary":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"priority":{"type":"string","nullable":true},"labels":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false},"customFields":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"value":{"nullable":true}},"additionalProperties":false},"nullable":true},"ttmFields":{"type":"object","properties":{"precondition":{"type":"string","nullable":true},"steps":{"type":"array","items":{"type":"object","additionalProperties":false},"nullable":true}},"additionalProperties":false},"requirements":{"type":"array","items":{"type":"string"},"nullable":true},"folder":{"type":"string","nullable":true},"folderId":{"type":"string","format":"uuid","nullable":true},"automation":{"type":"object","properties":{"name":{"type":"string","nullable":true},"externalId":{"type":"string","nullable":true},"content":{"type":"string","nullable":true}},"additionalProperties":false}},"additionalProperties":false},"examples":{"Updated test":{"value":{"fields":{"summary":"Test 1 status","description":"Test 1 description","priority":"High","labels":["MyLabel"]},"ttmFields":{"precondition":"A precondition","steps":[{"description":"Login","expectedResult":"Login should work"},{"description":"Logout","expectedResult":"Logout should work"}]},"folder":"parent folder/child folder","folderId":"74df2886-2780-4c68-b8f7-991e781bea00"}}}}}},"400":{"description":"`Invalid parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"BadDataResponse":{"value":{"message":"bad data"}}}}}},"401":{"description":"`Unauthorized`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"UnauthorizedResponse":{"value":{"message":"unauthorized"}}}}}},"404":{"description":"`Not Found`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"NotFoundResponse":{"value":{"message":"not found"}}}}}}},"security":[{"api_key":[]}]},"delete":{"tags":["Test Cases"],"summary":"Delete test case(s).","description":"## Delete test case(s).","parameters":[{"name":"key","in":"path","description":"The Jira id or key of the test.","required":true,"schema":{"type":"string"}},{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted test case."},"400":{"description":"`Invalid parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"BadDataResponse":{"value":{"message":"bad data"}}}}}},"401":{"description":"`Unauthorized`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"UnauthorizedResponse":{"value":{"message":"unauthorized"}}}}}},"404":{"description":"`Not Found`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"NotFoundResponse":{"value":{"message":"not found"}}}}}}},"security":[{"api_key":[]}]}},"/v1/projects/{project-key}/test-cases/{key}/automation":{"put":{"tags":["Test Cases"],"summary":"Add or update automation content for a test case.","description":"## Add or update automation content and details for a test case.\r\n            \r\n#### Body fields:\r\n            \r\n* **name**: The name of the automation for the test case.\r\n* **externalId** _(optional)_: The external Id of the automated test from the external automation system.\r\n* **key**: The Jira key of the test case .","parameters":[{"name":"key","in":"path","description":"The Jira issue key for the Test Case.","required":true,"schema":{"type":"string"}},{"name":"confirmation","in":"query","description":"<br>Changing a test case from Manual to Automated overwrites your precondition and test steps.\r\n<br> Select True to confirm that you want to delete the precondition and test steps from the test case.","schema":{"type":"boolean","default":false}},{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"API body payload to update a test case and add automation.","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","nullable":true},"externalId":{"type":"string","nullable":true},"content":{"type":"string","nullable":true}},"additionalProperties":false},"examples":{"Update test automation request":{"value":{"name":"Automation name","externalId":"12345","content":"Automation content"}}}}}},"responses":{"200":{"description":"Updated automation content for test case."},"400":{"description":"`Invalid parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"BadDataResponse":{"value":{"message":"bad data"}}}}}},"401":{"description":"`Unauthorized`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"UnauthorizedResponse":{"value":{"message":"unauthorized"}}}}}},"404":{"description":"`Not Found`.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"NotFoundResponse":{"value":{"message":"not found"}}}}}}},"security":[{"api_key":[]}]}},"/v1/projects/{project-key}/test-runs/{test-run-key}/attachments":{"get":{"tags":["Attachments"],"summary":"Get attachment of a test run.","parameters":[{"name":"test-run-key","in":"path","description":"Test Run Key.","required":true,"schema":{"type":"string"}},{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Numeric value that determines that maximum N results will be returned","schema":{"type":"Integer","default":10,"example":10}},{"name":"offset","in":"query","description":"Numeric value that determines that the result list will start from result #N (zero based)","schema":{"type":"Integer","default":0,"example":0}}],"responses":{"400":{"description":"`Invalid parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"BadDataResponse":{"value":{"message":"bad data"}}}}}},"401":{"description":"`Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"UnauthorizedResponse":{"value":{"message":"unauthorized"}}}}}},"404":{"description":"`Not Found.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"NotFoundResponse":{"value":{"message":"not found"}}}}}}},"security":[{"api_key":[]}]},"post":{"tags":["Attachments"],"summary":"Upload attachment to a test run.","description":"## Initiate the attachment upload process for a test run.\r\n   Max Attachments Size allowed is 50MB (Per attachment).\r\n### After you use this endpoint, you need to do the following:\r\n* Send a PUT request to the S3 link with the attachment as binary data to upload the attachment file with the information received.\r\n* Confirm the upload is finished with the PUT request v1/projects/{project-key}test-runs/attachments/{id}.","parameters":[{"name":"test-run-key","in":"path","description":"Test Run Key.","required":true,"schema":{"type":"string"}},{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"attachmentRequestApiData.","content":{"application/json":{"schema":{"type":"object","properties":{"fileName":{"type":"string","nullable":true},"mimeType":{"type":"string","nullable":true},"size":{"type":"integer","format":"int64"}},"additionalProperties":false},"examples":{"AttachmentRequestApiData":{"value":{"fileName":"file.zip","mimeType":"application/zip","size":5235}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"uploadUrl":{"type":"string","nullable":true},"finishUrl":{"type":"string","nullable":true}},"additionalProperties":false},"examples":{"AttachmentUploadingResponse":{"value":{"id":"a3488deb-ce00-442a-8b13-baec4bf9dabe","uploadUrl":"S3 link","finishUrl":"v1/projects/DE/test-runs/attachments/a3488deb-ce00-442a-8b13-baec4bf9dabe"}}}}}},"400":{"description":"`Invalid parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"BadDataResponse":{"value":{"message":"bad data"}}}}}},"401":{"description":"`Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"UnauthorizedResponse":{"value":{"message":"unauthorized"}}}}}},"404":{"description":"`Not Found.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"NotFoundResponse":{"value":{"message":"not found"}}}}}}},"security":[{"api_key":[]}]}},"/v1/projects/{project-key}/test-runs/attachments/{attachmentId}":{"get":{"tags":["Attachments"],"summary":"Get attachment link.","parameters":[{"name":"attachmentId","in":"path","description":"The attachment Id.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"`Invalid parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"BadDataResponse":{"value":{"message":"bad data"}}}}}},"401":{"description":"`Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"UnauthorizedResponse":{"value":{"message":"unauthorized"}}}}}},"404":{"description":"`Not Found.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"NotFoundResponse":{"value":{"message":"not found"}}}}}}},"security":[{"api_key":[]}]}},"/v1/projects/{project-key}/test-runs/{test-run-key}/steps/{step-number}/attachments":{"post":{"tags":["Attachments"],"summary":"Upload attachment to a test run step.","description":"## Initiate the attachment upload process for a test run step.\r\n   Max Attachments Size allowed is 50MB (Per attachment).\r\n### After you use this endpoint, you need to do the following:\r\n* Send a PUT request to the S3 link with the attachment as binary data to upload the attachment file with the information received.\r\n* Confirm the upload is finished with the PUT request v1/projects/{project-key}test-runs/attachments/{id}.","parameters":[{"name":"test-run-key","in":"path","description":"Test Run Key.","required":true,"schema":{"type":"string"}},{"name":"step-number","in":"path","description":"Step index.","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"attachmentRequestApiData.","content":{"application/json":{"schema":{"type":"object","properties":{"fileName":{"type":"string","nullable":true},"mimeType":{"type":"string","nullable":true},"size":{"type":"integer","format":"int64"}},"additionalProperties":false},"examples":{"AttachmentRequestApiData":{"value":{"fileName":"file.zip","mimeType":"application/zip","size":5235}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"uploadUrl":{"type":"string","nullable":true},"finishUrl":{"type":"string","nullable":true}},"additionalProperties":false},"examples":{"AttachmentUploadingResponse":{"value":{"id":"310c521f-3b79-40d6-8cfa-6ba8426d8ff4","uploadUrl":"S3 link","finishUrl":"v1/projects/DE/test-runs/attachments/310c521f-3b79-40d6-8cfa-6ba8426d8ff4"}}}}}},"400":{"description":"`Invalid parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"BadDataResponse":{"value":{"message":"bad data"}}}}}},"401":{"description":"`Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"UnauthorizedResponse":{"value":{"message":"unauthorized"}}}}}},"404":{"description":"`Not Found.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"NotFoundResponse":{"value":{"message":"not found"}}}}}}},"security":[{"api_key":[]}]}},"/v1/projects/{project-key}/test-runs/attachments/{id}":{"put":{"tags":["Attachments"],"summary":"Query if attachment is uploaded to storage.","description":"## Query if the attachment file was successfully uploaded to storage.\r\n            \r\nUse this to confirm the following:\r\n* Upload information was received from **POST** v1/projects/{project-key}/test-runs/{test-run-key}/attachments\r\n* The file successfully uploaded to storage as binary data.","parameters":[{"name":"id","in":"path","description":"Attachment Id.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"},"400":{"description":"`Invalid parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"BadDataResponse":{"value":{"message":"bad data"}}}}}},"401":{"description":"`Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"UnauthorizedResponse":{"value":{"message":"unauthorized"}}}}}},"404":{"description":"`Not Found.","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"examples":{"NotFoundResponse":{"value":{"message":"not found"}}}}}}},"security":[{"api_key":[]}]}},"/v1/projects/{project-key}/cycles":{"post":{"tags":["Cycles"],"summary":"Create cycle(s).","description":"## Create cycle(s).\r\n##### Note: Release versions are managed in Jira.\r\n            \r\n#### Body fields:\r\n* **cycles** _(mandatory)_: Provide a list of cycles, with each test having the following fields:\r\n    * **name** _(mandatory)_: name of the cycle.\r\n    * **version** _(optional)_: cycle's version (if not provided the version will be under 'unversioned').\r\n    * **assignee** _(optional)_: the username or email which the cycle will be assigned to.\r\n    * **plannedStartDate** _(optional)_: the cycle planned start date.\r\n    * **plannedEndDate** _(optional)_: the cycle planned end date.\r\n    * **fields** _(optional)_: list of fields of the cycle.\r\n    Only Environments and Builds are allowed. AllowedValueName must be provided.\r\n        * **schemeName** _(mandatory)_: the scheme name of the field (for example Environments).\r\n        * **allowedValueName** _(mandatory)_: the allowed value of the scheme (for example Development).","parameters":[{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"cyclesApiData.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","nullable":true},"assignee":{"type":"string","nullable":true},"plannedStartDate":{"type":"string","format":"date-time","nullable":true},"plannedEndDate":{"type":"string","format":"date-time","nullable":true},"fields":{"type":"array","items":{"type":"object","properties":{"schemeId":{"type":"string","format":"uuid"},"schemeType":{"enum":["List","String"],"type":"string"},"schemeName":{"type":"string","nullable":true},"alloweValueId":{"type":"string","format":"uuid","nullable":true},"allowedValueName":{"type":"string","nullable":true},"value":{"type":"string","nullable":true}},"additionalProperties":false},"nullable":true},"version":{"type":"string","nullable":true}},"additionalProperties":false}},"examples":{"CyclesCreationApiData":{"value":[{"version":"1.0.0","name":"My Cycle"},{"name":"My Second Cycle","plannedStartDate":"2026-08-01T12:59:08.7785351Z","plannedEndDate":"2026-08-02T12:59:08.7785345Z"},{"name":"My Third Cycle","fields":[{"schemeName":"Environments","allowedValueName":"Development"},{"schemeName":"Builds","allowedValueName":"1.9.9"}]}]}}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","nullable":true},"name":{"type":"string","nullable":true},"parentId":{"type":"string","format":"uuid","nullable":true},"plannedStartDate":{"type":"string","format":"date-time","nullable":true},"plannedEndDate":{"type":"string","format":"date-time","nullable":true},"assignee":{"type":"string","nullable":true},"version":{"type":"object","properties":{"id":{"type":"string","format":"uuid","nullable":true},"jiraId":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"fields":{"type":"array","items":{"type":"object","properties":{"schemeId":{"type":"string","format":"uuid"},"schemeType":{"enum":["List","String"],"type":"string"},"schemeName":{"type":"string","nullable":true},"alloweValueId":{"type":"string","format":"uuid","nullable":true},"allowedValueName":{"type":"string","nullable":true},"value":{"type":"string","nullable":true}},"additionalProperties":false},"nullable":true}},"additionalProperties":false}},"examples":{"CyclesApiDataResponseExample":{"value":[{"name":"My Cycle","version":{"name":"1.0.0"}},{"name":"My Second Cycle","plannedStartDate":"2026-08-01T12:59:08.7786418Z","plannedEndDate":"2026-08-02T12:59:08.7786417Z","version":{"name":"UNVERSIONED"}},{"name":"My Third Cycle","version":{"name":"UNVERSIONED"},"fields":[{"schemeName":"Environments","allowedValueName":"Development"},{"schemeName":"Builds","value":"1.9.9"}]}]}}}}},"400":{"description":"`Invalid parameters`."},"401":{"description":"Unauthorized"},"404":{"description":"`Not Found`."}},"security":[{"api_key":[]}]}},"/v1/projects/{project-key}/cycles/{cycleId}":{"put":{"tags":["Cycles"],"summary":"Update cycle.","description":"## Update cycle.\r\n##### Note: Release versions are managed in Jira.\r\n            \r\n#### Body fields:\r\n* **cycle** : Provide the cycle details to update:\r\n    * **name** _(optional)_: name of the cycle.\r\n    * **assignee** _(optional)_: the username or email which the cycle will be assigned to.\r\n    * **plannedStartDate** _(optional)_: the cycle planned start date.\r\n    * **plannedEndDate** _(optional)_: the cycle planned end date.\r\n    * **fields** _(optional)_: list of fields of the cycle.\r\n    Only Environments and Builds are allowed. AllowedValueName must be provided.\r\n        * **schemeName** _(mandatory)_: the scheme name of the field (for example Environments).\r\n        * **allowedValueName** _(mandatory)_: the allowed value of the scheme (for example Development).","parameters":[{"name":"cycleId","in":"path","description":"cycleId.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"cyclesApiData.","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","nullable":true},"assignee":{"type":"string","nullable":true},"plannedStartDate":{"type":"string","format":"date-time","nullable":true},"plannedEndDate":{"type":"string","format":"date-time","nullable":true},"fields":{"type":"array","items":{"type":"object","properties":{"schemeId":{"type":"string","format":"uuid"},"schemeType":{"enum":["List","String"],"type":"string"},"schemeName":{"type":"string","nullable":true},"alloweValueId":{"type":"string","format":"uuid","nullable":true},"allowedValueName":{"type":"string","nullable":true},"value":{"type":"string","nullable":true}},"additionalProperties":false},"nullable":true}},"additionalProperties":false},"examples":{"CycleUpdateApiData":{"value":{"name":"My Third Cycle","assignee":"My User","plannedStartDate":"2026-08-01T12:59:08.780012Z","plannedEndDate":"2026-08-02T12:59:08.7800117Z","fields":[{"schemeName":"Environments","allowedValueName":"Development"},{"schemeName":"Builds","allowedValueName":"1.9.9"}]}}}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","nullable":true},"name":{"type":"string","nullable":true},"parentId":{"type":"string","format":"uuid","nullable":true},"plannedStartDate":{"type":"string","format":"date-time","nullable":true},"plannedEndDate":{"type":"string","format":"date-time","nullable":true},"assignee":{"type":"string","nullable":true},"version":{"type":"object","properties":{"id":{"type":"string","format":"uuid","nullable":true},"jiraId":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"fields":{"type":"array","items":{"type":"object","properties":{"schemeId":{"type":"string","format":"uuid"},"schemeType":{"enum":["List","String"],"type":"string"},"schemeName":{"type":"string","nullable":true},"alloweValueId":{"type":"string","format":"uuid","nullable":true},"allowedValueName":{"type":"string","nullable":true},"value":{"type":"string","nullable":true}},"additionalProperties":false},"nullable":true}},"additionalProperties":false},"examples":{"CycleUpdateApiDataResponseExample":{"value":{"name":"My Third Cycle","plannedStartDate":"2026-08-01T12:59:08.7800949Z","plannedEndDate":"2026-08-02T12:59:08.7800948Z","version":{"name":"1.0.0"},"fields":[{"schemeName":"Environments","allowedValueName":"Development"},{"schemeName":"Builds","value":"1.9.9"}]}}}}}},"400":{"description":"`Invalid parameters`."},"401":{"description":"Unauthorized"},"404":{"description":"`Not Found`."}},"security":[{"api_key":[]}]}},"/v1/projects/{project-key}/cycles/search":{"get":{"tags":["Cycles"],"summary":"Get cycles.","description":"## Get cycle(s).\r\n##### Note: Release versions are managed in Jira.\r\n            \r\n#### Query parameter fields:\r\n* **cycle** : Provide the cycle details to filter by:\r\n    * **name** _(optional)_: filter cycles that contains name.\r\n    * **version** _(optional)_: cycle's version (if not provided the default value is 'unversioned').\r\n    * **assignee** _(optional)_: the username or email which the cycle is assigned to.","parameters":[{"name":"name","in":"query","description":"name.","schema":{"type":"string"}},{"name":"version","in":"query","description":"version.","schema":{"type":"string"}},{"name":"assignee","in":"query","description":"assignee.","schema":{"type":"string"}},{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Numeric value that determines that maximum N results will be returned","schema":{"type":"Integer","default":10,"example":10}},{"name":"offset","in":"query","description":"Numeric value that determines that the result list will start from result #N (zero based)","schema":{"type":"Integer","default":0,"example":0}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","nullable":true},"name":{"type":"string","nullable":true},"parentId":{"type":"string","format":"uuid","nullable":true},"plannedStartDate":{"type":"string","format":"date-time","nullable":true},"plannedEndDate":{"type":"string","format":"date-time","nullable":true},"assignee":{"type":"string","nullable":true},"version":{"type":"object","properties":{"id":{"type":"string","format":"uuid","nullable":true},"jiraId":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"fields":{"type":"array","items":{"type":"object","properties":{"schemeId":{"type":"string","format":"uuid"},"schemeType":{"enum":["List","String"],"type":"string"},"schemeName":{"type":"string","nullable":true},"alloweValueId":{"type":"string","format":"uuid","nullable":true},"allowedValueName":{"type":"string","nullable":true},"value":{"type":"string","nullable":true}},"additionalProperties":false},"nullable":true}},"additionalProperties":false}},"examples":{"CyclesApiDataResponseExample":{"value":[{"name":"My Cycle","version":{"name":"1.0.0"}},{"name":"My Second Cycle","plannedStartDate":"2026-08-01T12:59:08.7812546Z","plannedEndDate":"2026-08-02T12:59:08.7812544Z","version":{"name":"UNVERSIONED"}},{"name":"My Third Cycle","version":{"name":"UNVERSIONED"},"fields":[{"schemeName":"Environments","allowedValueName":"Development"},{"schemeName":"Builds","value":"1.9.9"}]}]}}}}},"400":{"description":"`Invalid parameters`."},"401":{"description":"Unauthorized"},"404":{"description":"`Not Found`."}},"security":[{"api_key":[]}]}},"/v1/projects/{project-key}/test-runs/{test-run-key}/defects":{"post":{"tags":["Defects"],"summary":"Create defects and link to test run.","description":"## Create defects and link to test run.\r\n##### Note: In case issue type won't be provided, default value will be \"Bug\" issue type.\r\n            \r\n#### Query parameters:\r\n* **stepIndex** _(optional)_: if step index will be provided, the defect will be linked to the step.\r\n            \r\n#### Body fields:\r\n* **summary** _(mandatory)_: the defect summary.\r\n* **description** _(optional)_: the defect description.\r\n* **issueType** _(optional)_: the defect issue type (for example: Task, Bug, etc..).","parameters":[{"name":"test-run-key","in":"path","description":"Test Run Key.","required":true,"schema":{"type":"string"}},{"name":"stepIndex","in":"query","description":"stepIndex .","sc
[...]
